[2020-12-15 03:33] andyzhangx commented on #597
looks like that snapshot disk is broken when snapshot taken on attached and mounted disk on Ubuntu VM:
[code]

[2020-12-15 05:55] nearora-msft commented on #378
Working on this task.

[2020-12-15 05:56] nearora-msft commented on #378
/assign

[2020-12-15 06:36] andyzhangx commented on #500
just type `/assign` in this issue comment.

[2020-12-15 06:37] andyzhangx commented on #579
just type `/assign` in this issue comment.

[2020-12-15 08:04] andyzhangx opened #616 "switch azure cloud provider lib"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b51e5b32408d53d0f7ceec17237019ae1f30d992/go.mod#L60

depends on PR: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/433

**Describe alternatives you've considered**

**Additional context**

[2020-12-15 17:53] mukhoakash commented on #577
/assign

[2020-12-15 21:42] Jiawei0227 commented on #597
Another experiment we did:

Manually detach and re-attach the disk to the node from Azure console. The disk is still shown as `/dev/xxx is in use`. So it is indeed possible this is a broken snapshot.

[2020-12-15 23:21] landreasyan commented on #500
/assign

[2020-12-16 07:28] nearora-msft opened #617 "Add Unit Tests for ListVolumes API"
**Is your feature request related to a problem?/Why is this needed**
Implement Unit Tests for ListVolumes API

**Describe the solution you'd like in detail**
The TestListVolumes UT in the controllerserver_test.go file is skipped for now as it is dependent on some changes in the legacy-cloud-provider.(https://github.com/kubernetes/kubernetes/issues/97341)   Make the code changes for the UT once the

[2020-12-16 12:59] andyzhangx opened #622 "upgrade sanity-test to v4.0.2 and fix 5 test failures"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

WIP PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/620
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/620/pull-azuredisk-csi-driver-sanity/1339186222437765120

There are 5 failures:

[code]

**Describe alternatives

[2020-12-16 13:42] andyzhangx opened #625 "improve unit test coverage of nodeserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Should add more unit tests for `NodeExpandVolume` func:
https://coveralls.io/builds/35694161/source?filename=pkg/azuredisk/nodeserver.go

**Describe alternatives you've considered**

**Additional context**

[2020-12-16 21:42] edreed commented on #615
/assign

[2020-12-16 21:57] abhisheksinghbaghel commented on #597
@Jiawei0227 I am trying to set-up a repro for this. Can you share a few more details related to your environment set-up:
1. How are you provisioning your aks\aks-engine cluster? What is the size of cluster you're using?
2. How are you deploying the azure-disk csi driver, az cli + azure, help, script etc?
2. How\where you're running the test from? kubetest etc.?

[2020-12-16 22:22] Jiawei0227 commented on #597
Hey @abhisheksinghbaghel Thanks for your help on this!

1. I am installing k8s on the azure vm. So it's not an Azure managed kubernetes service. My cluster is very small, it's a 3 control-plane kubernetes cluster with a nodepool of size 2.
2. I am deploying the azure-disk driver follow the csi deployment instruction so it's not really much difference.
3. I am running the kubernetes testsuite snaps

[2020-12-16 22:24] Jiawei0227 commented on #597
And I might also give you a heads-up that the test is flaky so you might need to run it several times to get a failure. The failure rate for me is like 40%-60%

[2020-12-17 08:11] abhisheksinghbaghel commented on #597
Thanks @Jiawei0227. The step #3 above helped. I ran tests one time, but didn't get a repro.
I am going to let the test run and check for repro in the morning.

Given your description, it feels like that there's a race condition which is causing the conflict during fsck run.
A repro would be more telling, but if you get a chance, try mounting the disk created from the snapshot to a different path (

[2020-12-17 08:31] #616 closed

[2020-12-17 11:14] LostinCloud commented on #528
I had similar issue with PVC size which is cloned from orginal pvc which has less size.

I have performed a work around mount volume and executed  resize2fs /dev/sdc1 command on filesystem in AKS nodes. It worked for me.

[2020-12-17 16:49] edreed commented on #381
/assign

[2020-12-17 17:15] Jiawei0227 commented on #597
@abhisheksinghbaghel Thanks! Please let me know if you could repro.

We have tried detach and re-attach the disk manually from Azure console, it still says the disk is in use.

[2020-12-17 23:30] edreed opened #630 "Fix default Docker registry prefix generation for `make push-manifest`"
**What happened**:

Using `make push-manifest` to publish private images to my personal Docker Hub repository fails with the following error:

[code]

**What you expected to happen**:

It should successfully generate the manifest and push to the target image label.

**How to reproduce it**:

See example above.

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernete

[2020-12-17 23:30] edreed commented on #630
/assign

[2020-12-18 05:21] abhisheksinghbaghel commented on #597
@Jiawei0227 I gave it a day to repro this, but no luck. I'll continue to try for another day. I have a similar set-up except for the fact that I am using aks.

So for next steps:
1. Are you using a special kubernetes distribution?
2. Next time you get a repro, can you share full logs for the csi-azuredisk-controller, csi-azuredisk-node, csi-snapshot-controller and test (with timestamps and the ori

[2020-12-18 05:40] #365 closed

[2020-12-18 07:40] nearora-msft opened #632 "ListVolumes API doesn't list the volumes that are created in an external resource group"
**What happened**:
ListVolumes API doesn't list the volumes that are created in a different resource group

**What you expected to happen**:
ListVolumes API should list all the disks that are attached to the nodes in a resource group

**How to reproduce it**:

**Anything else we need to know?**:
With azuredisk csi driver, disks might get created in different resource groups. The current implementa

[2020-12-18 07:47] nearora-msft opened #633 "Enable the "should return appropriate capabilities" sanity test"
**What happened**:
A sanity test(should return appropriate capabilities) is disabled as part of PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/618)

**What you expected to happen**:
The test should be enabled

**How to reproduce it**:

**Anything else we need to know?**:
Dependent on https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/622

**Environment**:
- CSI Driver

[2020-12-19 10:06] abhisheksinghbaghel commented on #547
/assign

[2020-12-20 00:58] #630 closed

[2020-12-21 04:50] #460 closed

[2020-12-21 12:01] nearora-msft commented on #622
/assign

[2020-12-21 18:34] Jiawei0227 commented on #597
1. I am using k8s v1.18.6 so I dont think there is anything special...
2. I will try again maybe early Jan
3. I am using the latest version azuredisk-csi-driver build from my local

I will try again with aks and see if that makes a difference. It is very easy to repro in my previous environment but let me switch to a new one. Thanks!

[2020-12-22 03:02] #381 closed

[2020-12-22 03:16] andyzhangx commented on #559
created a PR to upgrade to 2020-06-30/compute go sdk first:
https://github.com/kubernetes-sigs/cloud-provider-azure/pull/444

[2020-12-23 02:23] andyzhangx commented on #615
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/f2c303b9a92395af675b61c88b49884f19c74418

[2020-12-23 02:23] #615 closed

[2020-12-23 04:30] #378 closed

[2020-12-23 11:53] ezYakaEagle442 opened #638 "CSI Driver support for Azure Stack HCI/AKS VHD"
Does the Azure Disk CSI Driver support the VHD used by AKS running on-prem on top of Azure Stack HCI ?

[2020-12-23 12:31] nearora-msft opened #639 "Set ErrorCode from Internal to NotFound for NodeExpandVolume Failure"
**What happened**:
NodeExpandVolume call sets the error code to Internal when it fails to determine device path for volume path

**What you expected to happen**:
ErrorCode should be NotFound so that the latest sanity tests work properly

**How to reproduce it**:

**Anything else we need to know?**:
Related to : https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/622

**Environment**:
-

[2020-12-23 13:33] andyzhangx commented on #638
when do you mean `VHD used by AKS`? As I know, AKS would only provide Ubuntu 16.04 and 18.04 nodes with Ubuntu 16.04 and 18.04 VHD.

And Azure Disk CSI Driver supports Azure Stack now, @songjiaxun is working on this.

[2020-12-24 05:10] #639 closed

[2020-12-24 09:54] nearora-msft opened #641 "ListSnapshots returns all the snapshots when a specific VolumeId is given"
**What happened**:
ListSnapshots returns all the snapshots in an rg even when a specific volumeId is given

**What you expected to happen**:
ListSnapshots  should return only the snapshots made for that particular volume whose volumeId is given in request

**How to reproduce it**:

**Anything else we need to know?**:
This is causing one of the failures mentioned in #622

**Environment**:
- CSI Dri

[2020-12-24 13:54] #641 closed

[2020-12-25 12:17] andyzhangx commented on #622
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/643 would fix following failure:
[code]

[2020-12-25 14:20] #633 closed

[2020-12-26 13:37] andyzhangx commented on #622
it's done

[2020-12-26 13:37] #622 closed

[2020-12-28 06:38] nearora-msft commented on #559
/assign

[2020-12-28 06:43] andyzhangx commented on #559
@nearora-msft I have already upgraded go sdk to 2020-06-30 in this repo, so you could work on this now.
To create an AKS cluster with Ultra Disk support, follow this guide: https://docs.microsoft.com/en-us/azure/aks/use-ultra-disks

[2020-12-28 17:24] ezYakaEagle442 commented on #638
To clarify, I do not refer to Azure stack Hub, the scenario I think about is :

1. Azure Stack HCI is deployed, the [docs states](https://docs.microsoft.com/en-us/azure-stack/hci/overview) _If you plan to use Software Defined Networking (SDN), you'll need a virtual hard disk (VHD) for the Azure Stack HCI operating system to create Network Controller VMs_
2. AKS is deployed on top of it
3. In the a

[2020-12-28 17:31] ezYakaEagle442 commented on #638
I have also seen [https://github.com/Azure/aks-hci/issues/54](https://github.com/Azure/aks-hci/issues/54

[2020-12-29 01:41] andyzhangx commented on #638
not sure what this CSI driver supports HCI or not, I think you could try on a k8s cluster first : https://github.com/kubernetes-sigs/azuredisk-csi-driver#install-driver-on-a-kubernetes-cluster

[2020-12-29 02:23] andyzhangx commented on #579
looks like there is no way to get `kubernetes.io-created-for-pvc-name`, `kubernetes.io-created-for-pvc-namespace` in CSI CreateVolume interface.

[2020-12-29 10:05] andyzhangx commented on #553
this issue still happened recently:
[code]

[code]

[2020-12-29 12:13] #579 closed

[2020-12-29 16:54] kassarl commented on #625
/assign

[2020-12-29 18:01] sunpa93 commented on #434
/assign

[2020-12-31 07:29] #570 closed

[2021-01-01 01:48] #531 closed

[2021-01-04 09:21] #617 closed

[2021-01-04 15:23] ezYakaEagle442 commented on #638
I have found this [MS blog](https://techcommunity.microsoft.com/t5/azure-stack-blog/azure-kubernetes-service-on-azure-stack-hci-deliver-storage/ba-p/1703996) explaining tha tthe Storage Class to use with the HCI Software Defined Storage "Storage spaces Direct" is : msvhd

[2021-01-05 05:53] nearora-msft commented on #427
/assign

[2021-01-05 06:53] andyzhangx opened #656 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

we don't correctly handle concurrent processing of NodeUnstage call if a previous NodeStage was in-progress and same thing applies to NodeUnpublish call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://githu

[2021-01-06 04:34] nearora-msft commented on #656
/assign

[2021-01-06 06:13] #427 closed

[2021-01-06 08:19] andyzhangx opened #658 "Redhat(Openshift) support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

To support Redhat, ssl mount path should be `/etc/pki/tls/certs`, need to make this ssl mount path configurable in charts:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/d95c8ebc51834ec63493495c4c359ba5a6b98a00/charts/latest/azuredisk-csi-driver/templates/csi-azuredis

[2021-01-06 08:21] andyzhangx commented on #658
also related to https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/610

[2021-01-07 12:54] ezYakaEagle442 opened #662 "Driver install fails on Azure RedHat OpenShift"
**What happened**:

I have installed the driver Master version on my ARO 4.5 Cluster, I do not think my snippet has changed, today the driver failed to install.

[code]
[code]

[code]

[code]

**What you expected to happen**:

Install should be sucessfullu cimpleted with all pods up & running

**How to reproduce it**:

[code]
**Anything else we need to know?**:

see also [https://github.com/kubern

[2021-01-07 12:55] ezYakaEagle442 commented on #662
[code]

[code]

[2021-01-07 13:01] ezYakaEagle442 commented on #662
[code]

[code]

[2021-01-07 13:03] andyzhangx commented on #662
`d.cloud.DisksClient` is nil because your `/etc/kubernetes/cloud.conf` does not have Azure Credentials, even it won't crash, controller cannot talk to Azure since there is no Azure credential.

[code]

[2021-01-07 13:04] andyzhangx commented on #662
it failed here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/v0.10.0/pkg/azuredisk/controllerserver.go#L556

[2021-01-07 13:09] ezYakaEagle442 commented on #662
Hi @andyzhangx , thanks for your quick reply indeed aadClientId & aadClientSecret are not displayed on the file /etc/kubernetes/cloud.conf , what shall I do then to have the correct required configuration ?

[code]

[2021-01-07 13:17] ezYakaEagle442 commented on #662
shall create a new Secret ?
[code]

[2021-01-07 13:19] andyzhangx commented on #662
you cloud.conf format could be wrong, refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/azure.json
[code]

[2021-01-07 13:21] ezYakaEagle442 commented on #662
no, I have checked deploy/cloud.conf  is correct, but I do nothing with this file as I expected the Driver to use the ConfigMap, and as the secret azure-cloud-provider is created by default in ARO, shall override it with the content of my deploy/cloud.conf ?

[2021-01-07 13:37] andyzhangx commented on #662
yes, follow this guide: https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/#setting-azure-cloud-provider-from-kubernetes-secrets
configMap is only for configuring different `/etc/kubernetes/azure.json` path for controller to read on the node, this driver would read `azure-cloud-provider` secret first, it looks like your secret has sp, while does not have tenentID or subscriptio

[2021-01-07 14:03] ezYakaEagle442 commented on #662
thanks @andyzhangx  I have updated my repo at [https://github.com/ezYakaEagle442/aro-pub-storage/](https://github.com/ezYakaEagle442/aro-pub-storage/)

I have created this template file ./cnf/azure-cloud-provider.yaml
[code]

[code]

[code]

[code]

[code]

[code]

This issue looks like #658

[2021-01-07 14:07] andyzhangx commented on #662
yes, pls use workaround first, just let me know if you have better idea to fix that. Copy cert to another place is not a good solution.

[2021-01-07 14:59] ezYakaEagle442 commented on #662
Would it be possible to declare the path of ca-certificate.crt in a ConfigMap ?

Also how did you copy the /etc/pki/tls/certs/ca-bundle.crt to /etc/pki/tls/certs/ca-certificate.crt ? as I tried with the way below which failed on ARO 4.5 :
./cnf/pki-tls-ca-cnf-pod.yaml :
[code]

[code]

[code]

[2021-01-07 19:16] ezYakaEagle442 commented on #662
[code]

[code]

with the above I have managed to cp the file, some cleanup would have to be done from a Vanilla ARO to be sure not to add unnecessary config.

[2021-01-07 19:55] ezYakaEagle442 commented on #662
Now the Drivers installation still fails :

[code]

[code]

[code]

That shows it is looking for Certs at /etc/ssl/certs. Also why is there AZURE_ENVIRONMENT_FILEPATH:  /etc/kubernetes/azurestackcloud.json ?

[code]

[code]

it shows there is still a Certificate issue **Error = 'Post "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token": x509: certificate signed by

[2021-01-07 20:01] ezYakaEagle442 commented on #662
[code]

[code]

So the  AZURE_ENVIRONMENT_FILEPATH: /etc/kubernetes/azurestackcloud.json I saw in the AzureDiskNode pod does not exist, would this AZURE_ENVIRONMENT_FILEPATH be related to Azure Stack Hub or Azure Stack HCI ? anyway this does not apply to ARO.

[2021-01-08 01:37] ezYakaEagle442 commented on #662
I realize that there are 3 nodes by default on ARO ... so my above hotfix did just apply on only one random node ...
I have deployed a DaemonSet to apply the hotfix and verified the

./cnf/pki-tls-ca-cnf-ds.yaml :
[code]

[code]

[code]

[code]

[code]

It looks that th eDisk driver behaves not like the File & BLOB ones which have annotatoions  csi.volume.kubernetes.io/nodeid:
 {"blob.csi.azure.co

[2021-01-08 01:59] ezYakaEagle442 commented on #658
@andyzhangx as it looks like the Driver still look for the CA certs. at/etc/ssl/certs , in fact the issue there is that the Intermediate CA "DigiCert SHA2 Secure Server CA" is missing at at/etc/ssl/certs : the X509 error is about the certificate "login.microsoftonline-int.com" delivered on 06 Oct. 2020 by "DigiCert SHA2 Secure Server CA" which parent is "DigiCert Global Root CA"

ARO Test from a p

[2021-01-08 02:09] andyzhangx commented on #662
the driver node daemonset is crashing due to `node-driver-registrar` crashing, could you get that container logs?
about  `X509 error message` error, actually it's not a blocking issue on driver node daemonset,  since you already solved the cert issue on controller, could use same way to solve the cert issue on every agent node.

[2021-01-08 02:14] ezYakaEagle442 commented on #658
It is not shipped neither in Bundle you suggested to copy as a workaround :

[code]

[code]

[2021-01-08 10:36] ezYakaEagle442 commented on #658
interesting test:

[code]

[code]

The above confirms curl uses /etc/ssl/certs location.

[code]

[code]

Strangely curl that uses the same CA location as the CSI Driver but does validate the certificate without any error.

[2021-01-08 10:54] ezYakaEagle442 commented on #658
I have also found [https://github.com/coreos/bugs/issues/2262](https://github.com/coreos/bugs/issues/2262)

the Go [x509 modules hardcodes](https://golang.org/src/crypto/x509/root_linux.go) /etc/ssl/certs/ca-certificates.crt

[2021-01-08 10:55] ezYakaEagle442 commented on #658
@andyzhangx the final intesresting test which reflect our Driver use case & behaviour :

[code]

[code]

[2021-01-08 11:32] carlosrbcunha commented on #584
Sorry for the late response Andy but , Yes, the partition is broken.
My question is more to why did this happened  ?? and how to prevent this.
Many times in our infra we start to get errors restarting tasks and we spot that one of the controller tasks is not functioning properly. Its running but we cannot see it registering in the nomad plugin. Restarting the nodes and controllers solves the issue

[2021-01-08 12:07] ezYakaEagle442 commented on #658
I have also found this outdated [RedHat blog](https://www.openshift.com/blog/considerations-on-openshift-pkis-and-certificates) refering to /etc/origin which is now empty on worker nodes.  Also this outdated [OCP doc](https://access.redhat.com/documentation/en-us/openshift_container_platform/4.3/html/authentication/ocp-certificates)

My point is just that the CA file location should be configurabl

[2021-01-08 12:17] andyzhangx commented on #584
by default, azure disk only has one partition, while would you need to erase all partitions?
About healthy check, there is `/ListVolumes` in controller logs and `/csi.v1.Node/NodeGetInfo` in node logs, that could check whether those components are connected to Azure. If there is node or controller failure, pls provide:
1. pod events to locate which container is not running well
2. get container lo

[2021-01-08 12:19] andyzhangx commented on #584
BTW, even driver does not function well, it should not corrupt disk partitions

[2021-01-08 12:27] carlosrbcunha commented on #584
I have to agree with you on that. It should not corrupt disk partitions and allow them to seamlessly mount. The only thing that can justify this is the disk be in use by the workload and, being forcibly detached by the controller because of unknown status to try and attach to another node and try again. I saw this behaviour when having problems mounting the disk and with partition format issues. T

[2021-01-08 12:29] andyzhangx commented on #584
@carlosrbcunha how do you use the disk? With this disk driver, it can only have one partition, not sure why there are other partitions in the disk.

[2021-01-08 15:28] sushiMix commented on #583
Hello I have similar issue with version 0.10.0 with stucked PVC in pending state.
I have the following error in azure disk container of csi-azuredisk-controller.

I0108 15:20:07.830164       1 azure_diskclient.go:337] Received error in disk.list.request: resourceID: /subscriptions/<<subID>>/resourceGroups/sandbox/providers/Microsoft.Compute/disks, error: Retriable: true, RetryAfter: 0s, HTTPStatus

[2021-01-08 16:42] sushiMix commented on #583
Replying to myself, I found the issue on v0.10.0 helm chart. It enforce mount of ssl folder for azuredisk. On Azure VM (not AKS) the ssl folder shall be different. I think it was added for azure stack support (specific cert management ?)

- name: ssl
              mountPath: /etc/ssl/certs
              readOnly: true

[2021-01-09 00:33] sunpa93 commented on #469
/assign

[2021-01-09 00:46] andyzhangx commented on #583
Thanks for finding out. @sushiMix
cc @songjiaxun we already hit some cert issues on non-Ubuntu nodes, e.g. Redhat, related to this PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/600, would you remove the `ssl` mount in yaml and set it as optional config in helm chart, I think this config is only for Azure stack:
[code]

[2021-01-09 00:47] andyzhangx commented on #658
This issue is introduced by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/600, which is only for Azure stack, remove following mount should work:

[code]

[2021-01-09 00:48] andyzhangx commented on #662
This issue is introduced by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/600, which is only for Azure stack, remove following mount should work:

[code]

[2021-01-09 02:21] #662 closed

[2021-01-09 07:49] andyzhangx commented on #662
I have also pushed the fix to release `v0.10.0` and master branch, so this issue should be fixed now. And for the `azure-cloud-provider`  secret setting in ARO, I think we need to add a notion in this project. Let me know if you want to contribute, thanks.

[2021-01-09 07:49] andyzhangx commented on #658
I have also pushed the fix to release `v0.10.0` and master branch, so this issue should be fixed now. And for the `azure-cloud-provider`  secret setting in ARO, I think we need to add a notion in this project.

[2021-01-09 08:13] andyzhangx commented on #583
I have also pushed the cert issue fix to release `v0.10.0` and master branch, let me know if you have other issue @sushiMix

[2021-01-09 09:07] #559 closed

[2021-01-09 13:57] harshika-kashyap commented on #610
/assign

[2021-01-09 14:27] ezYakaEagle442 commented on #662
@andyzhangx , agreed the ARO case should be better documented :

1. we can explain that the ConfigMap can not be used because the /etc/kubernetes/cloud.conf does not contains the Azure Credentials "aadClientId" & "aadClientSecret"
2. we should document to use the Secret , we can reuse the[snippet I I have shared in this issue](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/662#issu

[2021-01-09 21:18] carlosrbcunha commented on #584
@andyzhangx It only had one partition. I wrote partitions by mistake.

Basically the problem was that something happened and the workload stopped and when we started the node and controller and started the workload again. The disk attached but when mounting there was a problem identifying the partition and the disk cannot be mounted. I had to manually attach the disk to a server and erase all the

[2021-01-09 23:42] ezYakaEagle442 commented on #662
@andyzhangx I have reinsatlled from the master version , I still see errors:

[code]

[code]

[2021-01-09 23:48] ezYakaEagle442 commented on #662
[code]

[code]

[2021-01-10 01:03] andyzhangx commented on #662
need to add a location field in your cloud provider config file for controller.

[2021-01-10 10:03] ezYakaEagle442 commented on #662
I have added the location to the Azure Cloud Provider config, now indeed all the Pods are up & running, however the PVC still fails :

[code]

[code]

[2021-01-10 10:46] ezYakaEagle442 commented on #662
@andyzhangx it looks that my issue has the same error message described in that old [Openshift one](https://bugzilla.redhat.com/show_bug.cgi?id=1500247) . I have search in the URL below but not found the source code that throws that error :
[https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_blobDiskController.go](https://github.com/kubernetes-sigs/cloud-provide

[2021-01-10 12:04] ezYakaEagle442 commented on #662
I realize that I had mixed the Static & Dynamic files, my bad, now when creating the PVC with the correct [static one](oc create -f https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/master/deploy/example/pvc-azuredisk-csi-static.yaml
) the PVC is bound correctly, my bad . Now I have the nginx pod up & running, have successfully checked the mount with cat /mnt/azuredisk/outfile

[2021-01-10 14:43] #610 closed

[2021-01-11 03:54] andyzhangx commented on #638
that's another CSI driver

[2021-01-11 03:54] #638 closed

[2021-01-11 09:37] andyzhangx opened #671 "add test coverage on RedHat(OpenShift)"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to figure how to add following tests on Redhat, it's better to have an e2e test on OpenShift to prevent regression.
 - unit test
 - sanity test
 - integration test
 - e2e test

**Describe alternatives you've considered**

**Additional context**

[2021-01-11 10:46] sushiMix commented on #583
@andyzhangx I used the master version and It fixes the issue on my use case (on Azure Cloud with CentOS). I tried to pull the `v0.10.0` but didn't see any differences in the chart.

[2021-01-11 11:36] andyzhangx commented on #583
@sushiMix https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/672 has fixed this issue.

[2021-01-11 11:49] andyzhangx opened #673 "switch to kubetest2"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md

July 14, 2020:
kubetest will be deprecated in favor of kubetest2, so kubetest is moving to a maintenance mode only and we are not taking PRs except for urgent bug fixes.

need to implement aks-engine test conf

[2021-01-11 13:59] sushiMix commented on #583
@andyzhangx I can't pull the "new v0.10.0" version with helm. Is there a specific procedure

[2021-01-11 14:05] andyzhangx commented on #583
[code]

[2021-01-11 14:13] andyzhangx commented on #632
use `d.cloud.KubeClient.CoreV1().PersistentVolumes()` to get all PV info and then get all diskURI from pv.csi.volumeid and then get `disk.ManagedBy`, that would provide complete disk list, could refer to:
 - `d.cloud.KubeClient.CoreV1()` interface
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/bb2550070c810ffe94c35eb38aad09c6a3136ade/pkg/azurefile/azurefile.go#L556

this would requir

[2021-01-11 17:16] sushiMix commented on #583
I checked on v0.10.0 archive of master branch, the archive still contains in volumeMount
            - name: ssl
              mountPath: /etc/ssl/certs
              readOnly: true

for the azure disk container :( .

[2021-01-12 00:52] edreed opened #675 "e2e tests fail when using a resource group having a non-nil `managedBy` property"
**What happened**:

When using an cluster through Azure Kubernetes Service (either through the portal or CLI), it creates a separate resource group that has the `managedBy` property set to a reference to the resource group hosting the cluster. This "managed" resource group is where dynamic PVs are created by default. If you specific this resource group as the one to use for e2e tests, the tests fa

[2021-01-12 00:52] edreed commented on #675
/assign

[2021-01-12 03:59] andyzhangx commented on #583
@sushiMix thanks, I just found I fixed the wrong path yesterday, now it's been fixed.
BTW, how did you fix the original issue on Cluster API cluster?

[2021-01-12 08:27] andyzhangx commented on #597
@abhisheksinghbaghel any update?
maybe @sunpa93 could help since he is already working on snapshot restore test, thanks.

[2021-01-12 08:46] nearora-msft opened #678 "ListVolumes should not include OS disks in the response"
**What happened**:
Current ListVolumes implementation returns all the disks in a resource group including the os disks

**What you expected to happen**:
The response shouldn't contain OS disks

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a

[2021-01-12 09:32] andyzhangx commented on #632
the above proposal would introduce `d.cloud.KubeClient` dependency, if user's cluster does not set kubeconfig, then it could fall back to use original ListVolumes way, that would be robust

[2021-01-12 14:49] #678 closed

[2021-01-12 17:47] mukhoakash commented on #614
/assign

[2021-01-12 17:58] sunpa93 commented on #632
/assign

[2021-01-12 22:04] #675 closed

[2021-01-13 10:26] #440 closed

[2021-01-13 11:51] andyzhangx commented on #658
there should be doc update for ARO, refer to https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-azure-disk.md

[2021-01-13 22:04] kassarl commented on #553
/assign

[2021-01-14 03:15] #540 closed

[2021-01-14 12:46] #434 closed

[2021-01-14 19:35] kassarl commented on #553
/retest

[2021-01-15 03:00] #528 closed

[2021-01-15 03:33] andyzhangx opened #685 "copy a disk from different availability zone is not supported"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Will hit following error when copy a disk from different availability zone:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/665/pull-azuredisk-csi-driver-e2e-multi-az/1349708105583169536/build-log.txt
[code]
**Describe alternativ

[2021-01-15 04:38] #625 closed

[2021-01-16 14:23] andyzhangx opened #687 "support NodeExpandVolume on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Not sure whether it's supported, if supported, initial work needs to be done in csi-proxy project.

**Describe alternatives you've considered**

**Additional context**

[2021-01-16 14:24] andyzhangx opened #688 "write unit test for getDevicePathWithMountPath func"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/8f5975e141c40199d0155d77762e9e337c5a06e4/pkg/azuredisk/nodeserver.go#L561-L574

**Describe alternatives you've considered**

**Additional context**

[2021-01-17 15:05] #656 closed

[2021-01-17 18:36] ibalajiarun opened #689 "Proper error for incorrect azure credentials"
**Is your feature request related to a problem?/Why is this needed**

When the credentials in azure.json is incorrect, the volumes do not mount (which is expected), but neither the Azure CSI controller nor the Azure CSI node agents logs when the credentials are incorrect. Instead, AttachVolume simply times out.

**Describe the solution you'd like in detail**

Please add logs to either the controll

[2021-01-18 01:54] andyzhangx commented on #689
@ibalajiarun if Azure credentials is incorrect, create volume should fail first, and you could see the error msg in `kubectl describe pvc pvc-name`. In your scenaro, are you bringing your own disk? The error should happen in `ControllerPublishVolume`, there are two controller pod replicas by default, make sure you got the right controller logs, follow guide here: https://github.com/kubernetes-sigs

[2021-01-19 08:08] sushiMix commented on #583
Sorry for the last reply, I'm installing using Kubeadm not cluster API (I didn't get it was a special installation mode). I only had issues at the beginning with the secret used to store the azure credentials. I only checked first that the service principal defined was compatible with a full AKS usage (to ensure right permission level).

[2021-01-19 08:11] andyzhangx commented on #583
thanks, close this issue now.

[2021-01-19 08:11] #583 closed

[2021-01-24 02:57] andyzhangx commented on #547
could be related to this issue: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/382

[2021-01-27 05:37] #500 closed

[2021-01-27 09:34] #553 closed

[2021-01-27 17:37] kassarl commented on #688
/assign

[2021-01-29 08:29] andyzhangx opened #703 "intermittent test failure in in-tree driver e2e test"
**What happened**:

https://testgrid.k8s.io/provider-azure-windows#pr-k8s-azure-disk-e2e-master-windows

[code]

[code]

related to issue: https://github.com/kubernetes/kubernetes/issues/98492

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-

[2021-02-01 07:01] andyzhangx opened #707 "[helm] Add support for managing StorageClass"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

It would be valuable to be able to create a StorageClass to consume this driver together with Helm chart, which is used for deployment.

**Describe alternatives you've considered**

Helm chart should have values for enabling storage class management and enabling it as a default sto

[2021-02-01 07:14] andyzhangx opened #708 "Allow overriding node attach limits as driver parameter"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current node driver daemonset still depends on cloud config, need to remove that dependency first.

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/942738b6c7b17910a0a8b70b5dd121371e269e5a/pkg/azuredisk/nodeserver.go#L292-L323

**Describe alternatives you've considered

[2021-02-01 07:25] andyzhangx opened #709 "Support pre-created Service Accounts in the Helm chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently this driver would create new service accounts, we should also support pre-created Service Accounts in the Helm chart

**Describe alternatives you've considered**

**Additional context**

[2021-02-01 07:31] andyzhangx opened #710 "Add doc and e2e test for snapshot import"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We only provides dynamic snapshot doc example: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/snapshot, static provisioning should also be supported, need to add doc and e2e test

**Describe alternatives you've considered**

**Additional context*

[2021-02-01 07:41] andyzhangx opened #711 "add example verification test for snapshot examples"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

snapshot examples:  https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/snapshot

add tests to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/hack/verify-examples.sh

**Describe alternatives you've considered**

**Additional conte

[2021-02-04 02:56] #469 closed

[2021-02-04 13:56] deepak16795 opened #714 "Dynamic Azure Disk PVC Extension causes pod to fail post resize"
We are using a custom kubernetes cluster and we are using CSI driver for Dynamic Azure Disk provisioning. Normal Provisioning works without issues but trying to mount the PVC again post extension of the PVC gives the error. Please find the below steps taken and error reported.

**Steps for Creating CSI Driver in Kubernetes.**
1)kubectl create configmap azure-cred-file --from-literal=path="/etc/kub

[2021-02-04 14:31] andyzhangx commented on #714
I think this bug was introduced by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/607, volume expansion is broken in v0.10.0

[code]

[2021-02-04 14:37] andyzhangx commented on #714
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/715 would fix this issue, thanks.

[2021-02-04 14:43] andyzhangx opened #716 "refine resize e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Original resize e2e test only testing the resize on controller, while does not cover the resize on node, need to prevent such bug in the future: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/714

Original resize e2e test:
https://github.com/kubernetes-sigs/azuredis

[2021-02-04 19:26] #714 closed

[2021-02-05 11:53] andyzhangx opened #717 "improve ut coverage for controllerserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/36878386/source?filename=pkg%2Fazuredisk%2Fcontrollerserver.go

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 12:54] andyzhangx opened #718 "improve ut coverage for nodeserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/36878386/source?filename=pkg%2Fazuredisk%2Fnodeserver.go

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 12:55] andyzhangx opened #719 "improve ut coverage for util.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/36878386/source?filename=pkg%2Futil%2Futil.go

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 15:01] andyzhangx opened #722 "add logLevel in helm config"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Driver log level is set as `5` by default, while in e2e test, we want to set as `10` to show more logs, need to add `controller.logLevel` and `node.logLevel` in helm config to supprt this:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/09466126dce7111dcac8968a9a6abc2

[2021-02-06 01:32] gsxmax commented on #714
Hi @andyzhangx , after using the master branch, it seems the PVC launch failed. Below is the error:

` Warning  ProvisioningFailed    3s (x3 over 4s)  disk.csi.azure.com_master-testing_7eacf2e5-4695-4802-8153-6e4ddc792d5b  failed to provision volume with StorageClass "managed-csi": rpc error: code = Unknown desc = Retriable: false, RetryAfter: 0s, HTTPStatusCode: 400, RawError: Retriable: false, R

[2021-02-06 15:44] andyzhangx commented on #714
@gsxmax sth wrong with the identity on the node where your driver controller is running on, could you delete the controller pod, and let it recreate again? If that does not work, pls provide controller logs by: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed

[2021-02-06 15:59] andyzhangx commented on #714
BTW, from the error msg, it looks like there is sth wrong on that node(where your driver controller is running on) has issue using instance metadata, try below command on that node:
[code]

[2021-02-07 03:22] andyzhangx commented on #722
@boddumanohar could you help? thanks.

[2021-02-07 03:44] boddumanohar commented on #722
yeah sure.

[2021-02-07 13:54] deepak16795 commented on #714
Hello @andyzhangx ,
I can see error logs only in the controller and please find the below error logs.

Controller Error:
I0207 13:51:06.914409       1 utils.go:94] GRPC call: /csi.v1.Controller/ListVolumes
I0207 13:51:06.914476       1 utils.go:95] GRPC request: {}
I0207 13:51:06.991098       1 azure_diskclient.go:339] Received error in disk.list.request: resourceID: /subscriptions/bd9593b1-8217-4

[2021-02-07 14:02] andyzhangx commented on #714
What's your controller deployment? The controller should not use InstanceMetadata, have you set nodeID for the controller deployment? How did you deploy this driver?

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/09466126dce7111dcac8968a9a6abc229a93ae0b/pkg/azuredisk/azuredisk.go#L127-L132

[2021-02-07 14:29] deepak16795 commented on #714
@andyzhangx
I Created an configmap with the cloud.conf file and then initialized the controller using kubectl.

1)kubectl create configmap azure-cred-file --from-literal=path="/etc/kubernetes/cloud.conf" -n kube-system
2)curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/master/deploy/install-driver.sh | bash -s master --

[2021-02-07 14:31] andyzhangx commented on #714
@deepak16795 could you provide the first 100 lines of controller logs?

[2021-02-07 15:07] deepak16795 commented on #714
@andyzhangx The issue was with the SP associated with the Resource Group have fixed it out and and now resizing also works fine. Thanks for your support and time on this.

[2021-02-07 15:10] andyzhangx commented on #714
@deepak16795 great, so the SP does not have enough permission on the Resource Group?

[2021-02-07 15:12] deepak16795 commented on #714
Yes @andyzhangx that was the issue.

[2021-02-10 12:31] andyzhangx opened #729 "[CSI migration] add inline volume e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to verify it works first and then add add inline volume e2e test

[code]
https://github.com/andyzhangx/demo/tree/master/linux/azuredisk#static-provisioning-for-azure-disk

**Describe alternatives you've considered**

**Additional context**

[2021-02-10 12:56] #292 closed

[2021-02-11 02:40] #688 closed

[2021-02-11 15:21] #128 closed

[2021-02-12 21:50] jgreat opened #732 "Chart Enhancement - tolerations, nodeSelector, resources"
**Is your feature request related to a problem?/Why is this needed**

Please add options to configure tolerations, nodeSelector and resources blocks for pods launched by this chart.

**Describe the solution you'd like in detail**

Standard public chart value options for customizing/configuring workloads in various cluster configurations.

See `helm create` for the standard helm chart template.

Wi

[2021-02-13 01:46] andyzhangx commented on #732
if you could propose a PR, that would be great, thanks.

[2021-02-16 03:59] andyzhangx opened #733 "add ut coverage for node/controller lock"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/513

**Describe alternatives you've considered**

**Additional context**

[2021-02-17 05:58] abhisheksinghbaghel commented on #597
@Jiawei0227 Any luck with the repro?

[2021-02-17 06:42] Jiawei0227 commented on #597
I haven't got a chance to work on this. I will probably try that again sometime later this month using the latest azurefile csi driver.

[2021-02-17 06:51] Jiawei0227 commented on #577
Hey Andy, do you know where we can check the CI result for this?

[2021-02-17 06:52] andyzhangx commented on #577
It's not done yet, @Jiawei0227 do you know how to integrate into test-infra?

[2021-02-17 06:56] Jiawei0227 commented on #577
Oh, sorry I do not... I was just hoping to check the CI result...

[2021-02-17 07:04] Jiawei0227 commented on #577
Just for the record, these are the test failures that I was encountered when running the e2e test:
- https://github.com/kubernetes/kubernetes/issues/97031
- https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/597

[2021-02-17 16:59] carlosrbcunha opened #734 "CSI in Nomad seems healthy but controller is now working properly"
Please read https://github.com/hashicorp/nomad/issues/10030 to see every information regarding this issue.

**What happened**:
When we start node and controller workloads, in nomad plugin status , everything is all healthy but controller sometimes is not working properly. It looks like the controller looses connection to the socket and by not being connected, mount operations fail because disk is

[2021-02-18 00:11] landreasyan commented on #716
/assign

[2021-02-18 02:34] andyzhangx opened #736 "add helm chart repo test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Sometimes helm repo is broken(related fixed PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/735), need to add a test to prevent regression, suggested test run in CI(it's better to catch regression in every PR if it's possible)

[code]

**Describe alternatives you'v

[2021-02-19 12:29] andyzhangx opened #740 "add imagepullsecrets in helm chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/blob-csi-driver/pull/345

**Describe alternatives you've considered**

**Additional context**

[2021-02-19 12:30] andyzhangx commented on #722
fixed by #728

[2021-02-19 12:30] #722 closed

[2021-02-19 12:40] andyzhangx opened #741 "add subPath e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could change one e2e test with `subPath` mount

**Describe alternatives you've considered**

**Additional context**

[2021-02-19 19:28] edreed commented on #687
/assign

[2021-02-19 19:44] abhisheksinghbaghel commented on #547
@andyzhangx Where can I find the test failure to investigate?
My understanding is that this PR unblocks one of the potential several issues with containerd. So can we let this PR go and investigate the test failures separately?
Unless you think that this PR is causing more failures?

[2021-02-19 22:11] edreed commented on #687
It looks like csi-proxy already has support for resizing the file system through [Volume.ResizeVolume](https://github.com/kubernetes-csi/csi-proxy/blob/cfbff3013f06cc14cb354be8bc5646211a7b9107/client/api/volume/v1beta2/api.proto#L20).

[2021-02-19 22:29] edreed opened #743 "Tests should use a dynamically generated SSH keyset for logging into a VM"
**Is your feature request related to a problem?/Why is this needed**

Currently, the sanity and integration tests create a virtual machine using a [hardcoded password](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/3aa60d9861d769fb7f4d6d9fabfde6b36d88ba37/test/utils/azure/azure_helpers.go#L143) for the admin user. Besides being poor security practice, this prevents the tests from bei

[2021-02-19 23:57] edreed commented on #687
This change will need #739 to complete in order to get e2e test coverage.

[2021-02-20 00:29] sunpa93 commented on #743
/assign

[2021-02-20 01:50] andyzhangx commented on #547
just run `/test pull-azuredisk-csi-driver-e2e-windows-containerd` on the PR and you will get test failure. Since disk driver on containerd does not work now, we can wait. This PR fixed the latest tag issue on containerd while would make the Makefile more complex(it's already complex enough), that would make it hard to maintain, since `os.version` is added in buildx, it's better that use buildx dir

[2021-02-20 20:36] abhisheksinghbaghel commented on #547
I am not sure if I agree with that assertion, only thing that PR does is parameterizes push-manifest, so that we can call it with any release tag and yet get all the images annotated with `os.version`, whereas the existing version is hardcoded to add the `os.version` to specific release version and not to the `:latest` images.

[2021-02-22 08:51] #743 closed

[2021-02-22 14:27] #716 closed

[2021-02-22 16:41] kassarl commented on #717
/assign

[2021-02-23 02:48] #687 closed

[2021-02-23 06:12] #632 closed

[2021-02-23 06:19] andyzhangx commented on #547
related to this blocking upstream issue: https://github.com/kubernetes/kubernetes/issues/99342

[2021-02-24 06:43] andyzhangx commented on #736
it's done

[2021-02-24 06:43] #736 closed

[2021-02-25 03:36] jgreat opened #748 "Helm Chart - let users define nodeSelector and tolerances instead of runOnMaster: true"
The current nodeSelector label set when `runOnMaster: true`, `kubernetes.io/role=master`, has been deprecated in favor of `node-role.kubernetes.io/master: true` for a while now (I think since 1.16, but I can't find the reference).

There is a current proposal to deprecate "master" in favor of "control-plane" [proposal](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecyc

[2021-02-27 00:44] jgreat commented on #748
Oops I already opened an issue on this #732

Sorry for the noise, its been a long week :grin:

[2021-02-27 00:44] #748 closed

[2021-03-02 10:51] Vandersteen opened #755 "Pod is crashlooping: detected topology value collision"
**What happened**:
Pod is crashlooping

**What you expected to happen**:
Not crashing

**How to reproduce it**:
We updated AKS from 1.19.3 to 1.19.7

**Anything else we need to know?**:
Cluster has 6 nodes

![image](https://user-images.githubusercontent.com/9284334/109637880-a839f180-7b4d-11eb-9226-472cfbc8cd41.png)

Pods:
[code]

Error message: (container: `node-driver-registrar`)
[code]

[2021-03-02 10:57] andyzhangx commented on #755
do you know whether that agent node is in zone 1 or zone 2?

[2021-03-02 11:00] Vandersteen commented on #755
003:
[code]

005:
[code]

[2021-03-02 11:02] Vandersteen commented on #755
Logs for 003:
[code]

Logs for 005:

[code]

[2021-03-02 11:04] Vandersteen commented on #755
I ran a rollout restart on that daemonset, now a 3rd is failing:

[code]

004:
[code]

Logs for 004:
[code]

[2021-03-02 11:06] andyzhangx commented on #755
can you update the original label `topology.disk.csi.azure.com/zone` to the correct one, e.g. on 003, it should be "topology.disk.csi.azure.com/zone":"westeurope-1", thanks.

[2021-03-02 11:15] Vandersteen commented on #755
That fixed it:

[code]

Is it something I did, or a bug in the labeling mechanism during the upgrade ?

[2021-03-08 13:07] #81 closed

[2021-03-08 21:49] edreed commented on #614
@mukhoakash- *Eugh* It seems there is a [`HasStatusForbiddenOrIgnoredError()`] function in `cloud-provider-azure` specifically for checking the error when deleting a resource to ignore "Not Found" errors. It does a string search for the specific `HTTPStatusCode`. Sadly, it also ignores "Forbidden" errors.

[2021-03-10 03:29] andyzhangx commented on #755
this should be an AKS issue when upgrade **zoned** AKS cluster, after upgrade, agent node in zone1 has changed to zone2, and that makes zone label inconsistent, we will fix it in AKS cluster upgrade, before the fix, pls use workaround as mentioned above, thanks.

[2021-03-10 13:41] andyzhangx commented on #129
- When test with 2K volumes, csi-provisioner and csi-resizer would both work well with 100Mi memory limit
 - When test with 3K volumes, csi-resizer would be OOMKilled with 100Mi memory limit
 - When test with 5K volumes, csi-provisioner would be OOMKilled with 100Mi memory limit
 - When test with 10K volumes, csi-provisioner memory limit should set as 300Mi and csi-attacher memory limit should set

[2021-03-16 17:14] dkoshkin opened #767 "Maximum attachable-volumes-azure-disk doesn't account for already attached disks to VM"
**Is your feature request related to a problem?/Why is this needed**

I have a node with a secondary disk already attached to it to mount for Containerd.

I see that `kubectl describe node` correctly shows max 4 disks:
[code]
There are 3 pods with PVs running on `worker-2-dkkonvoy1azcsi2-c7c2` with a 4th one `mypod6` pending and another worker `worker-1-dkkonvoy1azcsi2-c7c2` with only 2 pods:
[cod

[2021-03-17 06:21] andyzhangx commented on #767
This issue is by design now since all disk volumes should be managed by k8s volume controller, CSI controller only get max data disk num from Azure's API, it won't get actual remaining data disk num since that num is calculated by k8s volume controller, so it's by design

[2021-03-18 09:05] andyzhangx opened #769 "ListVolumes starting token(0) is greater than total number of disks"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/768/pull-azuredisk-csi-driver-e2e-single-az/1372389810689282048/build-log.txt

utils.go:100] GRPC error: rpc error: code = FailedPrecondition desc = ListVolumes starting token(0) is greater than total number of disks

**What you expected to happen**:

**How to reproduce it**:

**

[2021-03-18 16:59] sunpa93 commented on #769
/assign

[2021-03-18 16:59] sunpa93 commented on #769
I will look into it :)

[2021-03-19 13:10] #769 closed

[2021-03-19 18:25] gnufied opened #772 "Emit cloudprovider metrics for azuredisk"
We should emit cloudprovider metrics for azuredisk operations which are similar to what is reported by in-tree driver.

(Or if we are not going to emit these metrics anymore, we should deprecate them in k/k repo with a good reason)

[2021-03-24 10:21] axelgMS opened #773 "azure cloud provider throttled for operation DiskCreateOrUpdate with reason 'client throttled'"
**What happened**:

CRI 233254165 - Not able to provision a disk, as the error below is thrown:

_**Warning  ProvisioningFailed    23m                   disk.csi.azure.com_csi-azuredisk-controller-XYZ  failed to provision volume with StorageClass 'managed-csi': rpc error: code = Unknown desc = Retriable: true, RetryAfter: 297s, HTTPStatusCode: 0, RawError: azure cloud provider throttled for operat

[2021-04-02 08:43] nilo19 commented on #755
before upgrade:
topology.disk.csi.azure.com/zone=westus2-1,topology.kubernetes.io/zone=westus2-1
after:
topology.disk.csi.azure.com/zone=westus2-2,topology.kubernetes.io/zone=westus2-1

The VM is in zone 1 btw. It looks like the azuredisk reads the wrong zone after the cluster upgrade.

[2021-04-03 04:29] andyzhangx commented on #755
@nilo19 so before upgrade, vm is in zone 1 and after upgrade, vm is in zone 2?

[2021-04-03 09:13] nilo19 commented on #755
@andyzhangx no the vm zone is in zone 1 all the time.

[2021-04-03 13:54] andyzhangx commented on #755
@nilo19 driver get zone info from instance meta data on the node, e.g. `curl -H Metadata:true "http://169.254.169.254/metadata/instance?api-version=2019-04-30" | jq`, so in your case, it returns zone 1 in the beginning, after upgrade, it returns zone 2 while that node is still in zone 1.

[2021-04-03 13:59] nilo19 commented on #755
@andyzhangx so why the meta data service returns the wrong info?

[2021-04-03 14:03] andyzhangx commented on #755
@nilo19 can you confirm it's returning wrong info, that's my guess. Driver only get zone info from meta data service, it won't fake a zone num.

[2021-04-03 15:26] andyzhangx commented on #767
there is a feature request: [Allow overriding node attach limits as driver parameter](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/708), that may help in the future.

[2021-04-03 15:26] #767 closed

[2021-04-03 15:27] andyzhangx commented on #772
it's already implemented in current csi driver: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/metrics

[2021-04-03 15:27] #772 closed

[2021-04-04 02:07] nilo19 commented on #755
@andyzhangx I'm sure the imds gets the wrong zone. I upgrade the cluster I mentioned above again, and this time the labels change to `topology.disk.csi.azure.com/zone=westus2-3,topology.kubernetes.io/zone=westus2-1` while the location of the vmss VM remains `West US 2 (Zone 1)`. I'm confused why the `topology.kubernetes.io/zone` doesn't change. It gets the zone info from the imds too, right?

[2021-04-05 12:27] andyzhangx commented on #755
There is already a PR fixing this issue in AKS side, it's not disk driver issue.

[2021-04-06 04:37] Jiawei0227 commented on #597
I had this repro using Azuredisk csi driver v1.1.0 using the v1.19 e2e test binary again. Seems the issue still exist.

[2021-04-06 04:42] Jiawei0227 commented on #597
One thing that can help to run the e2e test is to use k8s release v1.19, and when run it, using flag: `-focus='External.Storage.*Testpattern.*Dynamic.Snapshot.*delete policy.*snapshottable.Feature:VolumeSnapshotDataSource.*volume.snapshot.controller.*'` to focus on this one test so that it is easier to repro.

[2021-04-06 06:16] Jiawei0227 commented on #597
Hmm. I tried with AKS and I cannot reproduce this.... Seems like this is with my cluster environment then...

[2021-04-06 15:55] y2kdread opened #779 "Unable to create NFS Storage Class installing CSI driver after install"
**What happened**:
I created an AKS cluster without the CSI driver installed. I follow the steps below to install the CSI Driver on my cluster:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md

After, I use the following steps to setup NFS as a storage class:

https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers#install-aks-preview-cl

[2021-04-06 17:58] Jiawei0227 commented on #597
lol wait, I only upgrade the node driver version not the controller version... let me upgrade the controller side and try again

[2021-04-07 01:55] andyzhangx opened #780 "use empty PUT operation if disk is in data disk list while vm is in failed state"
**What happened**:
There is case that vm is in failed state, disk is already in data disk list while it's actually not attached, should use empty PUT operation to make it work

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kerne

[2021-04-07 06:16] andyzhangx commented on #779
per your error logs, it said that azure **file** csi driver is not installed, should use this link to install azure file driver instead of disk driver: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-master.md

[2021-04-07 18:14] Jiawei0227 commented on #597
I upgrade the csi driver to v1.1.0 and still no luck... I guess there must be something wrong here. It seems we are using ubuntu 20.04. I notice AKS is using ubuntu 18.04, could that be a difference?

[2021-04-07 21:25] sunpa93 commented on #733
/assign

[2021-04-08 02:54] ZeroMagic commented on #536
We can set the user agent when creating the client.
Ref: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/cmd/main.go#L74-L77

[2021-04-08 02:55] ZeroMagic commented on #536
/remove-lifecycle rotten

[2021-04-09 00:05] edreed commented on #685
/assign

[2021-04-09 04:16] #733 closed

[2021-04-09 13:41] dancronintix commented on #273
Any update on this ?

[2021-04-12 20:39] sandaymin123 opened #787 "Ability to inject kubelet path better in the csi driver"
**Is your feature request related to a problem?/Why is this needed**
 On custom K8 deployments on Azure, a different kubelet path is used other than the default /var/lib/kubelet but /var/data/kubelet instead. As a resullt, the default  value is passed to the csi node driver to be used to mount the storage  /var/lib/kubelet  fails to perform the mounts as it does not have access to /var/data...

**

[2021-04-13 02:14] #685 closed

[2021-04-13 13:52] andyzhangx commented on #755
The AKS fix has been rolled out for one week, all regions would be fixed in the end of next week.

[2021-04-13 13:52] #755 closed

[2021-04-14 04:59] #729 closed

[2021-04-14 07:50] andyzhangx commented on #780
update:
In current design, we don't check vm status when attach/detach status, to fix this issue, if one disk is already attached to one node, need one extra API to check whether current vm is in failed status, that would cause extra API call, not sure it's worthwhile to do that.

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/cdcb750196a0fb1f4b896c69c72bb8e26a8f20d1/pkg/azuredisk/co

[2021-04-14 08:14] MSSedusch commented on #780
if the disk attach fails but the disk is persisted in the goal state of the VM on Azure side, the K8s cluster will currently not recover unless there is another disk operation that would send a PATCH request to Azure for that VM.
Would it be an option to remember that the last attach operation was not successful and ignore that the disk is already attached to the node and send a PATCH request anyw

[2021-04-14 20:25] sunpa93 commented on #719
/assign

[2021-04-15 02:53] pacoxu opened #793 "[single-az] should create an inline volume by in-tree driver [kubernetes.io/azure-disk]"
**What happened**:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101129/pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim/1382451192465985536

 AzureDisk CSI Driver End-to-End Tests: Pre-Provisioned
failed for

[code]

**What you expected to happen**:
seems to be related to #789
/cc @andyzhangx
**How to reproduce it**:
ci failure.

**Anything else we need to know?**:

**En

[2021-04-15 03:09] andyzhangx opened #795 "add ZRS disk e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Once ZRS disk is ready on westus2 region(end of April), we could add ZRS disk e2e test

**Describe alternatives you've considered**

**Additional context**

[2021-04-15 03:11] #793 closed

[2021-04-15 03:11] andyzhangx commented on #793
thanks, it's just fixed, pls rerun test.

[2021-04-15 17:29] chewong opened #796 "[failing test] should create an inline volume by in-tree driver"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim/1382725827925381120

[2021-04-15 20:24] #576 closed

[2021-04-16 02:26] #573 closed

[2021-04-16 07:38] andyzhangx commented on #796
this inline volume test only runs against csi driver now: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/794

[2021-04-16 12:55] #796 closed

[2021-04-17 12:25] nilo19 commented on #455
/remove-lifecycle rotten

[2021-04-19 13:42] #780 closed

[2021-04-19 15:35] bertinatto opened #800 "Expansion of block volume fails"
**What happened**:

The test:

```External Storage [Driver: disk.csi.azure.com] [Testpattern: Dynamic PV (default fs)(allowExpansion)] volume-expand Verify if offline PVC expansion works```

Fails with:

[code]

I believe [this code](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/pkg/azuredisk/nodeserver.go#L436-L444) isn't correctly recognizing the block volume.

[2021-04-25 13:58] andyzhangx commented on #800
per this PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/607), it should work from v1.19, what's your k8s version? @bertinatto

This PR tries to skip node expansion when volume type is block. However, this does not guarantee to work well because volumeCapability is not yet being passed from kubelet until v1.19.

https://github.com/kubernetes/kubernetes/commit/7d6959ce2ce49fa5b37b3a

[2021-04-25 14:31] boddumanohar commented on #577
/assign

[2021-04-25 14:33] andyzhangx commented on #800
cc @boddumanohar

[2021-04-25 14:49] boddumanohar commented on #741
will this also be solved by adding external-e2e tests? because in external-e2e tests there are several cases to test subPath

[2021-04-25 14:59] boddumanohar commented on #787
if you use helm to install azure-csi-driver, you could set the `kubelet` directory path as parameter of `kubelet.linuxPath`

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml#L154

[2021-04-26 00:12] #787 closed

[2021-04-26 10:34] mukhoakash commented on #577
Hi @boddumanohar , I have already committed the majority of the fix for this issue. There is a small bug on which I am currently working on. Can I commit that and then you can assign it to yourself?

[2021-04-26 10:35] boddumanohar commented on #577
sure please go ahead.

[2021-04-27 04:12] #580 closed

[2021-04-27 07:02] andyzhangx commented on #534
already using `mcr.microsoft.com/oss/kubernetes-csi/csi-attacher:v3.1.0`

[2021-04-27 07:02] #534 closed

[2021-04-28 08:08] andyzhangx commented on #577
update:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/809/pull-azuredisk-csi-driver-external-e2e-single-az/1387298770214981632

[code]

[2021-04-28 08:12] andyzhangx commented on #577
and after the test script fix, I will disable following 2 test cases which are expected to fail, it's almost done:
[code]

[2021-04-28 16:11] Jiawei0227 commented on #577
This is awesome. I didnt see the snapshot e2e tests running. Can you also try to enable it?

[2021-04-28 18:38] chrishenzie opened #811 "Conflicting requests result in slow volume attachment"
**What happened**:
When running the [OSS E2E volume stress test](https://github.com/kubernetes/kubernetes/blob/v1.21.0/test/e2e/storage/testsuites/volume_stress.go#L106) with the Azuredisk CSI driver, I encounter very slow volume attachment latencies. For most pods, attachment takes anywhere from 25 seconds to nearly 2 minutes.

For context, this test was ran with 1, 10, and 50 pod workloads, 10 r

[2021-04-28 18:39] chrishenzie commented on #811
Some general questions:
- What volume attachment / pod startup times do others observe?
- Do others encounter this issue?

[2021-04-29 03:03] andyzhangx opened #815 "external e2e test: fsgroupchangepolicy tests failed"
**What happened**:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/813
[code]

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/813/pull-azuredisk-csi-driver-external-e2e-single-az/1387587259867336704

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver v

[2021-04-29 04:01] andyzhangx commented on #577
@Jiawei0227 I already enabled snapshot tests but it seems not work:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/814

The logs still show there are only 14 cases running successfully:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/814/pull-azuredisk-csi-driver-external-e2e-single-az/1387596241575088128/build-log.txt

[2021-04-29 05:19] andyzhangx commented on #577
Update, I see there are 4 snapshot related failures here:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/814/pull-azuredisk-csi-driver-external-e2e-single-az/1387618611941609472/build-log.txt

[2021-04-30 07:40] andyzhangx commented on #811
the error is returned by azure ARM service, did it recover finally?

[2021-04-30 07:44] andyzhangx opened #818 "external e2e test: 4 Snapshot tests failed"
**What happened**:

Update, I see there are 4 snapshot related failures here:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/814/pull-azuredisk-csi-driver-external-e2e-single-az/1387618611941609472/build-log.txt

related to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/814

**What you expected to happen**:

**How to reprod

[2021-04-30 13:38] andyzhangx commented on #773
fixed by delete snapshot objects

[2021-04-30 13:38] #773 closed

[2021-04-30 14:36] Raffo opened #819 "`ClusterRoles` and `ClusterRoleBindings` wrongly contain the `namespace` in the `metadata` section"
**What happened**:

Some [ClusterRoleBindings](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/latest/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml#L62) and `ClusterRoles` contain a `namespace` in the metadata section. This is "invalid" as the resources are **not** namespaced as mentioned in the documentation https://kubernetes.io/docs/reference/access

[2021-04-30 15:09] andyzhangx commented on #819
thanks for the finding, here is the fix: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/820
I think that's a minor issue: if namespace is wrongly specified in ClusterRole, k8s should just ignore that setting, so it's not necessary to backport.

[2021-05-01 01:57] #819 closed

[2021-05-03 15:17] chrishenzie commented on #811
Yes it recovers, but it takes a long time to do so. Running the above test with 50 pods (each with their own PVC), restarting 10 times, on a 10 node worker pool the average time for a pod to start was over 6 minutes, and the longest observed pod start time was 14.5 minutes.

[2021-05-05 10:43] #524 closed

[2021-05-05 12:54] mariojacobo opened #827 "MULTI_NODE_MULTI_WRITER not supported for managed-csi on Azure"
**What happened**:

Azure shared disks do not seem to work with AKS on Azure

**What you expected to happen**:

**How to reproduce it**:

storage class, PV and PVC verbatim: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/sharedisk

**Anything else we need to know?**:

Error logs:

  Normal   WaitForFirstConsumer  31s               persistentvolume-controller

[2021-05-05 13:01] andyzhangx commented on #827
what's your storage class config and what's the `maxShares` value?

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/bb4c26e6602f170c42a1738cc48e5008b578331c/pkg/azuredisk/controllerserver.go#L190-L198

[2021-05-05 13:04] mariojacobo commented on #827
@andyzhangx

$ kubectl get sc managed-csi -o yaml
allowVolumeExpansion: true
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  creationTimestamp: "2021-05-05T12:47:24Z"
  labels:
    addonmanager.kubernetes.io/mode: EnsureExists
    kubernetes.io/cluster-service: "true"
  name: managed-csi
  resourceVersion: "14764"
  selfLink: /apis/storage.k8s.io/v1/storageclasses/managed-csi
  uid: b

[2021-05-05 13:17] mariojacobo commented on #827
@andyzhangx yes, you are completely right. I know what I was doing wrong. I created the AKS cluster with the CSI drivers installed already, meaning the storage classes are created already. Now, I created a separate storage class with maxShares and everything is working. thank you for the quick fix on this, you rock !

[2021-05-05 14:41] #827 closed

[2021-05-05 21:19] jsturtevant opened #829 "aks-engine-windows-containerd-azure-disk-master test failing"
**What happened**:

The job https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-azure-disk-master is failing during before testsuite.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`): main branch
- OS (e.g. from /etc/os-release):

[2021-05-05 21:21] jsturtevant commented on #829
looks like azurefile is the same issue: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-azure-file-windows-containerd/1389733312267816960

[2021-05-06 12:32] andyzhangx commented on #740
fixed

[2021-05-06 12:32] #740 closed

[2021-05-06 13:41] andyzhangx commented on #829
it's not essential test yet, and I am tuning the containerd windows test with the containerd fix, it's only one or two test case failures now.

[2021-05-06 13:52] andyzhangx commented on #829
following two test cases could not pass, there could be issue in data store

https://prow.k8s.io/log?container=test&id=1390283936113889280&job=pull-azuredisk-csi-driver-e2e-windows-containerd

[code]

[2021-05-07 06:53] #719 closed

[2021-05-07 14:17] andyzhangx opened #832 "pod startup on windows containerd is a little slower than windows docker?"
**What happened**:

I have used the [fixed windows containerd package](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/53ebdf02dd653f7135f6e13082cd2fc2827b106d/test/e2e/manifest/containerd-windows.json#L13) , and disk & file driver e2e tests could pass basically, while there are still one failure in below test scanario:

1. create a statefulset(it would write data to one file using di

[2021-05-07 18:43] hamburgerbun opened #834 "v1.2.0 - affinity, selector, tolerations for csi-azuredisk-node not customizable"
**Is your feature request related to a problem?/Why is this needed**
on a k3s 1.19.10 cluster in azure running Azure cloud controller manager and cluster-autoscaler, two VMSS node groups, the enforcer group has a taint and labels to strictly control what goes on it has no managed identity or /etc/kubernetes/azure.json because it doesn't need it, the control group takes everything else and subseque

[2021-05-07 21:24] hamburgerbun commented on #834
oh wait. this is a dupe of #732 . ehh. i'll close this one.

[2021-05-07 21:24] #834 closed

[2021-05-12 13:57] andyzhangx commented on #829
containerd windows e2e tests pass with both in-tree and csi drivers now!

[2021-05-12 13:58] andyzhangx commented on #829
for in-tree, run
[code]

[2021-05-12 13:58] #829 closed

[2021-05-13 12:23] andyzhangx commented on #829
containerd windows tests pass for in-tree azure disk & file drivers now:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure-file-windows-containerd
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure-disk-windows-containerd

Will run a few days, enable it by default if it's stable eno

[2021-05-14 15:36] #795 closed

[2021-05-17 20:38] chewong opened #850 "[failing-test] should succeed when creating a shared disk with multiple pods"
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-azure-disk-windows-containerd/1392632944115322880

[code]

[2021-05-18 06:25] andyzhangx opened #851 "should fail in verify-examples.sh script since some pods are in CrashLoopBackOff state"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

should fail in verify-examples.sh script since some pods are in CrashLoopBackOff state

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/fd3855a131e902a26b8580cb6581af0fc0deeec9/hack/verify-examples.sh#L44-L48

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blo

[2021-05-18 12:55] #850 closed

[2021-05-18 16:49] devigned commented on #829
@andyzhangx, looks lilke those jobs are still failing (5/18).

[2021-05-19 01:14] andyzhangx commented on #829
@devigned azure file containerd windows test failure is due to cluster set up failure, and for azure disk, I have just increased sleeping time for containerd test, let's see whether it could work.

[2021-05-24 21:29] CecileRobertMichon commented on #829
@andyzhangx it's hard to collect good signal since the job is only running every 48 hours but in the last 3 runs (since your comment above), 2 passed and 1 failed with:
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-azure-disk-windows-containerd/1395532500918341632

[2021-05-25 13:24] andyzhangx commented on #829
@CecileRobertMichon I will add waitForSuccess loop for this test failure since sometimes disk detach costs a lot more time.

[2021-05-27 02:34] andyzhangx commented on #829
@CecileRobertMichon should be fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/863

[2021-05-27 03:26] mukhoakash commented on #818
/assign

[2021-05-28 06:01] Flowman opened #868 "Support VMSS and mixed VMSS and VM"
**Is your feature request related to a problem?/Why is this needed**

Support VMSS, right now it only looks for virtual machines. This is bit of an issue in a k3s setup where the masters are VMs but all the worker nodes are VMSS.

**Describe the solution you'd like in detail**

Support mixed environment where VM and VMSS are used to build a cluster.

**Additional context**

I0528 05:56:31.926187

[2021-05-28 06:09] Flowman opened #869 "Hostname != Virtual Machine Name will not create the node container"
**What happened**:

If hostname is not the same as virtual machine name it cannot find the virtual machine in azure when creating the node container.

**What you expected to happen**:

Be able to use different hostname than the virtual machine name.

**How to reproduce it**:

Use a different hostname than the virtual machine name.

**Anything else we need to know?**:

**Environment**:
- CSI Driver

[2021-05-28 06:21] andyzhangx commented on #868
can you set `"vmType": "vmss"` in cloud config?

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/372d5b0fda6faf900564f423113e3d5be0f741dc/deploy/example/azure.json#L12

[2021-05-28 06:21] andyzhangx commented on #869
can you provide the driver error logs?

[2021-05-28 06:52] Flowman commented on #868
Guess I cannot have a generic kubernetes _azure-cloud-provider_ secret for all host.

Will try with a azure.json on each host and see how it goes.

[2021-05-28 06:55] andyzhangx commented on #868
looks like a new requirement, agent node and master nodes needs different `azure-cloud-provider` config.

[2021-05-28 06:56] Flowman commented on #869
The machine name is: prefix-hostname
Hostname is just: hostname

It takes the hostname and fills in the xxx so it will never find the VM.

I0528 06:54:10.071680       1 azure_vmclient.go:132] Received error in vm.get.request: resourceID: /subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.Compute/virtualMachines/xxx, error: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 404, RawError: Ret

[2021-05-28 06:59] andyzhangx commented on #869
so the hostname is your k8s agent node name when you run `kubectl get node`?

[2021-05-28 07:03] Flowman commented on #868
Just an example of an k3s cluster

NAME                       STATUS   ROLES                       AGE     VERSION
k3s-vmss000000      Ready    worker                      3h33m   v1.20.7+k3s1
k3s-vmss000001      Ready    worker                      3h33m   v1.20.7+k3s1
k3s-master               Ready    control-plane,etcd,master   3h35m   v1.20.7+k3s1

[2021-05-28 07:06] andyzhangx commented on #868
if your controller is running on `k3s-master`, you should set `"vmType": "vmss"` in cloud config, not need to care about master node since you only need to attach/detach disk to agent node.

[2021-05-28 07:07] Flowman commented on #869
for an example the VM called 'company-master-001'

NAME                       STATUS   ROLES                       AGE     VERSION
master                      Ready    control-plane,etcd,master   3h35m   v1.20.7+k3s1

The node name is not the same as the VM name.

[2021-05-28 07:09] Flowman commented on #868
I use the helm chart and it installs on all nodes.

[2021-05-28 07:09] andyzhangx commented on #869
node name should be same as VM name, azure disk driver only knows `node name`, it's not aware of VM name.

[2021-05-28 07:11] andyzhangx commented on #868
try add `--set controller.runOnMaster=true`, it would run csi-azuredisk-controller on master node

[2021-05-28 07:21] Flowman commented on #869
Easy good to know not to use the guest host name on the VM.

[2021-05-28 07:21] #869 closed

[2021-05-28 07:26] Flowman commented on #868
the controller is fine, it should be more --set node.runOnMaster=false for the daemonset in csi-azuredisk-node.yaml

[2021-05-28 14:33] #815 closed

[2021-06-01 11:06] andyzhangx commented on #868
it's ok to run csi-azuredisk-node on agent node, so this issue is resolved?

[2021-06-03 01:52] #818 closed

[2021-06-03 15:10] yzarca commented on #714
@deepak16795 could you share (of course no personal information) how did you set your cloud.conf file ?
Did you set up this into on premise k8s cluster ?

Thanks.

[2021-06-03 15:24] yzarca commented on #714
I found out you already did, sorry i didnt check well.
So i guess the matter is hout to get in the right way the parameters:
[code]
Is there any procedure to help ?

Thanks,
Yzarca

[2021-06-03 16:08] deepak16795 commented on #714
@yzarca We are using Azure Devops Pipeline for populating the client id and secret where we create the Service Principal as part of it and update it in the azure.json

[2021-06-03 16:12] kassarl commented on #709
/assign
/remove-lifecycle rotten

[2021-06-03 16:50] kassarl commented on #717
/remove-lifecycle stale

[2021-06-04 03:19] andyzhangx commented on #714
@yzarca you could check this: https://github.com/kubernetes-sigs/azuredisk-csi-driver#prerequisite

[2021-06-08 02:49] andyzhangx opened #879 "[snapshot test failures] maximum number of data disks allowed to be attached to a VM"
**What happened**:

 - need to figure out who snapshot test would lead to exceeding maximum number of data disks issue

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/878/pull-azuredisk-csi-driver-external-e2e-single-az/1402080808738492416/build-log.txt

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else

[2021-06-08 13:03] andyzhangx opened #880 "[Testpattern: Pre-provisioned Snapshot (delete policy)] snapshottable[Feature:VolumeSnapshotDataSource]"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/878/pull-azuredisk-csi-driver-external-e2e-single-az/1402235980450107392

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /et

[2021-06-08 22:39] #584 closed

[2021-06-09 04:21] kassarl commented on #707
/assign
/remove-lifecycle rotten

[2021-06-09 05:54] andyzhangx commented on #707
could add `feature.createStorageClass: false(by default)`, if it's set as `true`, then create storage class in helm driver installation: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/storageclass-azuredisk-csi.yaml

[2021-06-09 10:04] andyzhangx opened #883 "[test] add wait until succeed in bash script"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

current implementation in bash script would wait 300s for windows pod run succeeded which is low efficient, should add a wait until succeed in bash script

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/1b87a217c2cc8a9c2fc768c913963604242fefb6/hack/verify-examples.sh#

[2021-06-09 13:51] Flowman commented on #868
I noticed some issue running both VMSS and VM. If the controller runs on a VMSS and tires to create a file share on a VM it will error out with wrong VM type.

So I would not recommend running mixed mode of VMSS and VM.

I opened a issue on the azurefile csi, but will suggest it here to. This will help with azuredisk node not installing on the master.

**Is your feature request related to a proble

[2021-06-09 14:01] Flowman opened #884 "Kubernetes secret"
I am following the guide to use a kubernetes secret https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/read-from-secret.md

But the node driver always fails with:

[code]

**What happened**:

Cannot read the kubernetes secret

**What you expected to happen**:

Read the kubernetes secret.

**How to reproduce it**:

Create the secret from the guide.
Use the helm chart.

**Anyth

[2021-06-10 12:52] #671 closed

[2021-06-10 12:52] #673 closed

[2021-06-12 09:11] andyzhangx commented on #577
it's done

[2021-06-12 09:11] #577 closed

[2021-06-12 11:34] #884 closed

[2021-06-13 09:43] #709 closed

[2021-06-14 11:34] gauravAggrahari opened #889 "version 1.3.0 is failing with error "Resource name may not be empty""
Hi,
I am trying to run the azuredisk-csi-driver version 1.3.0 which is resulting in an error when trying to read from secret.
The error it is running into is "Resource name may not be empty".
The same setup is working fine for 1.2.0.

Thank you.

[2021-06-14 11:37] andyzhangx commented on #889
that's a regression fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/886, pls stay with 1.2.0 or wait for 1.4.0 release, thanks.

[2021-06-14 11:40] gauravAggrahari commented on #889
Thank @andyzhangx for quick response.

[2021-06-15 03:36] chunliu opened #891 "The pv was provisioned in the wrong zone"
**What happened**:
The cluster consists of 1 control plane and 1 worker node. The control plane is placed in a zone, while the worker node is not in zones:
[code]
The default storage class is set to azure disk csi driver. The volumeBindingMode is `WaitForFirstConsumer`.
[code]
When deploy a pod with a pvc using the default storage class, the pod is pending because of the following event:
[code]
Th

[2021-06-15 03:50] andyzhangx commented on #891
could provide controller logs? thanks. follow: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed

[2021-06-15 03:53] andyzhangx commented on #891
and where are your app pod and driver controller pod scheduled?

[2021-06-15 04:51] chunliu commented on #891
Here you go:

[csi-azuredisk-node.log](https://github.com/kubernetes-sigs/azuredisk-csi-driver/files/6652866/csi-azuredisk-node.log)
[csi-azuredisk-controller.log](https://github.com/kubernetes-sigs/azuredisk-csi-driver/files/6652868/csi-azuredisk-controller.log)

[code]

The app pod is pending to be scheduled because the worker node doesn't fulfil the node affinity.

[2021-06-15 05:33] chunliu commented on #891
Looks like the problem may be related to the following:
[code]
When there are both zone and non-zone segments in the preferred, the `pickAvailabilityZone` function always pick up a zone. Maybe the above grpc result should not have the zone but only the non-zone shown up in the preferred in this case?

[2021-06-15 06:07] andyzhangx commented on #891
that's because driver node runs on both zone and non-zone segments, I think you could remove following tolerations, make driver node only runs on agent node:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/72117cecfa36a1b15e1a7b1412a922283f7fc7e5/deploy/csi-azuredisk-node.yaml#L31-L32

option#2, only schedule pod on non-zone node, follow: https://github.com/kubernetes/kubernetes/issue

[2021-06-15 07:57] chunliu commented on #891
Option 1 doesn't seem to help. Both the controller and the node drivers run on the worker node now, but the problem is still there.
[code]
log of the controller pod:
[code]
Still see both zone and non-zone in preferred.

In my case, the node with zone is the master. The app pod won't be scheduled to it. It doesn't have the tolerate for master.

Bwt, would there be any impact if I schedule the cont

[2021-06-15 08:24] #868 closed

[2021-06-15 08:47] andyzhangx commented on #891
just `kubectl edit deployment csi-azuredisk-controller -n kube-system`, and add `- "--strict-topology=true"` to the csi-provisioner sidecar container, that should fix this issue:

[code]

[2021-06-15 10:58] #891 closed

[2021-06-15 12:16] andyzhangx commented on #889
fixed with v1.4.0 release

[2021-06-15 12:16] #889 closed

[2021-06-15 12:18] andyzhangx opened #894 "add vmType parameter in driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

`vmType` could be `standard`, `vmss`, this would make driver more flexible if `vmType` is not in azure.json

**Describe alternatives you've considered**

**Additional context**

[2021-06-15 12:25] andyzhangx commented on #894
maybe not necessary to add this parameter,
`kubectl edit deployment csi-azuredisk-controller -n kube-system`, and add `--disable-avset-nodes=false` in azuredisk sidecar containers could solve this issue.

[2021-06-15 12:25] #894 closed

[2021-06-16 01:20] andyzhangx commented on #703
should be fixed

[2021-06-17 03:31] #689 closed

[2021-06-21 17:21] edreed commented on #883
/assign

[2021-06-23 12:04] ezYakaEagle442 opened #898 "Add end to end tests with ARO"
Azure RedHat OpenShift uses CoreOS and is a first-party service in Azure.
The CSI drivers pre-req and examples must be not only cleared documented but also tested through end to end tests

see also :
- [https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/716](https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/716)
- [https://github.com/kubernetes-sigs/blob-csi-driver/issues/

[2021-06-23 12:06] ezYakaEagle442 opened #899 "Add end to end tests with Mariner"
@andyzhangx

[2021-06-23 15:33] sereinity opened #901 "Insufficient permissions on volume for non-root containers"
**What happened**:

Pods crash at start because it can't create files in the new PVC.

I'm able to make the pod work by manually create a temporary pod, mounting, create files and changing ownership.

**What you expected to happen**:

I expect that the new CSI provisionner can work as a drop-in replacement of the kubernetes.io/azure-disk provisionner.

**How to reproduce it**:

Create a new cluste

[2021-06-23 22:12] edreed commented on #851
/assign

[2021-06-23 23:14] edreed commented on #901
I was able to reproduce the issue with the [`deploy/example/statefulset-nonroot.yaml`](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/statefulset-nonroot.yaml) example. I found a related issue in kubernetes-sigs/vsphere-csi-driver#370 and tried the workaround of explicitly setting the `fstype` parameter in the StorageClass to `ext4`. This worked for me. @sereini

[2021-06-23 23:15] edreed commented on #901
/assign

[2021-06-24 01:05] andyzhangx commented on #901
this issue could be related to fsGroupPolicy, which is only supported from 1.20, and you need to run following command to support fsGroupPolicy: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/fsgroup#option2-enable-fsgrouppolicy-support-on-a-cluster-with-csi-driver-already-installed

When minimum supported k8s version is 1.20, we will enable fsGroupPolicy featur

[2021-06-24 03:01] edreed commented on #901
@andyzhangx Thanks! Enabling fsGroupPolicy also worked for me.

[2021-06-24 08:37] sereinity commented on #901
Thank you @edreed , @andyzhangx I confirm that both enabling `fsGroupPolicy` or explicitly setting `fstype` worked for me.

[2021-06-24 08:41] #901 closed

[2021-06-24 13:56] andyzhangx commented on #879
incorrect LUN num:
[code]

[2021-06-26 02:07] #883 closed

[2021-06-28 11:06] broomfn commented on #273
+1 I can't believe this isn't already implemented.  I commonly resize Linux PVs/LVs all online, it's generally expected in this day and age.

[2021-07-01 14:23] #393 closed

[2021-07-04 00:54] #708 closed

[2021-07-05 14:58] #718 closed

[2021-07-06 16:08] lukasmrtvy commented on #273
Can You give us updated ETA? Thanks

[2021-07-06 23:28] #741 closed

[2021-07-07 07:10] yuzsun commented on #273
@andyzhangx hello andy, may I know if there is any update on this feature? do we have any ETA?

[2021-07-07 08:28] scoof opened #926 "Snapshot CRD conflicts with preinstalled CRD in AKS 1.21 clusters"
**What happened**: When deploying chart with snapshots enabled to a 1.21 AKS cluster, helm complains that the VolumeSnapshots CRD already exists and can't be imported.

**What you expected to happen**: To be able to install chart alongside the default deployment in AKS 1.21

**How to reproduce it**: Deploy AKS 1.21. Install chart with snapshot.enabled: true

**Anything else we need to know?**: CRD

[2021-07-07 08:51] scoof opened #927 "RBAC/serviceaccounts impossible to deploy alongside an AKS 1.21 default deployment"
**What happened**: Attempted to deploy to an AKS 1.21 cluster, but couldn't create an RBAC setup that worked.
If rbac.create is true, it tries to create the clusterrole csi-azuredisk-node-secret-role, which already exists.
If serviceaccount.create is true, it tries to create the csi-azuredisk-node-sa serviceaccount, which already exists.
If I try to override the serviceaccount names and set rbac.c

[2021-07-07 09:26] rhummelmose commented on #926
@andyzhangx

[2021-07-07 09:26] rhummelmose commented on #927
@andyzhangx

[2021-07-07 14:53] andyzhangx commented on #927
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/925 should address this issue. with master branch, try:
[code]

[2021-07-07 14:55] andyzhangx commented on #926
there should be only one snapshot controller in one cluster, and snapshot controller is already installed by default on aks 1.21, so helm install with `snapshot.enabled: true` is not supported

[2021-07-07 17:16] scoof commented on #926
Makes sense, thanks.
(Having the CRD as part of templates is going to give people a hard time when migrating to 1.21, since Helm will try to delete the CRD as part of the uninstall)

[2021-07-07 17:16] #926 closed

[2021-07-07 18:49] scoof commented on #927
Thanks. That almost works. https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml#L49 needs to match https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml#L5
I'll submit a PR tomorrow if you don't beat me to it. I

[2021-07-08 09:20] #535 closed

[2021-07-08 14:00] zuzzas commented on #614
/remove-lifecycle rotten

[2021-07-08 16:26] #658 closed

[2021-07-09 03:21] andyzhangx commented on #927
should already fixed by this PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/928
The official guide about how to use a different driver, deployment name: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/README.md#install-driver-with-customized-driver-name-deployment-name

[2021-07-09 07:20] #927 closed

[2021-07-09 07:20] scoof commented on #927
WFM

[2021-07-09 07:26] scoof opened #930 "Snapshots don't work for a custom deployment alongside the AKS 1.21 default deployment"
**What happened**: A custom CSI driver per instructions (https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/README.md#install-driver-with-customized-driver-name-deployment-name) is not able to snapshot

**What you expected to happen**: I expected to be able to snapshot volumes created by the custom deployment

**How to reproduce it**: Deploy with the values in the docs, cre

[2021-07-09 08:47] andyzhangx commented on #930
@scoof good catch, `csi-snapshotter` should always exists in csi driver default installation. Let me work out a PR to fix this issue.

[2021-07-10 00:54] #930 closed

[2021-07-10 12:57] abhioncbr opened #933 "Support 'Network Connectivity' Driver Parameter for Dynamic Azure Disk Provisioning"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**
CSI driver-based dynamic provisioning of azure disk supports several disk parameters like resource-group, storage account, diskEncryptionSetID. I am referring the following [Document](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/driver-parameters.md#dynam

[2021-07-10 13:00] andyzhangx commented on #933
hi @abhioncbr do you have more details about how to add Public Endpoint Network connectivity for disk?

[2021-07-10 13:09] andyzhangx commented on #933
I see the doc is here: https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-private-links-for-import-export-portal
Does `Deny All` Network Connectivity work in your scenario? If so, we could make it as default.

[2021-07-11 12:22] abhioncbr commented on #933
Hi, @andyzhangx Thanks for the reply.
Yes, we are looking for `Deny All` Network Connectivity itself, and it would be great if you make it the default option.

[2021-07-12 15:12] abhioncbr commented on #933
@andyzhangx can you please confirm the timeline for this change?
It would be great if we get a change in the coming weeks. Thanks

[2021-07-14 19:19] scoof opened #936 "Support for AAD pod-managed identities"
**Is your feature request related to a problem?/Why is this needed**
I thought I had support for pod-managed identities by providing a way to label the pods, but as I dug deeper, I realized it wasn't enough.

**Describe the solution you'd like in detail**
There are currently two things that needs to be changed to fully support pod-managed identities:
* hostNetwork: false
* Injecting azure.json wit

[2021-07-15 02:08] #933 closed

[2021-07-16 01:38] andyzhangx commented on #936
for the `hostNetwork: false` setting, I could customize this setting in helm install, by default, `hostNetwork` is true since [optimize disk performance feature](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/enhancements/feat-add-ability-to-tune-azuredisk-performance-parameters.md) depends on this setting.

[2021-07-16 01:57] andyzhangx commented on #933
hi,  master branch adds a new parameter `networkAccessPolicy: DenyAll` in storage class, would you try that? thanks.

[2021-07-16 04:31] andyzhangx commented on #936
PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/939) would add customized `hostNetwork` setting in helm install.

[2021-07-16 05:38] scoof commented on #936
As far as I can see (device_perf_linux.go) this feature depends on querying the Azure API for data about disks, and tweaking stuff in /sys? The first should use AAD Pod ID, so would work fine with `hostNetwork: false`, while the latter just uses a hostPath? Am I missing anything?

[2021-07-16 05:43] scoof commented on #936
The /csi/csi.sock unix socket mount in the node pod does seem to have issues with `hostNetwork: false` though

[2021-07-16 06:48] scoof commented on #936
I don't think it's the socket mount that is creating problems, but rather that azuredisk is not reaching the listening phase. It stops at: `skus.go:121] NewNodeInfo: Starting to populate node and disk sku information.` - so the problem is probably that it tries to get a token from IMDS, but is not authorized for that user. I'll try mounting an azure.json with an identity it can assume.

[2021-07-16 07:02] andyzhangx commented on #936
@scoof device_perf is not an essential feature(disabled by default now), I think that's ok, you could go with `hostNetwork: false`

[2021-07-16 07:05] scoof commented on #936
I have the node pods working with `hostNetwork: false` now - they just required a proper azure.json to be able to inspect the azure config

[2021-07-16 07:36] scoof commented on #936
device_perf fails because the devices in `/sys/block` are symlinks to `/sys/devices`, and that is mounted ro. It works if I add a `hostPath` volume for `/sys/devices`, but I don't know if that is too broad (at least it is less broad than the full sysfs that `hostNetwork: true` provides)

[2021-07-16 08:15] andyzhangx commented on #936
@scoof device_perf depends on IMDS, so it won't work if hostNetwork is disabled, that' expected:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c8f75374ec5c60cc25e44530116f4fc4e324359c/pkg/optimization/skus.go#L120-L131

About how to set cloud config, you could follow: https://github.com/kubernetes-sigs/azuredisk-csi-driver#prerequisite

[2021-07-16 08:19] scoof commented on #936
But the whole point of this exercise is to use the Pod Identity IMDS instead of the node IMDS, since that will allow us to constrain the identities the pod is able to assume.

[2021-07-16 08:21] andyzhangx commented on #936
@scoof just disable hostNetwork since device_perf optimization feature is not a required feature for now. Maybe we could leverage Pod Identity IMDS to get node info in the future.
cc @bcho

[2021-07-16 08:25] scoof commented on #936
I think we're talking past each other. Device_perf works fine with Pod Identity, when configured in the same manner as the controller, and when adding a hostpath volumemount to /sys/devices.
By labelling the pod with aadpodidentity, we can allow the pod to assume a particular identity (which is more constrained than the kubelet identity), and then it's able to get node info just fine, since Pod Id

[2021-07-16 08:30] scoof commented on #936
My problem is that there's no way to inject an azure.json that is specific to this particular deployment - the Secret method relies on a hard coded name, which will clash with any other pods using the same method with the same name.
I think viable solutions are either
* to allow the user to specify another secret name (this would require code changes and not just chart changes I think)
* to allow

[2021-07-16 08:49] andyzhangx commented on #936
@scoof secret name is defined here:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c8f75374ec5c60cc25e44530116f4fc4e324359c/pkg/azuredisk/azure.go#L56-L57

do you think we should specify `controller.cloudConfigSecretName`,  `controller.cloudConfigSecretNamespace`, `node.cloudConfigSecretName`,  `node.cloudConfigSecretNamespace` in helm chart?

[2021-07-16 08:53] scoof commented on #936
@andyzhangx since we already have a way of pointing to an alternative azure.json, I think it would make more sense to just have the helm chart add a secret, mount that secret and point to it using AZURE_CREDENTIAL_FILE, that would allow the user to just specify the contents

[2021-07-16 09:19] andyzhangx commented on #936
@scoof that's two options: 1)  let driver read from different secrets 2) project different secrets to driver cloud config path.
anyway we need to specify `controller.cloudConfigSecretName, controller.cloudConfigSecretNamespace, node.cloudConfigSecretName, node.cloudConfigSecretNamespace` in helm chart since node and controller may need different cloud configs.

[2021-07-16 09:20] #936 closed

[2021-07-16 09:57] scoof commented on #936
I have no preference of one over the other.

[2021-07-17 18:13] #734 closed

[2021-07-20 20:56] nearora-msft commented on #880
/assign

[2021-07-20 21:15] nearora-msft commented on #880
@andyzhangx Looks like this issue has been fixed with this commit : https://sourcegraph.com/github.com/kubernetes/kubernetes/-/commit/c4dfee62628beee01707b2a1abf08b6a4936cb0d

Upgrading to a newer versiosn of K8s might help resolve it.

[2021-07-23 08:00] #547 closed

[2021-07-23 13:20] abhioncbr opened #949 "Permissions issue for Azure CSI Disk Driver Based Disks."
**What happened**:
It is related to running MongoDB in the AKS cluster.
- We decided to use the Azure CSI driver-based dynamic PV to persist the MongoDB stateful sets. We are getting the permissions issues for the attached disk for the MongoDB pods, hence failing the workload.
-  However, with StorageClass based on `kubernetes.io/azure-disk`, the workload runs absolutely fine without any permissio

[2021-07-23 13:23] andyzhangx commented on #949
should be related to this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/901#issuecomment-867218476, would you use the workaround `fsType: ext4` in storage class as mentioned in the above issue. CSI driver v1.4.0 is rolling out this week which could solve this issue on aks 1.21, need waiting one more week.

[2021-07-23 13:38] abhioncbr commented on #949
Let me give it a try. Thanks

[2021-07-28 13:59] #949 closed

[2021-07-30 13:23] jsafrane opened #954 "Failed to mount XFS volume + its restored snapshot to the same node"
**What happened**:
When a XFS volume + its restored snapshot are NodeStaged to a single node, mount of the second volume fails with:
[code]

**What you expected to happen**:
Both volumes are mounted

**How to reproduce it**:
1. Create XFS volume and use it in a Pod.
2. Take its snapshot.
3. Restore the snapshot as a separate PV/PVC.
4. Use the snapshot restored PVC in another pod. Make sure it's s

[2021-07-30 13:23] jsafrane commented on #954
/assign

[2021-07-30 13:27] jsafrane commented on #954
CSI driver logs:
[code]

Kernel log on the node:
[code]

[2021-07-30 16:09] #954 closed

[2021-07-31 10:20] #710 closed

[2021-07-31 10:20] #711 closed

[2021-08-02 21:22] songjiaxun opened #957 "Azure Stack Cloud does not support "NetworkAccessPolicy""
**What happened**:
After [`NetworkAccessPolicy`](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/147734c75445b522f63f75ebb98d159b79954885/pkg/azuredisk/controllerserver.go#L350) is introduced, Azure Stack Cloud throws error when creating managed disk:
[code]

**What you expected to happen**:
On Azure Stack Cloud, bypass setting networkAccessPolicy.

**How to reproduce it**:
Run sanity

[2021-08-03 01:02] andyzhangx commented on #957
can you work out a PR to remove `NetworkAccessPolicy` for azure stack?

[2021-08-03 06:56] bottkars commented on #957
was about to open the same. also tried ro install using helm parameter --set feature.enableFSGroupPolicy=false but obviously was ignored

[2021-08-03 07:22] bottkars opened #958 "Document specific Helm Parameters for 1.20 with GA Snapshotter ( Storageclass, Driverparameters )"
**Is your feature request related to a problem?/Why is this needed**

Document related Driver Parameters for k9s 1.2x

**Describe the solution you'd like in detail**
When Using Helm to install Drivers on a AKS Cluster, Please specify
`--set snapshot.apiVersion=ga`
Also, make  sure to create the Correct Snapshot Storageclass:

`apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metada

[2021-08-03 18:21] chrishenzie commented on #811
/remove-lifecycle stale

[2021-08-04 17:37] songjiaxun commented on #957
I created a PR to fix this issue for Azure Stack Cloud. @bottkars, I created this private image including the fix: `jiaxsong/azuredisk-csi:v1.6.0` for e2e tests, and the tests all passed, just in case you want to try it from your side.

[2021-08-07 00:05] ams0 opened #963 "Invalid volume permissions with CSI driver with kube-prometheus-stack"
**What happened**:
Using kube-prometheus-stack chart with an CSI azure-disk managed disk doesn't work due to permission issues. The chart sets as defaults:

[code]

using a PV of type `disk.csi.azure.com` with the chart will lead to this error:

[code]

Setting the pod to run as root fixes the problem but it's not ideal:

[code]

**What you expected to happen**:

Prometheus running fine on managed

[2021-08-07 01:24] andyzhangx commented on #963
would you follow guide here to workaround this issue?
https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/901#issuecomment-867218476

[2021-08-07 08:47] ams0 commented on #963
Thanks, recreating the `CSIDriver` object worked. I forgot to say that I'm using a statically provisioned disk and just a PV referencing it, not a storageClass, and the PV definition already had `fsType: ext4`:

[code]
On 1.20.7, [this](https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/fsgroup#option2-enable-fsgrouppolicy-support-on-a-cluster-with-csi-driver-alread

[2021-08-09 07:25] #963 closed

[2021-08-09 07:35] andyzhangx commented on #957
this `NetworkAccessPolicy` issue on azure stack should be only on test cases, right? if azure stack does not support `NetworkAccessPolicy`, just don't specify this parameter in storage class.

[2021-08-09 08:39] andyzhangx commented on #957
@bottkars what is the `--set feature.enableFSGroupPolicy=false` issue? if it's set as `false`, will be set as `fsGroupPolicy: ReadWriteOnceWithFSType` by default on 1.20.0+

[2021-08-09 09:05] #957 closed

[2021-08-09 09:14] andyzhangx commented on #958
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/959

[2021-08-09 09:14] #958 closed

[2021-08-11 11:41] andyzhangx commented on #957
`v1.5.1` is already published with the azure stack fix.

[2021-08-11 17:34] gfrankel97 commented on #273
Waiting on this feature as well

[2021-08-13 15:20] #536 closed

[2021-08-20 17:33] Jiawei0227 commented on #597
/remove-lifecycle rotten

I can still reproduce. Sync with @abhisheksinghbaghel offline and we will have a debug session

[2021-08-24 03:02] andyzhangx opened #984 "provide skuName for static PV"
**Is your feature request related to a problem?/Why is this needed**

In static PV, there is no `skuName`, azure backup team needs this field in backup & restore scenario.

[code]

Here difficulty is how to pass `skuName` in `ControllerPublishVolume`?

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-08-24 21:53] Jiawei0227 commented on #597
We had a debug session and some more interesting information. It seems somehow the bug is related to multipath. We try to attach the restored PVC on another new node and it succeed without any issue, which proves that the Snapshot itself is correct.

Somehow, when we attach the disk to the node, there will be a multipath service running whereas in the new node there is not.

Another interesting ex

[2021-08-25 01:04] #717 closed

[2021-08-25 02:02] andyzhangx commented on #597
@Jiawei0227   thanks for sharing, so disable `multipath` would simply fix the issue?

[2021-08-25 09:15] abhisheksinghbaghel commented on #597
@Jiawei0227 As discussed earlier today, I tried to repro this on a single node, i.e. without the e2e test and looks like the issue does appear to be OS/multipath specific.
I don't see multipath enabled on ubuntu 18.04 and reading online confirms that its enabled by default on 20.04 and that's probably the reason it repros at your end and not time.

To find right resolution for this can you send me

[2021-08-30 16:45] edreed opened #993 "improve unit test coverage of nodeserver.go"
**Is your feature request related to a problem?/Why is this needed**

The unit test coverage for [`nodeserver.go`](https://coveralls.io/builds/42495143/source?filename=pkg%2Fazuredisk%2Fnodeserver.go) is currently around 54%.

**Describe the solution you'd like in detail**

Improve unit test coverage to achieve >80% coverage.

**Describe alternatives you've considered**

N/A

**Additional context*

[2021-08-30 16:45] edreed commented on #993
/assign

[2021-08-30 16:53] gmcbrien opened #994 "invalid parameter storageAccount"
**What happened**:
Updated azuredisk CSI driver in line with release 1.6.0. When provisioning a PVC, it sticks in 'Pending' with the following error:

[code]

As far as I can see [here ](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/driver-parameters.md)storageAccount is a valid parameter.

This worked fine with my previous version (v0.10.0)

Here is my current storagecl

[2021-08-31 01:42] andyzhangx commented on #994
would you try `1.5.0` since `1.6.0` is actually on master branch, I think you are using the `latest` image tag

[2021-08-31 10:27] gmcbrien commented on #994
'downgraded' to driver 1.5.0, and matching all versions and syntax in release 1.5.0, but the problem persists.
Extract of csi-provisioner logs:

[code]

Sidecar and driver versions running in the controller and nodes:

**csi-azuredisk-controller-69b58fc7bb-dnf4k:**

[code]
**csi-azuredisk-node-4hkwj:**
[code]

Happy to share any other logs / YAML

[2021-08-31 11:07] andyzhangx commented on #994
sorry, my fault, `storageAccount` is removed in Azure Disk CSI driver already, it's only supported for blob based disk type which is not supported by CSI driver. Just remove that parameter, and it should work. And I have updated the doc. Thanks.

[2021-08-31 11:07] andyzhangx commented on #994
in the beginning, I thought it was azure file driver, I messed it up.

[2021-08-31 11:07] #994 closed

[2021-08-31 12:17] gmcbrien commented on #994
Thanks. But then, how do I control which storageAccount is used?

[2021-08-31 12:18] andyzhangx commented on #994
We are now all using managed disk now in CSI driver, we don't need to manage a storage account any more

[2021-09-02 03:04] #993 closed

[2021-09-02 08:49] andyzhangx commented on #879
error still exists in external e2e test:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/1000/pull-azuredisk-csi-driver-external-e2e-single-az/1433334186185330688/build-log.txt

[2021-09-03 20:40] circy9 opened #1003 "Stale info on shared disks"
**What happened**:
Shared disk currently also supports standard SSD and more disk sizes: https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared#disk-sizes

This doc contains stale information.
https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/sharedisk

**What you expected to happen**:
Update the stale doc.

**How to reproduce it**:

**Anything else w

[2021-09-07 22:41] bathina2 commented on #571
@koceg did you ever get any resolution on this issue? Im seeing something similar. Not sure whats causing the deadlock.

[2021-09-08 01:41] andyzhangx commented on #571
you may provide the disk controller logs and `csi-provisioner` logs

[2021-09-08 18:24] bathina2 commented on #571
I'm using 1.21 with AKS. I can't seem to find the csi-provisioner pods in the kube-system namespace. Where is the provisioner located? I only see the node pods.

[2021-09-09 02:24] andyzhangx commented on #571
@bathina2 can you paste your pod/pvc/storage class config? is it reproable?

[2021-09-09 02:38] andyzhangx commented on #984
fixed

[2021-09-09 02:38] #984 closed

[2021-09-09 13:41] jsafrane opened #1013 "Volumes on Azure Stack Hub do not have correct topology"
**What happened**:
Running v1.5.1 on Azure Stack Hub, I noticed that PVs have a wrong affinity and nodes have wrong labels.

 PV:
[code]

Node:
[code]

So, the external cloud controller knows correct location (ppe3/1), but the CSI driver does not.

**What you expected to happen**:
Both PVs and Nodes would have some topology, either `topology.disk.csi.azure.com/zone: 1` or `ppe3-1`

**How to reprod

[2021-09-09 13:44] jsafrane commented on #1013
I am not very familiar in this area, to me it looks like `GetZone()` should return `FailureDomain: ppe3-1, Region:ppe3`. To make that happen, `GetZoneByNodeName` should use `as.makeZone()` instead of a plain number [here](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/4c052cc47c2d67d8bbffbb31f13bbf33ca4d0630/vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go#L607)

[2021-09-09 13:49] jsafrane commented on #1013
BTW, this will be super hard to fix in a running cluster, because we can't change `PV.spec.nodeAffinity` once a PV was created. A cluster with the faulty PVs *must* always run a CSI driver that reports `topology.disk.csi.azure.com/zone: ""` to make sure these old PVs are working.

[2021-09-09 13:50] andyzhangx commented on #1013
I am not familiar with zone on azure stack. @songjiaxun do you know whether Azure Stack supports zone? From the above info with public cloud zone rules, that cluster is located in region `ppe3`, and fault domain is `1`, that's not a zone node pool, it's in one availability set.

If one node is in zone # 1,  `GetZone` func should return `region-1`

[2021-09-09 13:51] andyzhangx commented on #1013
Aha, I think that's not a zone cluster, it's a cluster within an availability set with fault domain num.

[2021-09-09 13:52] andyzhangx commented on #1013
but anyway, does volume scheduling works on such cluster on Azure stack?

[2021-09-09 14:05] jsafrane commented on #1013
I my Azure stack hub, I can see all `disks` and `virtualMachines` do **not** have any `zone` / `zones`  fields  in their jsons (I see them in the real Azure cloud). I can see the VMs in ASH have a fault domain assigned, some nodes have "0", some have "1". Not sure if it represents something like "Zone". It seems that the disks can be used by any VM in both failure domains, at least in my env.

So,

[2021-09-09 16:12] jsafrane commented on #1013
Maybe my problem is related to using fault domains and not really ASH. Is can a disk be atttached to all VMs in all fault domains? If so, why the driver uses it for topology restriction?

[2021-09-09 19:13] songjiaxun commented on #1013
@jsafrane Thanks for reporting this issue. I don't think Azure Stack Hub supports zones, which means the zones or topology related features were not tested on Azure Azure Hub. That being said, we are running e2e tests thoroughly on Azure Stack Hub to make sure other features work. To me, it seems like it just works by accident. However, the behaviour is what we expect -- empty value for `topology.

[2021-09-09 19:38] songjiaxun opened #1014 "Error "NewNodeInfo: Failed to get zones from Azure cloud provider." on Azure Stack Hub"
**What happened**:
After a newer version of cloud-provider-azure is being used in 1.6.0, nodeserver gets errors: "NewNodeInfo: Failed to get zones from Azure cloud provider."

Because of the change of function [Zones](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/4c052cc47c2d67d8bbffbb31f13bbf33ca4d0630/vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go#L862-L870), inside

[2021-09-09 19:39] songjiaxun commented on #1013
Created a new different issue for the newer CSI version, the fix for this issue may solve the problem here as well. https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/1014

[2021-09-09 20:45] bathina2 commented on #571
@andyzhangx we were able to resolve the issue. The pods we were creating had a nodeName specified. When we removed it the scheduler was able to place it on the correct node with the PVC.

However, this doesn't explain why the pvc is unbound when it seems like it isn't? Does the CSI provisioner bind the volume to a node when we create a PVC from a snapshot?

[2021-09-10 01:50] andyzhangx commented on #1013
if current node pool does not support zone, `topology.disk.csi.azure.com/zone: ""` is the correct setting, which could make sure PV could be scheduled to any node. We only set non-empty value for zone node, so this is expected and by design. It's not working **by accident**, it's working by our design.

[2021-09-10 01:56] andyzhangx commented on #1014
if current node pool does not support zone, `topology.disk.csi.azure.com/zone: ""` is the correct setting, which could make sure PV could be scheduled to any node. We only set non-empty value for zone node, so this is expected and by design. It's not working **by accident**, it's working by our design.

[2021-09-10 01:58] andyzhangx commented on #1014
for azure stack, since it does not support zone, it will always print following error, I think we should remove following warning msg on Azure stack too, that could make logs more clear, anyway, that's not a blocking issue on Azure stack.
[code]

[2021-09-10 02:10] andyzhangx commented on #571
@bathina2 it depends on your azure disk storage class config, set as `volumeBindingMode: Immediate` could create PV disk first when you create a PVC.

[2021-09-10 02:40] songjiaxun commented on #1014
@andyzhangx thanks for the explanation, I think you are right. I believe this issue is gone in version 1.7.0 because of this [commit](https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/fed5fba85e6276aa09297701fd4312d6fc91f82b), in which you replaced `Fatalf` with `Errorf`. Closing this issue.

[2021-09-10 02:40] #1014 closed

[2021-09-10 08:00] bathina2 commented on #571
Yep in this case the storage class is wait for consumer. However when the consumer exists on a specific node, it is still stuck in that state.

[2021-09-10 08:51] jsafrane commented on #1013
I agree.

I don't agree here. It works only because `d.cloud.GetZone(ctx)` goes through `availabilitySet` path, which returns `FailureDomain:1` and not `FailureDomain:ppe3-1`.  This is not very obvious. I'd expect that `GetZone` sees that this particular Azure does not support zones and returns something that makes it obvious. Why is failure domain index returned here instead of `""`?
https://gith

[2021-09-10 08:58] andyzhangx commented on #1013
about `GetZone` value, doc is here:
https://kubernetes-sigs.github.io/cloud-provider-azure/topics/availability-zones/#node-labels
[code]

[2021-09-10 09:37] #851 closed

[2021-09-10 09:45] jsafrane commented on #1013
Thanks for the link, that explains it's really a design. Sorry about the noise. A comment somewhere in the code would help :-).

[2021-09-10 09:48] andyzhangx commented on #1013
sure, I will leave a comment in the code, just keep this issue open, will work out a PR to close this issue, thanks.

[2021-09-14 20:50] alinaryan opened #1021 "Storage volume not created on OpenShift Windows container w/ csi-proxy running"
**What happened**:
In pvc logs seeing: `waiting for a volume to be created, either by external provisioner "disk.csi.azure.com" or manually created by system administrator`

**What you expected to happen**:
Storage volume is created by external provisioner disk.csi.azure.com

**How to reproduce it**:
[deployment.txt](https://github.com/kubernetes-sigs/azuredisk-csi-driver/files/7164983/deployment.

[2021-09-15 01:15] andyzhangx commented on #1021
could your check disk driver controller logs, follow by: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed, and you may set up cluster identity for azure disk controller before deploy this driver, follow: https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-azure-disk.md

[2021-09-15 03:49] #455 closed

[2021-09-15 19:17] alinaryan commented on #1021
I had attached the Azure-Disk driver logs. Are the Azure-Disk driver **controller** logs different from these?

I0914 18:42:33.510872    7372 azuredisk.go:133]
DRIVER INFORMATION:
Build Date: "2021-09-14T02:34:36Z"
Compiler: gc
Driver Name: disk.csi.azure.com
Driver Version: v1.8.0
Git Commit: b8be2e5112d5f84a455456e4ec22033409c71993
Go Version: go1.16
Platform: windows/amd64
Topology Key: topolog

[2021-09-16 00:03] andyzhangx commented on #1021
@alinaryan which region are you trying on?
The api-version '2020-12-01' is invalid. The supported versions are '2021-04-01,2021-01-01,2020-10-01,2020-09-01,2020-08-01,2020-07-01,2020-06-01,2020-05-01,2020-01-01,2019-11-01,2019-10-01,2019-09-01,2019-08-01,2019-07-01,2019-06-01,2019-05-10,2019-05-01,2019-03-01,2018-11-01,2018-09-01,2018-08-01,2018-07-01,2018-06-01,2018-05-01,2018-02-01,2018-01-01,20

[2021-09-16 13:05] andyzhangx commented on #1021
api-version `2020-12-01` should be supported on public azure: https://docs.microsoft.com/en-us/rest/api/compute/disks, Not sure why `2020-12-01` is not supported on your platform.
one workaround is set your `"cloud": "AzureStackCloud"` in your cloud config, it will then switch to use api-version `2019-03-01` which is supported on your platform.

[2021-09-16 13:18] alinaryan commented on #1021
I am on centralus region. I will try changing to AzureStackCloud in cloud config

[2021-09-16 15:37] alinaryan commented on #1021
I have been reading cloud conf from K8s secret following this: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/read-from-secret.md and then setting the secret name and namespace as an arg in the daemon set for my csi-driver.

I realized I did not have the cloud field set in the azure.json file because I thought it defaults to AzurePublicCloud. I updated it and no longer se

[2021-09-16 15:41] alinaryan commented on #1021
Still seeing the following errors in the csi driver logs regarding instance type, zone and volume limit

I0916 15:17:59.910849    5008 azuredisk.go:133]
DRIVER INFORMATION:
Build Date: "2021-09-14T02:34:36Z"
Compiler: gc
Driver Name: disk.csi.azure.com
Driver Version: v1.8.0
Git Commit: b8be2e5112d5f84a455456e4ec22033409c71993
Go Version: go1.16
Platform: windows/amd64
Topology Key: topology.disk.

[2021-09-16 15:44] alinaryan commented on #1021
My azure.json currently looks like the following. Anything else I should add?

    "cloud":"AzurePublicCloud",
    "tenantId": "xxxxxxxxxxxxxxxxx",
    "aadClientId": "xxxxxxxxxxxxxxxxx",
    "aadClientSecret": "xxxxxxxxxxxxxxxxx",
    "subscriptionId": "xxxxxxxxxxxxxxxxx",
    "resourceGroup": "",
    "location": "centralus",
    "useManagedIdentityExtension": false,
    "useInstanceMetadata": tr

[2021-09-16 16:04] andyzhangx commented on #1021
you could disable instance metadata on your agent node by setting `"useInstanceMetadata": false`

[2021-09-16 16:28] alinaryan commented on #1021
Thanks, just tried that and still seeing same errors in logs

[2021-09-16 20:25] alinaryan commented on #1021
If I do that it I see the `api version not supported `error again

[2021-09-17 01:45] andyzhangx commented on #1021
hi @alinaryan I tried on `centralus` region, `2020-12-01` api-version works well, not sure why `2020-12-01` api-version is not available on your subscription in `centralus` region, would you try on a different region, e.g. `eastus2`, if `2020-12-01` api-version still not works, I think you may file an azure support ticket to enable `2020-12-01` api-version on your subscription.

[2021-09-17 22:11] alinaryan commented on #1021
thanks for all your help @andyzhangx. I tried on eastus2 and not seeing the api version error anymore. Currently seeing **"The Resource 'Microsoft.Compute/virtualMachines/csi-node-win-f6ldd' under resource group 'aliryan09-17-919-p897v-rg' was not found** in my azure disk logs. Having trouble figuring out how it can recognize my csi vm/where to enable that

I0917 18:21:54.016604    6796 azuredisk.

[2021-09-18 02:19] andyzhangx commented on #1021
could you set the correct resourceGroup in cloud config file:
[code]

BTW, `NodeGetInfo` malfunction is actually not a blocking issue, it just could not get zone info and MaxDataDiskCount

[2021-09-20 14:27] mohanchazz opened #1025 "Requires root permissions when using ZRS disk"
When using ZRS disk , pod requires root user permission to access the disk.
Getting permission denied, when pod run as user 1000.
Any options to resolve this issue.

[2021-09-20 15:56] andyzhangx commented on #1025
could you use the workaround here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/949

[2021-09-20 16:19] mohanchazz commented on #1025
The above works, Thanks @andyzhangx .

[2021-09-20 16:19] #1025 closed

[2021-09-21 01:36] #1013 closed

[2021-09-21 15:06] alinaryan commented on #1021
My current azure.json has the correct resourceGroup. I cross referenced in the portal:

"cloud":"AzurePublicCloud",
"tenantId": "xxxxxxxxxxxxxxxxx",
"aadClientId": "xxxxxxxxxxxxxxxxx",
"aadClientSecret": "xxxxxxxxxxxxxxxxx",
"subscriptionId": "xxxxxxxxxxxxxxxxx",
"resourceGroup": "aliryan09-17-919-p897v-rg",
"location": "eastus2",
"useManagedIdentityExtension": false,
"useInstanceMetadata": false

[2021-09-22 01:58] andyzhangx commented on #1021
is there a vm name `csi-node-win-f6ldd` under `aliryan09-17-919-p897v-rg`? `csi-node-win-f6ldd` looks like a driver pod name.

[2021-09-22 13:16] alinaryan commented on #1021
Correct. No vm exists under `csi-node-win-f6ldd-rg`. `csi-node-win-f6ldd` is my Windows vm and `csi-node-win-f6ldd` is my azure-disk driver pod. Trying to figure out why it might think my driver pod is a vm

[2021-09-23 05:45] andyzhangx commented on #1021
it's from here:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/0bfa1a5efaff104ddd5554e41018eab717cda1ab/deploy/csi-azuredisk-node-windows.yaml#L104

[2021-09-23 22:21] alinaryan commented on #1021
I found my error. Azure-disk csi driver has to be enabled by a feature gate on OpenShift. Found this out here: https://docs.openshift.com/container-platform/4.1/nodes/clusters/nodes-cluster-enabling-features.html
After I added featureSet: "TechPreviewNoUpgrade" my pvc was bound by the managed-csi storage class. Thank you for all your help

[2021-09-27 10:52] kutysam opened #1031 "Volumesnapshot's snapshotHandle is not working as intended."
**What happened**: Azure CSI isn't creating a volume from a snapshot but instead creates a fresh disk

**What you expected to happen**: Azure CSI is supposed to create a volume from the specified snapshot

**How to reproduce it**: Use the yamls
[code]

**Anything else we need to know?**: I have purposely changed my YOURSNAPSHOT to a snapshot that doesn't exist and it throws an error and when i put

[2021-09-27 10:58] andyzhangx commented on #1031
hi @kutysam can you provide disk controller logs, follow guide here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed
it should have `/CreateSnapshot` logs

[2021-09-27 11:44] andyzhangx commented on #1031
you should change `snapshotHandle` to `volumeHandle` in `VolumeSnapshotContent`, other fields are correct.

[2021-09-27 12:13] kutysam commented on #1031
Hi @andyzhangx
Unfortunately, I only can try to get the logs in the weekend.
However, to your last comment, I am using a snapshot and not a volume. Snapshot handle is accepted in the crd and snapshothandle is working well for aws when i tested with the same approach.

[2021-09-27 12:58] andyzhangx commented on #1031
hi @kutysam, I tried with `snapshotHandle`, it works well, the restored pvc has snapshot data.
[code]

I used this example: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/snapshot, one thing need to mention that after testing pod `nginx-pod-azuredisk` is created, need to wait a moment for that pod writing data successfully.

[code]

[2021-09-27 13:38] #1021 closed

[2021-09-27 13:42] andyzhangx commented on #614
already fixed by https://github.com/kubernetes-sigs/cloud-provider-azure/pull/623 in v1.3.0 release

[2021-09-27 13:42] #614 closed

[2021-09-29 03:46] #732 closed

[2021-10-01 08:52] anshulahuja98 opened #1036 "Make skuname parameter case consistent across disk and file"
**What happened**:
Just accessing programmatically, PV objects for az disk and az file (CSI)
Az Disk in the VolumeAttributes has it mentioned  as "skuname" whereas for Az File it is "skuName"

Not a major bug, just a slight inconsistency which can be improved for better programmatic access and consistency.

**What you expected to happen**:

**How to reproduce it**:
Az file
![image](https://user-im

[2021-10-01 09:05] andyzhangx commented on #1036
csi driver parameters are actually case insensitive, so both work, while I think we may unify all parameters as `skuName` which is easy to read.

[2021-10-01 09:10] anshulahuja98 commented on #1031
@kutysam can you check what provisioner does your default storageclass use?

[2021-10-01 22:53] ahrtr opened #1038 "[question] Does this driver support Azure ultra disks?"
Please see [Using Azure ultra disks](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd?tabs=azure-cli#attach-an-ultra-disk), the question is that does this CSI Driver support it?

If yes, then I assume that we should set the flag "“--ultra-ssd-enabled true" when creating the worker VMs. Could anyone confirm this? Thanks.

[2021-10-02 00:23] andyzhangx commented on #1038
ultra disk is supported, just use `skuname: UltraSSD_LRS` in storage class setting:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/d641e5132f5b5b3af2f1af59d1873f95440b238d/deploy/example/storageclass-azuredisk-csi.yaml#L1-L11

[2021-10-02 00:23] #1038 closed

[2021-10-02 00:25] #1036 closed

[2021-10-03 15:00] kutysam commented on #1031
You are right! This was the issue. I'll close this issue. Thank you.

[2021-10-03 15:00] #1031 closed

[2021-10-04 16:30] #832 closed

[2021-10-11 11:58] prasadrajesh opened #1047 "failed to get azure instance id for node "aks-default-xxxxxxx-vmss000001" (instance not found)"
**What happened**:
Unable to attach volume to Node.

**What you expected to happen**:
It should attach block volume to the pod.

**How to reproduce it**:

`apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: managed-csi
provisioner: disk.csi.azure.com
parameters:
  skuname: Premium_LRS  # Currently shared disk only available with premium SSD
  maxShares: "2"
  cachingMode: None  # R

[2021-10-11 13:52] prasadrajesh commented on #1047
`{
    "cloud": "AzurePublicCloud",
    "tenantId": "xxxxxx-xxxxx-xxxxxxxx",
    "subscriptionId": "xxxxxx-xxxxx-xxxxxxxx",
    "aadClientId": "msi",
    "aadClientSecret": "msi",
    "resourceGroup": "azure-rajesh-use2-resources",
    "location": "eastus2",
    "vmType": "vmss",
    "subnetName": "azure-rajesh-use2-subnet",
    "securityGroupName": "aks-agentpool-23380162-nsg",
    "vnetName": "c

[2021-10-12 06:56] prasadrajesh commented on #1047
Still same issue. Even today, I tried with redeploy AKS.

[2021-10-12 07:14] prasadrajesh commented on #1047
Sure. I will let you know.

[2021-10-12 08:15] prasadrajesh commented on #1047
It is working well on 1.21.

[2021-10-12 09:02] andyzhangx commented on #1047
could you only schedule to one vmss node pool and only schedule pod with disk mount to that node pool to narrow down issue?
and if it's a testing cluster, try install master branch version: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md

[2021-10-12 09:13] prasadrajesh commented on #1047
I will try. Thank you @andyzhangx :)

[2021-10-18 18:26] Jiawei0227 commented on #880
Do we know why this test failed?

[2021-10-19 10:07] andyzhangx commented on #880
after rerun, it passes now: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1053

[2021-10-20 08:13] andyzhangx commented on #880
@Jiawei0227 I have rerun 4 times, all pass now, not sure why it failed in the before.

[2021-10-29 09:44] woshizhicainiaoluguo opened #1061 "Failed to get zone from Azure cloud provider"
What happened:
using the azuredisk-csi-driver 1.7.0,
when apply the csi-node-plugin in win nodes for the yaml csi-azuredisk-node-windows.yaml

logs about nodeserver gets errors:

Received error in vm.get.request: resourceID: /subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/xxxxxxxx/providers/Microsoft.Compute/virtualMachines/csi-azuredisk-node-win-8zn44, error: Retriable: false

[2021-10-29 13:52] #1061 closed, assigned to nobody

[2021-11-02 10:51] Robert-Stam commented on #273
Good to see it's fixed!
Any estimation when it will be available in AKS?

[2021-11-02 11:26] andyzhangx commented on #273
@Robert-Stam this feature is just in private preview only available on US East 2 EUAP region, sign up the feature here: https://aka.ms/disksliveresizepreview

I have verified with latest mater branch version resizing attached disk works though it still needs restart pod to get new disk size.

[2021-11-04 00:19] lynshi opened #1067 "node-driver-registrar CrashLoopBackOff on AKS 1.20 or below"
**What happened**:
Our `csi-azuredisk-node` Pods are in `CrashLoopBackOff` state after restarting. The DaemonSet itself is 181 days old, but it looks like all the Pods in it are less than 3 days old, so something on AKS must've forced a restart. On other clusters, the Pods in the `cs-azuredisk-node` DaemonSet that were not recently restarted are still running happily.

Happy to provide cluster det

[2021-11-04 01:46] andyzhangx commented on #1067
the fix would be rolled out this week, and use following way to workaround:

run following operations, and modify `failureThreshold` of `livenessProbe` in `node-driver-registrar` container to `900000000`
[code]

[code]

[2021-11-04 07:47] fmbahrt commented on #1067
I was told by the Azure support that the CSI drivers are only formally supported from k8s version 1.21 and up. Can anyone support this claim? I am experiencing the same issue..

[2021-11-04 07:52] andyzhangx commented on #1067
@fmbahrt before 1.21, CSI drivers managed by AKS are in preview, pls use the above workaround to make it work first. The AKS fix would be rolled out next week.

[2021-11-04 17:33] lynshi commented on #1067
Just so I understand what's going on here - we setting the threshold to something high so we aren't blocked by `CrashLoopBackOff` for now.  When AKS rolls out the fix, since the AKS managed driver doesn't set this value will we have to reset the threshold back to 3 so that the liveness probe actually has an effect?

[2021-11-05 01:50] andyzhangx commented on #1067
@lynshi `livenessProbe` should not be enabled for AKS version < 1.21, there is a fix to remove the whole `livenessProbe` setting in the next 2 weeks, no action from AKS user side from fix rolled out.

[2021-11-05 06:21] lynshi commented on #1067
Thanks for clarifying! Appreciate your help. We used the workaround and we're now able to attach volumes again.

[2021-11-06 07:09] #707 closed

[2021-11-09 02:46] landreasyan opened #1073 "bug: fix V2 design documentation to reflect the volumeMode and accessMode limitation of the V2 driver replica attachment feature"
**What happened**:
Replica attachments are not supported for RWX accessMode and Block volumeMode. This needs to be added to the V2 design documentation.

**What you expected to happen**:
Add details for the supported accessMode and volumeMode to the V2 design documentation.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (

[2021-11-09 02:46] landreasyan commented on #1073
//assign

[2021-11-09 22:33] #1073 closed

[2021-11-12 07:34] SatyKrish commented on #332
@andyzhangx Azure Managed Disks now supports ZRS. Does Azure Disk CSI driver support creating zone redundant PVs?
https://docs.microsoft.com/en-us/azure/virtual-machines/disks-redundancy#zone-redundant-storage-for-managed-disks

[2021-11-12 08:10] andyzhangx commented on #332
yes, follow guide here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/topology#zrs-disk-support

[2021-11-15 15:56] murech opened #1086 "Disable automatic creation of storage classes in AKS"
**Is your feature request related to a problem?/Why is this needed**
Azure storage classes ("azurefile-csi","azurefile-csi-premium","managed-csi","managed-csi-premium") are automatically created. I would like to create my own storage classes and disable the automatic creation of *-csi storage classes. This is needed in order to avoid duplicate storage class configuration and to control which stora

[2021-11-16 01:58] andyzhangx commented on #1086
it's not supported not to create built-in storage classes on AKS, while you could use this way to replace existing built-in storage classes: https://github.com/Azure/AKS/issues/118#issuecomment-708257760

[2021-11-16 09:56] murech commented on #1086
I have currently nine storage classes on the AKS cluster:

$ kubectl get sc
NAME                    PROVISIONER
azurefile               kubernetes.io/azure-file
azurefile-csi           file.csi.azure.com
azurefile-csi-premium   file.csi.azure.com
azurefile-premium       kubernetes.io/azure-file
default (default)       disk.csi.azure.com
managed                 kubernetes.io/azure-disk
managed-csi

[2021-11-16 22:40] CecileRobertMichon opened #1088 "[failing test] aks-engine-windows-dockershim-azure-disk-master job is failing consistently"
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-dockershim-azure-disk-master has been failing since at least 11/01 (can't see history past that).

10 of the tests are failing 100% of the time.

cc @andyzhangx

[2021-11-17 02:12] andyzhangx commented on #1067
close this issue since the fix would be rolled out complete in all regions within 20 hours.

[2021-11-17 02:12] #1067 closed

[2021-11-17 03:37] #1088 closed

[2021-11-17 09:03] andyzhangx commented on #1088
another PR change: https://github.com/kubernetes-sigs/windows-testing/pull/295

[2021-11-18 00:48] edreed opened #1090 "[V2] Windows E2E pre-provisioned shared disk case fails"
**What happened**:

The test case "[Pre-Provisioned] should succeed when creating a shared disk with multiple pods" due to a missing bind source path when starting the second pod:

[code]

**What you expected to happen**:

Test should succeed

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v2.0.0-alpha.1
- Kubernetes version (use `kubectl vers

[2021-11-20 13:36] #898 closed

[2021-11-20 13:36] #899 closed

[2021-11-26 13:33] andyzhangx opened #1097 "[V2] data disk count is invalid in shared disk mode"
**What happened**:
1) create a node pool with 2 nodes (DS2_v2 size), each node could attach 8 data disks at most
2) create 8 pods with one disk mount each (with `maxShares: 2`)
3) create the 9th pod with one disk mount, disk would be scheduled to one node, stuck in `ContainerCreating` state forever, and error would be like following:

[code]

Root cause: in shared disk mode, current maximum data d

[2021-11-30 10:51] naioja opened #1099 "Broken documentation link"
**What happened**:
Looking at the https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/README.md we can see the link for Tune disk performance on Linux is broken :
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/enhancements/feat-add-ability-to-tune-azuredisk-performance-parameters.md

**What you expected to happen**:
Please review the link URL and fix it.

[2021-11-30 10:55] andyzhangx commented on #1099
should point to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/perf-profiles.md, already fixed, thanks.

[2021-11-30 10:55] #1099 closed

[2021-12-02 08:03] zhiweiv opened #1101 "Disable DiagTrack service in Windows pod"
Is is possible to disable DiagTrack in Windows pod like https://github.com/kubernetes/kubernetes/pull/95950?

It can reduce both cpu and memory.

[2021-12-03 13:06] adriananeci opened #1104 "/mount: no such file or directory on StatefulSet with volumeClaimTemplates and fsGroup securityContext"
**What happened**:
While creating a StatefulSet with a volumeClaimTemplates targeting an azuredisk volume and with fsGroup securityContext set, the pod remain in `ContainerCreating` because of
[code]

StatefulSet spec is as follows:

[code]

**What you expected to happen**:
Pod associated with statefulset should get up and running and the pvc correctly mounted even when a securityContext like
[cod

[2021-12-03 13:08] adriananeci commented on #1104
The volume is properly mounted at node level, and if I manually create the `mount` directory(e.g. `cd /mnt/resource/k8s/kubelet/pods/f4a61c03-4009-427e-a225-7517151924df/volumes/kubernetes.io~csi/pvc-f9316692-5adb-4ae8-8afb-e7a0b98341da && mkdir mount`) inside mounted volume location, the pod starts fine.

[2021-12-03 13:29] adriananeci commented on #1104
In azuredisk logs from azuredisk-node pod associated with the node where my StatefulSet pod was scheduled I'm seeing errors like:
[code]

The disk(`sdd`) seems to be successfully attached to the node based on
[code]

Also, globalmount directory referenced in logs exists too:
[code]

[2021-12-03 13:47] adriananeci commented on #1104
/kind bug

[2021-12-03 15:35] andyzhangx commented on #1104
what's your node driver config, by default it's
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c0173ce3ffbcf53f0eee398fe34cc0ecca500f60/deploy/csi-azuredisk-node.yaml#L124-L128

and you need to config like following:
[code]

[2021-12-05 09:36] adriananeci commented on #1104
Node driver pod has:
[code]

And the `azuredisk-csi` container from node driver pod has:
[code]

I'm using the temporary disk available in Azure VMs. Afaik this temporary disk is automatically configured in the Microsoft Azure Linux Guest agent configuration
[code]

And based on the propagation config it seems to be already mounted as shared:
[code]

[2021-12-05 09:40] andyzhangx commented on #1104
your kubelet path is `/mnt/resource/k8s/kubelet`, not `/mnt/resource/kubelet/`?

[2021-12-05 09:46] adriananeci commented on #1104
Kubelet is configured with `--root-dir=/mnt/resource/kubelet`

[2021-12-05 09:51] adriananeci commented on #1104
I'm getting the same error even with a simple deployment like
[code]
With PVC spec as:
[code]

And in pod events I can see
[code]

[2021-12-05 10:01] adriananeci commented on #1104
Kubelet logs:
[code]

Not sure why it is complaining that
[code]
when is fact that directory already exists:
[code]

[2021-12-05 10:09] adriananeci commented on #1104
I've tried to manually mount it based on the mount command found in error log and I got:
[code]

most probably because `/mnt/resource/kubelet/pods/899e3795-58a3-4f10-83da-8875717918de/volumes/kubernetes.io~csi/pvc-3c2607e6-9221-4dba-8ed3-f392e32cb78c` doesn't exist.

[2021-12-05 10:22] adriananeci commented on #1104
Hmm, I just I spun up a new VMSS and configured kubelet with default location, `/var/lib/kubelet`, and deployed a second azuredisk-csi node daemonset with volumes configured according to default kubelet location.
Once I moved the pod to run on a VM from this new VMS, kubelet and node driver were able to successfully mount the volume and start the pod.

[2021-12-05 10:48] adriananeci commented on #1104
Not sure if it helps, but here are some logs from node driver azuredisk-csi container:
[code]

[2021-12-05 11:25] adriananeci commented on #1104
Also, I was able to successfully deploy the above mentioned deployment on the same VM that has the kubelet root-dir location configured to `/mnt/resource/kubelet`  using a PVC created from a storageclass that is using the in-tree plugin:
[code]

PVC spec:
[code]

[code]

[2021-12-09 00:31] jsturtevant opened #1107 "aks-engine-windows-containerd-azure-disk-master test failing"
**What happened**:
The test job
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-azure-disk-master is failing with

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):

[2021-12-09 08:07] andyzhangx commented on #1107
would be fixed by https://github.com/kubernetes-sigs/windows-testing/pull/301

[2021-12-09 08:07] #1107 closed

[2021-12-09 09:14] andyzhangx commented on #1107
sorry it should be related to this: https://github.com/kubernetes/test-infra/pull/24603

[2021-12-10 20:58] edreed commented on #1090
Fixed by #1100

[2021-12-10 20:58] #1090 closed

[2021-12-15 06:55] andyzhangx commented on #273
this feature is only supported in v1.9.0: https://github.com/kubernetes-sigs/azuredisk-csi-driver/releases/tag/v1.9.0
current CSI driver version on aks 1.21 is 1.8.0, will roll out to v1.9.0 version on AKS in Jan.

[2021-12-15 12:29] andyzhangx commented on #879
issue reoccurred.

[code]
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/1114/pull-azuredisk-csi-driver-external-e2e-single-az/1470959587673772032

[2021-12-15 18:21] Robert-Stam commented on #273
@andyzhangx Thanks for the update, we are excited to test early next year!

[2021-12-20 19:23] dhilipkumars opened #1118 "[UltraDisk] Support for tuning IOPS and throughput"
**Is your feature request related to a problem?/Why is this needed**

Azure allows us to seamlessly change IOPS and Throughput for Azure ultra disks but the the only way we can achieve that is by creating a new storage class.  For stateful applications that deal with large amount of data this could be very counter productive

**Describe the solution you'd like in detail**

Introduce two annotation

[2021-12-21 01:28] andyzhangx commented on #1118
that would require a common CSI driver upstream support first, need to add a dedicated CSI driver API to support this feature.

[2021-12-21 02:40] dhilipkumars commented on #1118
@andyzhangx thanks for the response, can you elaborate it please.

[2021-12-21 02:44] andyzhangx commented on #1118
@dhilipkumars there is no CSI driver API to support this feature now, need to add that API in common CSI driver first, that's a long term(years) work.

[2021-12-21 12:53] dhilipkumars commented on #1118
@andyzhangx thanks again,  could you please point me to the right place where i can request to add this to the roadmap.  If i understand correctly this seems to be applicable to all cloud providers then, might be worthy to add in the common CSI driver.  WDYT?

[2022-01-02 14:02] tmihalac commented on #273
Is this fix also coming to ARO in Jan ?
In which version ?

[2022-01-03 02:08] andyzhangx commented on #273
@tmihalac probably not, it requires minimum Azure Disk CSI driver version v1.9.0

[2022-01-05 02:35] msau42 opened #1128 "Improve download of dependencies"
**Is your feature request related to a problem?/Why is this needed**

The scripts hack/verify-helm-chart-files.sh and verify-golint.sh are doing a "curl <script> | bash" anti-pattern.

**Describe the solution you'd like in detail**

It would be better supply chain security if:

- The script being downloaded was checked into the repo directly so that we can validate it is safe.
- The tool needed is

[2022-01-05 10:56] anshulahuja98 commented on #1047
@prasadrajesh, I faced a similar issue
The reason in my case was that the cluster MSI did not have permission on the RG containing the nodes/nodepool
And hence could not fetch the instance

Hope this helps

[2022-01-05 10:57] andyzhangx commented on #1047
As @anshulahuja98 pointed out, there is possibility that identity which is used by azure disk controller does not have permission to list agent node, and grant permission would solve the issue.

[2022-01-05 10:57] #1047 closed

[2022-01-05 11:04] andyzhangx commented on #1047
in such case, you may find following list vm error logs in azure disk controller logs:
[code]

[2022-01-07 07:56] #1128 closed

[2022-01-07 16:06] axelgMS opened #1131 "Storage Account type UltraSSD_LRS is not supported with caching type ReadWrite in CSI migration scenario"
**What happened**:

CRI 281859103 - Following steps on https://docs.microsoft.com/en-us/azure/aks/use-ultra-disks, and getting error below:

  _"error": {
    "code": "InvalidParameter",
    "message": "Storage Account type UltraSSD_LRS is not supported with caching type ReadWrite. Please use caching type None.",
    "target": "dataDisk.caching"_

**What you expected to happen**:

no error

**How

[2022-01-09 03:00] andyzhangx commented on #1131
I have worked out a aks doc PR to fix the doc issue first, we don't want users to still use in-tree storage class on aks 1.21+, so the fix on csi migration would be in low priority.

[code]

[2022-01-18 10:29] log2 opened #1139 "Values of tags attached to actual Azure snapshot do not match VolumeSnapshotClass definition"
**What happened**:

Added a VolumeSnapshotClass with two or more tags, such as:

[code]

Then created a VolumeSnapshot using it, such as:

[code]

The snapshot that gets created in Azure has the following tags:

- `a`: `f`
- `c`: `f`
- `e`: `f`

**What you expected to happen**:

I expected that Azure snapshot had the following tags, as specified in `parameters.tags` field:

- `a`: `b`
- `c`: `d`
-

[2022-01-18 11:51] andyzhangx commented on #1139
thanks for the catch, that's a common mistake for golang beginner: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1140

[2022-01-18 18:56] #1139 closed

[2022-01-20 09:22] andyzhangx commented on #273
v1.10.0 is already rolled out on AKS in eastus2euap region now, which already supports AzureDiskLiveReisze feature, I just tried, it works:
 - `kubectl edit pvc pvc-name`, change `spec.resources.requests.storage` in PVC config to a larger size
 - and after a while, pvc resize would succeed, e.g.
<details> <summary> describe pvc </summary>

[code]

</details>

 - delete original pod, the pod would

[2022-01-24 03:06] #811 closed

[2022-01-24 05:07] #597 closed

[2022-01-24 19:05] bandesz opened #1151 "Volume expansion doesn't work on AKS 1.21 using v1.10.0 in eastus2euap when replacing a pod"
**What happened**:

Created a new 1.21 AKS cluster in eastus2euap to test the volume expansion using v1.10.0.
The persistent volume was resized, but after deleting the existing pod the new pod gets stuck in ContainerCreating.

Based on https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/273#issuecomment-1017271866 I assumed this should work. I see that the issue was reopened, but there

[2022-01-24 20:10] bandesz commented on #273
I've tested this too, but after deleting the pod the new pod gets stuck in containercreating: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/1151

[2022-01-24 20:36] bandesz commented on #1151
I did an additional test on an 1.20 AKS cluster, where I manually installed the CSI driver. I did not encounter an error.

[code]

[2022-01-25 02:38] andyzhangx commented on #273
this feature is still in private preview, and needs to sign up first: https://aka.ms/disksliveresizepreview

[2022-01-25 10:20] bandesz commented on #273
@andyzhangx what would signing up improve on my issue? To clarify I wasn't testing online resizing, just resizing an attached disk, which doesn't work for me using v1.10.0, as the recreated pod couldn't reattach the volume.

[2022-01-25 12:46] bandesz commented on #273
@andyzhangx I had to check and the used subscriptions are signed up for this preview.

[2022-01-25 12:55] andyzhangx commented on #273
@bandesz your subs could only support online resize when it's whitelisted by signing up.

[2022-01-26 03:28] andyzhangx commented on #1151
I know why you would hit error like this `Expander.NodeExpand failed to expand the volume : rpc error: code = Internal desc = resize requested for 20, but after resizing volume size was 10`, you should `kubectl edit pvc pvc-name` instead of edit pv

[2022-01-26 03:32] andyzhangx commented on #1151
and after you edit pv, reset pv size to original size, it should recover

[2022-01-26 05:34] bandesz commented on #1151
I edited the pvc in all my tests

On Wed, 26 Jan 2022 at 3:33 am, Andy Zhang ***@***.***> wrote:

[2022-01-27 07:23] andyzhangx commented on #273
sorry, I forgot to mention use this command to register LiveResize preview feature:
[code]

[2022-01-27 13:38] bandesz opened #1157 "Live resizing doesn't work, the AKS node doesn't see the new disk size without manual rescan"
**What happened**:

Tested the live resizing feature on a new vanilla AKS 1.21 cluster in eastus2euap.

Subscription is signed up for the LiveResize feature:
[code]

I had to trigger a manual device rescan for the live resizing to finish.

**What you expected to happen**:

Live resizing to work without manual steps on the VM.

**How to reproduce it**:

1. Create a statefulset for testing, wait for

[2022-01-27 13:40] #1151 closed

[2022-01-27 13:50] andyzhangx commented on #1157
that's expected now by the Disk LiveResize doc: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks#expand-a-disk-partition-and-filesystem

[2022-01-27 13:54] bandesz commented on #1157
@andyzhangx what do you mean? I don't see any mentions about rescanning in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks#expand-a-disk-partition-and-filesystem. Can you please quote the relevant part which explains this behaviour specifically for AKS clusters/nodes?

The node agent should do the rescan itself, so the whole process is automated and no manual step is req

[2022-01-27 13:55] andyzhangx commented on #1157
and actually you don't need to rescan by yourself on the host, you could just restart the pod on that node, it would unmount disk and remount, and then resize will happen automatically.

[2022-01-27 13:58] bandesz commented on #1157
@andyzhangx the purpose of live resizing is exactly that we don't have to restart the pod and we don't want to. We want to avoid downtime when resizing disks, as it's costly in our specific case. So we do need the scan/rescan to be added to the agent.

[2022-01-27 14:05] andyzhangx commented on #1157
It still needs unmount disk first according to doc: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks#expand-a-disk-partition-and-filesystem, the downtime of unmount and mount on same node should take a few seconds now, I will check later about how to avoid unmount disk process which is totally no downtime.

[code]

[2022-01-27 14:28] bandesz commented on #1157
@andyzhangx I did a full test, including a simple continuous write test to the mounted volume in the pod (appending to a file every 100ms). Everything worked without downtime, so it seems the code already does all the mounting/remounting required.

The only thing is missing from the code is to trigger a rescan before calling `resizer.Resize`.

[2022-01-27 16:07] andyzhangx commented on #1157
@bandesz that's good point, looks like that's a minor change, will check later, thanks!

[2022-01-28 11:44] andyzhangx commented on #1157
@bandesz the #1161 should fix the issue, now it could expand volume automatically:
[code]

We will cut a v1.11.0 release, and roll out on AKS in Feb, thanks.

[2022-01-28 12:48] aslafy-z commented on #1097
@andyzhangx I'm encountering the same issue with non shared disks (maxShares: 0). Did you published the PR code in a docker image I can test in my environment? Thank you

[2022-01-28 12:50] andyzhangx commented on #1097
@aslafy-z on which version did you hit this issue? usually it's caused by detach failure on specific node, and thus that disk is not counted.

[2022-01-28 12:55] aslafy-z commented on #1097
@andyzhangx I've seen this behavior with the latest v1.10.0 version, after upgrading from v1.9.0 (we were hitting the issue before). I've seen some detach failures, will have a look if old PVs are still attached to nodes.

[2022-02-03 15:07] kuhlman-labs commented on #273
@andyzhangx any information I can share with partners on a potential GA date?

[2022-02-04 13:07] murech opened #1165 "CSI Migration Guideline"
We are performing Kubernetes 1.21 in the near future. I'm creating this support request to get more information about the impact on existing applications running on k8s and what actions need to be performed by either cluster admins and application developers/operators.

Several information sources (kubernetes.io, docs.microsoft.com) are saying that Kubernetes 1.21 requires users to perform a CSI m

[2022-02-04 14:11] andyzhangx commented on #1165
the only action from user side is replace custom in-tree storage classes with csi driver storage classes, existing in-tree resources such as PVC and PV would still work since csi migration flag is opened on 1.21, and driver requests would be forwarded to csi driver, there is no data loss, for more details about csi migration, you could refer to https://kubernetes.io/blog/2019/12/09/kubernetes-1-17

[2022-02-04 14:47] murech commented on #1165
As an example, this would mean the following:

- An application is using with 1.20 the storage class **managed** with provisioner _azurefile kubernetes.io/azure-disk_
- After the upgrade to 1.21 the storage class **managed** and provisioner _azurefile kubernetes.io/azure-disk_ remains. Any action that was supported with pv and pvc under 1.20 will work, but new features like (performance improvemen

[2022-02-04 14:54] andyzhangx commented on #1165
1,2 are correct, and for 3, `After patching (replacing) storage class managed with provisioner disk.csi.azure.com`, only the new PVs created with that csi driver storage class supports new features

[2022-02-04 14:57] murech commented on #1165
Crystal clear, now! Endless thanks @andyzhangx!

[2022-02-05 14:24] andyzhangx commented on #1086
@murech `kubernetes.io/azure-disk` storage classes has already been removed since aks 1.21

[2022-02-06 13:09] #1157 closed

[2022-02-09 01:29] andyzhangx commented on #1118
close this issue since it's external dependency issue.

[2022-02-09 01:29] #1118 closed

[2022-02-09 07:37] andyzhangx commented on #1131
the original issue was fixed in 1.22.6, 1.23.2

[2022-02-09 07:37] #1131 closed

[2022-02-12 16:15] adriananeci opened #1175 "Topology value collision"
**What happened**:

During the rollout of the `azuredisk-csi-driver` I've noted that few `csi-azuredisk-node` pods were in a CrashLoopBackOff(CLBO) state(e.g. 2 out of 20 pods) .
[code]

The `node-driver-registrar` sidecar container is crashing because kubelet is not able to register the plugin:
[code]

During the azure disk plugin registration, `kubelet` logs looked like:
[code]

The initial plug

[2022-02-12 19:31] adriananeci commented on #1175
/label bug

[2022-02-13 02:00] andyzhangx commented on #1175
`"topology.disk.csi.azure.com/zone":""` means your node `worker-xxx` is in an availability set, and then you recreate a node `worker-xxx` as in `eastus2` zone 2? that would have the conflict

[2022-02-13 07:07] adriananeci commented on #1175
No, the node is the same, it wasn't recreated. Also, it is part of a scale set.

[2022-02-13 07:37] andyzhangx commented on #1175
@adriananeci do you have the driver logs why it would return `"topology.disk.csi.azure.com/zone":""` in the beginning? follow this link to get logs: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2022-02-13 14:55] andyzhangx commented on #1175
I think the issue is in the first time, get instance metadata(not sure why) and it returns `"topology.disk.csi.azure.com/zone":""` and then when it could get zone info, it returns conflict info. I already worked out a PR to fix such corner case: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1176

[2022-02-13 16:46] adriananeci commented on #1175
Thanks @andyzhangx.

I think `aad-pod-identity` is initially blocking the access to instance metadata and I'm not sure why. It is happening randomly and might be a race condition somewhere. We're running the CSI drivers in overlay mode for security reasons and have built a custom `aad-pod-identity-nmi` image to conditionally allow access to instance metadata(See https://github.com/Azure/aad-pod-id

[2022-02-14 15:15] adriananeci commented on #1175
@andyzhangx will https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1176 be included in the next release? If yes, do you have an ETA? We're currently evaluating if we should pursue with the init container approach or wait for the official patch

[2022-02-14 15:25] andyzhangx commented on #1175
@adriananeci yes, it would be, and next release would be in next month. I think you should use init container approach first.

[2022-02-15 03:22] #1175 closed

[2022-02-16 18:41] surajpunugade opened #1182 "Mount a shared Azure disk in Azure Kubernetes to multiple windows PODs"
**What happened**:
I want to attach a shared disk to multiple windows containers on AKS.
Followed the similar steps from [wiki](https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/sharedisk) to create PV, PVC, and deployment.
Its failing with below error

<img width="1074" alt="2022-02-16 18_14_12-Clipboard" src="https://user-images.githubusercontent.com/7521482/1543

[2022-02-17 01:38] andyzhangx commented on #1182
could you try `devicePath: "c:\test"`, the error is not in driver, since `D:` does not exist, it would always fail in pod creation.

[2022-02-21 13:31] andyzhangx commented on #1182
try `devicePath: "/mnt/azuredisk"`

[2022-02-22 17:45] nearora-msft opened #1189 "Add CSI Ephemeral Volume Support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2022-02-23 02:36] andyzhangx commented on #1189
we don't want to support this feature because this feature requires attaching disk in `NodePublishVolume` on agent node, while usually agent node identity does not have any access to the disk by default, this would break easily. And it's a nice to have feature, customer could use PV/PVC way to mount static disk.

[2022-02-23 18:13] nearora-msft commented on #1189
With v2 driver, attaching a disk is handled by the attach_detach controller - which performs the attach/detach operations asynchronously while reconciling AzVolumeAttachment objects. In case of CSI ephemeral volumes, we could create an AzVolumeAtachment CRI in NodePublishVolume and wait for it's status to change to Attached and then mount the volume. In NodeUnpublishVolume, we could delete the AzV

[2022-02-24 03:21] andyzhangx commented on #1189
then I think you could implement this feature in V2

[2022-02-25 20:40] kvalliy opened #1194 "Rescan of scsi device skipped in expandvolume for block volumes preventing live disk resize"
**What happened**: After an online expansion was triggered by changing size in the pvc , once the controller finishes expansion , in the pvc we see
 Normal   FileSystemResizeSuccessful  8m55s (x5 over 18h)   kubelet                              MountVolume.NodeExpandVolume succeeded for volume "pvc-a6593058-3589-4809-913d-ecbdaeaeb4bb"

but the block device size change isn't reflected on the node

[2022-02-26 02:17] andyzhangx commented on #1194
the difficulty here is if block volume is mounted as `/dev/sdc`, we cannot use original way(`findmnt -o source --noheadings`) to find that device path `sdc` which works for file system volume.

While I think there could be a workaround to rescan all devices started with `sd*` if there is block volume resize operation in node.

[2022-02-26 13:02] andyzhangx commented on #273
online resize is already supported on v1.11.0, more details: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/resize

[2022-02-26 13:02] #273 closed

[2022-02-28 18:28] edreed commented on #1189
We need to be careful here. Allowing a node to create an AzVolumeAttachment CRI may allow a node to attach a disk to which it does not have access, but the control plane does. This would be an EoP threat.

It seems the intent of the CSI ephemeral volume was to provide access to node local storage, so using this to orchestrate the attachment of a managed disk seems is questionable.

[2022-03-01 01:27] andyzhangx commented on #1189
agree, this is not a common scenario, also azure disk csi driver already supports general ephemeral volume which provides similar functionality.

[2022-03-01 16:47] edreed commented on #1189
Given the potential EoP threat implementing this feature would introduce, I am closing this issue.

[2022-03-01 16:47] #1189 closed

[2022-03-01 18:24] edreed commented on #1182
@surajpunugade I don't believe that access to block devices on Windows Kubernetes can work currently. (I'm happy to be proven wrong, though.) Unlike Linux, the Windows file system doesn't support access to devices through the filesystem. Anything mounted in the filesystem must actually be a filesystem.

In order to access a raw block device on Windows, you have to open its device path (e.g. \\.\Ph

[2022-03-01 19:03] mauriciopoppe opened #1198 "Instance metadata access from a Windows node"
**What happened**:
The instance metadata endpoint can't be accessed from a Windows node because of the Windows container not running in the same network as the host, we have applied a workaround with an internal patch where we use the kube API server to fetch some of the info needed by CSI's `NodeGetInfo`, with this patch we went from not being able to fulfill the request (which previously showed

[2022-03-02 03:43] andyzhangx commented on #1198
thanks, the idea makes sense, let me rebase and refactor your PR a little.

[2022-03-03 21:16] mauriciopoppe opened #1202 "node ClusterRole is namespaced"
/kind bug

**What happened**:
The ClusterRole manifest for the node component has a namespace, however this resource is for the cluster anad doesn't have a namespace.

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/24e5bb720e283a8146768a59afb682a19f41b716/deploy/rbac-csi-azuredisk-node.yaml#L13

[2022-03-04 06:28] #1198 closed

[2022-03-04 09:38] #1202 closed

[2022-03-09 05:36] guoxun19 opened #1207 "Support customized VM hostname"
**Is your feature request related to a problem?/Why is this needed**

When using customized hostname which is not the same as Azure VM name, the driver cannot work.

**Describe the solution you'd like in detail**

The driver should support customized hostname which is not the same as Azure VM name.

**Describe alternatives you've considered**

**Additional context**

1. Use self-built K8S on Azure

[2022-03-09 10:17] akshaya-msd opened #1208 "Azure AKS Upgrade to 1.21 - Pod stuck in Container Creating state- cannot mount Volume to the pod - Error Volume capability not supported"
**Action**

Migrated Azure AKS Cluster to 1.21 version

**Issue Faced**

Pod got stuck in ContainerCreating state and not recovering from it.

[code]

**Error**

[code]

**Immediate Fix:**

To fix it immediately, have created new PVC and patched the deployment to use newly created PVC's which dynamically created PV and attached to the pod.

**What we need?**

we need to attach the existing volume

[2022-03-09 11:06] andyzhangx commented on #1208
what's your original PV, PVC config?

[2022-03-09 12:04] #1208 closed

[2022-03-10 13:24] vgazzola commented on #273
Hey, for the regions not currently in the preview mentioned in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks#expand-an-azure-managed-disk it wouldn't work now, right?
if correct, do you have an ETA for them? Specifically SwitzerlandNorth

[2022-03-17 00:08] mbolanos23 opened #1224 "CSI driver reads consumption"
**Is your feature request related to a problem?/Why is this needed**

The CSI driver seems to have got hungrier on GetDisk requests. I'm experiencing throttling issue because of this.

**Describe the solution you'd like in detail**

Need a way to tune / improve the way the CSI driver is behaving so GetDisk requests are controlled and withing limits.

**Describe alternatives you've considered**

**

[2022-03-17 01:08] andyzhangx commented on #1224
@alftio did you create lots of disk volumes in the same time? there is also a fix in v1.13.0, it would not GetDisk when creating volumes: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1213

[2022-03-17 11:27] andyzhangx commented on #1207
close this issue since actually it's a cloud provider azure feature request, I have put all details in this link: https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1273

[2022-03-17 11:27] #1207 closed

[2022-03-17 11:41] andyzhangx commented on #1207
btw, since that's a new requirement in cloud provider azure, would you try `--hostname-override` with kubelet option to override hostname setting in kubelet first, after set, restart node, and then I think azure disk csi driver would work with correct vm name.

[2022-03-17 18:06] mattsheerin opened #1226 "Parameter cachingMode either broken or confusing"
**What happened**: I used the disk.csi.azure.com driver for a persistentVolume with `cachingMode: None` in an attempt to work around https://github.com/kubernetes/kubernetes/issues/43916, but it seemed to have no effect on disk caching behaviour and the bug was still easily reproducible. Either the config didn't work, or it's somehow referring to some other kind of disk caching that's unhelpful to

[2022-03-18 02:44] andyzhangx commented on #1226
could you check whether `Host caching` is set as `None` in azure portal after you create a pod with disk mount?
If it's already `None`, then it could be vm setting issue instead of csi driver issue. Thanks.

![image](https://user-images.githubusercontent.com/4178417/158927537-4f19e056-0bd8-4d9d-9a88-06a606c5b34c.png)

[2022-03-18 09:43] mattsheerin commented on #1226
I've dug around in the portal looking at my AKS cluster and the disk, but I can't seem to find a table that looks like that, or indeed any that list the "Host caching" for the volume. I checked the pv with kubectl instead, where I've redacted a field to avoid posting the subscription ID:
`kubectl get pv pvc-4c17edba-95e7-483f-a12a-65c9ddd5e8e8 -o yaml | yq .spec.csi`

[code]

[2022-03-18 13:23] andyzhangx commented on #1226
if you are using vmss, here is the screenshot:
![image](https://user-images.githubusercontent.com/4178417/159010571-995c498a-4583-4f07-8bd0-57c2b639fe83.png)

[2022-03-21 22:48] alftio commented on #1224
@andyzhangx Thanks.
Yes there were a considerable number creates of disk concurrently. We will wait for the 1.13 version

[2022-03-26 02:49] andyzhangx commented on #1226
you could run `kubectl get po -o wide` to check which node is that pod running on, and then you could get that disk setting.

[2022-03-31 12:38] murech commented on #1086
@andyzhangx thanks for the notice. We have aks 1.21.7 installed. Now the following storage classes are shown:

$ kubectl get sc
NAME                    PROVISIONER
azurefile               file.csi.azure.com
azurefile-csi           file.csi.azure.com
azurefile-csi-premium   file.csi.azure.com
azurefile-premium       file.csi.azure.com
default (default)       disk.csi.azure.com
managed

[2022-03-31 12:49] andyzhangx commented on #1086
@murech AKS cannot delete all those built-in storage classes since old sc(e.g. `azurefile`) may be used by lots of existing clusters which are upgraded from old versions.

[2022-03-31 16:52] murech commented on #1086
@andyzhangx we are planning to upgrade from 1.20.9 to 1.21.7. We will ask teams to migrate resp. recreate persistent volumes by using the "new" storage class names "-csi". Otherwise, teams would not benefit from the new features. After the migration, we would like to remove the "old" storage class names (non -csi). Although all our teams would have migrated to the "new" storage classes, the "old"

[2022-04-01 03:27] andyzhangx commented on #1086
@murech thanks for the info. Since we are still in csi migration process, we still would like to keep the legacy storage classes for a period of time since some users are still depending on the old storage classes.

[2022-04-13 16:44] jmclong opened #1284 "[V2] Regression in test/utils/check_driver_pods_restart.sh: "[: 0 0 0 0 0: integer expression expected""
**What happened**:
Regression of issue in #1205
test/utils/check_driver_pods_restart.sh: line XX: [: 0 0 0 0 0: integer expression expected

**What you expected to happen**:
I expected the test to run without producing errors.

**How to reproduce it**:
The script is called from "test/e2e/suite_test.go" and "test/e2e/dynamic_provisioning_test.go". You will see the error when running e2e tests on th

[2022-04-15 16:46] jmclong opened #1286 "[V2] Incorrect intent in multi-az in testcase should create a volume on demand and mount it as readOnly in a pod [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows]""
**What happened**:
In test/e2e/dynamic_provisioning test, we see the following block of code:
[code]
`pods` is a `[]resources.PodDetails` slice and pod.Volumes is a` []resources.VolumeDetails` slice. Since we are iterating over a slice of struct values, the second value returned by range is a copy of the value in the slice. The resulting copy has its `volume.VolumeBindingMode` and `volume.AllowedT

[2022-04-18 13:17] andyzhangx commented on #1224
pls try with latest v1.16 version, GetDisk throttling should be fixed.

[2022-04-18 13:17] #1224 closed

[2022-04-18 13:17] #1226 closed

[2022-04-18 13:18] andyzhangx commented on #800
fixed in v1.13.0 release

[2022-04-18 15:39] #1284 closed

[2022-04-18 17:28] jmclong commented on #1286
/assign

[2022-04-18 17:34] jmclong commented on #1284
/assign

[2022-04-18 17:54] jmclong opened #1288 "[V2] verify-examples.sh leaks deployment and stateful set when running e2e tests"
**What happened**:
When running e2e tests, `/hack/verify_examples.sh` runs as a part of the `ginkgo.AfterSuite` test hook in `test/e2e/suite_test.go`. This script leaks a deployment and stateful set that can interfere to subsequent test runs that expect a clean system.

**What you expected to happen**:
I expect there to be no deployment or stateful set left over after running an e2e test.

**How t

[2022-04-18 17:54] jmclong commented on #1288
/assign

[2022-04-18 19:21] jmclong commented on #1288
Currently, this script runs after the test suite for e2e tests if `testconsts.IsTestingMigration || !testconsts.IsUsingInTreeVolumePlugin` and again if `!testconsts.IsTestingMigration && !testconsts.IsUsingCSIDriverV2`. The framework checks to make sure it has a 0 exit code otherwise the test fails.

I am wondering if it would be better for the script to be called from a testcase instead because i

[2022-04-18 20:35] jmclong commented on #1286
I think it makes sense to delete this; the test has been running fine for a long time without this code.

[2022-04-19 12:42] andyzhangx commented on #1288
` verify-examples.sh` is for verifying examples, otherwise we need to set up a standalone test pipeline for example verifications, that would be wasting resource.

[2022-04-19 13:48] jmclong commented on #1288
Hi Andy,

Thanks for the comment. That makes sense.

Given the current use-cases, would it be appropriate to trap script exit and execute ```kubectl delete -f "$EXAMPLE --ignore-not-found``` for each example?

I have some code that does this, but I was trying to understand if that would disturb the use in `make e2e-test` or when applying  the files again when `!testconsts.IsTestingMigration && !te

[2022-04-19 14:00] andyzhangx commented on #1288
the second `verify-examples.sh` test is for testing `deploy/install-driver.sh`, while in main_v2 branch, it's just skipped since `IsUsingCSIDriverV2` is always `true`:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/7644adb8d3649d77e73ef3a3cd70d464fa412212/test/e2e/suite_test.go#L185

[2022-04-19 18:53] jmclong commented on #1286
It's not too useful creating super granular issues like this; I will close it and just include this within the PR where I also ran into this issue.

[2022-04-19 18:53] #1286 closed

[2022-04-20 12:35] #1288 closed

[2022-04-20 22:50] edreed opened #1292 "[V2] fix CVE-2022-27191"
**What happened**:

Trivy scan detected CVE-2022-27191 in azuredisk-csi container image.

[code]

[2022-04-25 21:22] jgreat opened #1297 "1.17.0 helm chart - controller errors with: flag provided but not defined: -vmss-cache-ttl-seconds"
**What happened**:

Three problems.

1.) `csi-azuredisk-controller` `azuredisk` sidecar container is using `mcr.microsoft.com/k8s/csi/azuredisk-csi:latest`.

Using "latest" is not a great practice and kind of defeats the purpose of having a versioned helm chart.

2.) `mcr.microsoft.com/k8s/csi/azuredisk-csi:latest` doesn't support the flag `--vmss-cache-ttl-seconds` added in to the 1.17.0 version

[2022-04-26 04:50] andyzhangx commented on #1297
hi @jgreat pls install v1.16.0 version:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/charts#install-a-specific-version
[code]

latest versioned helm chart is mainly for testing purpose. Thanks.

[2022-04-26 22:37] gnadaban opened #1301 "Provisioned persistent volume stays attached when underlying node is deprovisioned preventing relocation to another node"
**What happened**:

Node on which a PVC was provisioned was deleted. PV stays assigned to missing node and never gets detached.

Status of VolumeAttachment shows detach error:

[code]

**What you expected to happen**:

When a Kubernetes node is deprovisioned, volume attachments should be detached, so that the Pod and the corresponding PVC can be bound to another existing node.

**How to reproduce

[2022-04-27 02:23] #1292 closed

[2022-04-27 02:25] edreed opened #1302 "[V2] Address linter errors in az-analyze tool"
**What happened**:

`golangci-lint` is failing with the following errors for the `az-analyze` tool

[code]

[2022-04-27 03:34] andyzhangx commented on #1301
if a Kubernetes node is deleted, the pod with disk pv would be rescheduled to a new node, and then detach disk would happen. Do you know whether that the pod is scheduled to the new node?

[2022-04-27 15:24] gnadaban commented on #1301
The Pod cannot be rescheduled because the volume stays attached, and it is never detached.

[2022-04-27 15:28] andyzhangx commented on #1301
and what if you delete that pod by force?

[2022-04-27 15:29] gnadaban commented on #1301
The Pod would stay in Init forever as it's rescheduled to another node, but the volume is never attached as it stays attached.
Deleting the Pod doesn't help either.

[2022-04-27 16:12] gnadaban commented on #1301
For example a VolumeAttachment failing to detach has this error:

[code]

Note: the cluster is provisioned using `cluster-api` and has MachineDeployments instead of VMSS nodes.

[2022-04-27 16:15] #1302 closed

[2022-04-28 01:19] andyzhangx commented on #1301
@gnadaban what's the `disable-avset-nodes` value of your disk driver controller? set as `--disable-avset-nodes=false` (by default) should fix the `get azure instance id for node` error and unblock disk detach:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/62cbae04087080827fe8159461299c31bdfaf58d/deploy/csi-azuredisk-controller.yaml#L143

[2022-04-28 01:20] andyzhangx commented on #1301
try run `kubectl describe pod csi-azuredisk-controller-xxx -n kube-system` to check `disable-avset-nodes` setting.

[2022-04-28 22:40] aslafy-z commented on #1097
/remove-lifecycle stale

[2022-04-29 18:20] gnadaban commented on #1301
Hi @andyzhangx , I'll test that setting as soon as I can.

Since the volumes are stuck I had to remove them manually in the Azure portal, but the corresponding Kubernetes resources are not being cleaned up. Is there any cleanup-loop in the CSI controller that will eventually take care of these?

If not, how can I delete them safely?

[2022-04-30 00:56] andyzhangx commented on #1301
@gnadaban the pv could not be deleted since the pod using that pv is still not deleted, as long as you delete the pods, the k8s pv resources could be deleted automatically.

[2022-05-01 09:48] #1101 closed

[2022-05-02 15:16] gnadaban commented on #1301
@andyzhangx Pods that originally had the volumes are long gone and we still see PVs that arent' released.
What now?

[2022-05-03 11:53] andyzhangx commented on #1301
@gnadaban could you paste the PVC, PV status? You could delete PVC to clean up the underlying disk.

[2022-05-04 00:07] gnadaban commented on #1301
Issue still stands, the `azuredisk` controller logs show the PVs cannot be removed:

[code]

Note: Force-deleting the PVs don't make a difference.

[2022-05-04 01:36] andyzhangx commented on #1301
can you run `kubectl edit deployment csi-azuredisk-controller -n kube-system`, and set `--disable-avset-nodes=false`:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/62cbae04087080827fe8159461299c31bdfaf58d/deploy/csi-azuredisk-controller.yaml#L143

also could you share the init logs of azuredisk controller, thanks.

[2022-05-05 18:23] gnadaban commented on #1301
Correction: I DO see the `--disable-avset-nodes=true` passed in to the controller.

[2022-05-05 18:35] gnadaban commented on #1301
I've updated to 1.18 and flipped that flag to false as I'm getting errors in the controller like this:

[code]

[2022-05-05 18:42] gnadaban commented on #1301
With the `disableAvailabilitySetNodes=true` and 1.17 chart/controller it appears this flag is not working as it's still attempting to treat nodes as VMSS instance:

[code]

Using `disableAvailabilitySetNodes=false` yields similar results.

[2022-05-06 02:08] andyzhangx commented on #1301
@gnadaban what's the initialization logs of disk driver controller pod logs? after changing the `disableAvailabilitySetNodes` setting, you need to delete all existing running deployment pods, otherwise pod with old config may still be running.

[2022-05-06 14:51] gnadaban commented on #1301
Hi @andyzhangx , I tested deployment and deletion of a new Redis which has PVCs with 1.17 and  `disableAvailabilitySetNodes=false` and it appears to work.

However, deleting unused PVCs created before and deleting their PVs seems to fail still and the PVs got stuck in `Terminating` status.

Attempting to delete these previously created PVs has errors in the controller log:

[code]

It's like the c

[2022-05-06 14:57] andyzhangx commented on #1301
are you able to set `vmType: standard` in azure.json, I think that would solve the issue.

[2022-05-06 21:07] mauriciopoppe opened #1319 "Azuredisk multiVolume e2e tests fails in Windows nodepools"
**How to reproduce it**:
Multivolume tests are failing in Windows with this ginkgo focus: `External.Storage.*multiVolume`, for example:

[code]

Is there an output log for tests that run in Windows? I tried to follow https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/external-e2e/run.sh and https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/e2e/README.md

[2022-05-08 11:46] andyzhangx commented on #1319
this command `dd if=/mnt/volume1/file1.txt` is not valid on Windows

[2022-05-08 11:48] #1297 closed

[2022-05-09 15:21] gnadaban commented on #1301
I'll need to look into it a bit more, we're using `cluster-api` so the Azure config is generated.

[2022-05-09 16:56] jmclong opened #1325 "[V2] Use different context than reconciler context for triggering replica creation"
Since replica creation operation will be pushed to a queue for later processing, I'm not sure it makes sense to use the reconciler context here. A context with a long timeout derived from `context.Background()` seems like a more appropriate choice. This is an issue with the existing code, so I am fine deferring this to another PR (and more discussion).

_Originally posted by @edreed in https://git

[2022-05-09 18:19] jmclong commented on #1325
WIP: All call paths to addToOperationQueue, to see how `context.Context` is derived:

`triggerManageReplica` -> `(c *SharedState) addToOperationQueue`
- Creates context passed in
- pkg/controller/replica.go:136: Passed in `context.Background()`

`(*ReconcilePod).Recover(ctx)` -> `(*ReconcilePod).createReplicas` -> ` (c *SharedState) addToOperationQueue`
- Passes in ctx from Recover method

`(*Reco

[2022-05-10 14:24] jmclong commented on #1325
@edreed,

Following up on your comments from my PR for the triggering replica creation, I was looking at the use of `context.Context` and `(*SharedState).addToOperationQueue`. There are several instances where the `context.Context` is from/derived from the one passed into a controller's `Reconcile/Recover` methods. I have read the `kubernetes-sigs/controller-runtime` code, and it appears that the

[2022-05-14 07:29] andyzhangx commented on #1301
@gnadaban if you try with latest v1.18.0 release, you could set `--vm-type=standard` in azure disk controller config, I think that would solve the issue.

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/fa3afcd4355aea94e9c413f72da615bb44a3bd5b/charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml#L145-L150

[2022-05-14 14:16] #879 closed

[2022-05-17 17:37] gnadaban commented on #1301
Thanks @andyzhangx , I tried with 1.18 and `--vm-type=standard` and with both `true/false` values of `--disable-avset-nodes` and I'm _still_ getting errors about the node not being a vmss one.

[code]

[2022-05-17 18:51] gnadaban commented on #1301
Update: I've tried leaving the `vmType` override with the default empty setting and apparently it works! :)
I'll confirm once more, but it's looking good!

On another note, I am confused why I was getting the errors otherwise.

[2022-05-18 01:00] andyzhangx commented on #1301
@gnadaban there are two controller replicas, after the change, you need to delete the two replica pods manually, otherwise the setting would not take effect.

[2022-05-19 21:16] jmclong commented on #1325
Small correction to this:

The context passed in is not derived from `(*manager.Manager).Start`. Instead there are separate `RunnableGroups` which must be shut down in an certain order. The context that is passed into Reconcile is tied indirectly tied to the `(*manager.Manager).Start` one. In the current release of `controller-runtime`, they have added the ability to derive it from a `BaseContext`

[2022-05-22 13:19] andyzhangx opened #1347 "[V2] v2 driver scheduler extender should skip filter and prioritize if pods has no volumes from 1.22+"
**What happened**:
v2 driver scheduler extender tries to skip filter and prioritize if pod has no volumes, while start from k8s 1.22, all pods would have `kube-api-access-xxx` volume which is used to access api-server by default, which means the skip check actually does not work, **ALL** pods will go through scheduler-extender and call `getAzDriverNodes` and `getAzVolumeAttachments` which are expe

[2022-05-22 13:23] andyzhangx opened #1348 "[V2] set reasonable cpu, memory limits for scheduler extender"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently cpu, memory limits for scheduler extender is unlimited, set reasonable limits:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/6b678e654ca48a0bcf6359f4f9ce6133cf472fbe/deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml#L64-L77

the limits may rely on http

[2022-05-23 20:31] edreed opened #1349 "[V2] test: Pod failover with replica attachment test case fails on Windows"
**What happened**:

The "Should test pod failover and check for correct number of replicas" test case fails on Windows because the pod doesn't get the expected file contents after failover:

[code]

**What you expected to happen**:

Test case passes.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):

[2022-05-25 22:35] landreasyan commented on #1347
Agree that we have to find another way to skip filter and prioritize calls for pods with no volumes but also wanted to mention that we get azvolumeattachments and azdrivernodes from cache, so `getAzDriverNodes` and `getAzVolumeAttachments` calls are not as expensive.

[2022-05-26 11:53] andyzhangx opened #1353 "[v2] pvc cache map would be empty after scheduler extender restart"
**What happened**:
the 2 pvc cache maps would be empty after scheduler extender restart, so what's the impact after scheduler extender restart? does scheduler extender still work?

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/6c49a06e0b8eb664a8ae165da058bf4292456189/pkg/azdiskschedulerextender/azdiskschedulerextender.go#L472-L484

**What you expected to happen**:

**How to reproduc

[2022-05-26 11:55] andyzhangx opened #1354 "[v2] cluster-autoscaler does not support custom scheduling config"
**What happened**:
cluster-autoscaler does not support custom scheduling config, details: https://github.com/kubernetes/autoscaler/issues/4518
should test v2 driver shared disk with cluster-autoscaler, check whether there is potential issue:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version

[2022-05-26 15:19] gnadaban commented on #1301
Hey @andyzhangx , I think we can close this one, thanks for all your help! :)

[2022-05-26 15:19] #1301 closed

[2022-05-26 23:33] abhisheksinghbaghel opened #1356 "[v2] v2 node agent doesn't re-create the azdrivernodes CRI in the heartbeat report path"
**What happened**:
If the azdrivernodes CRI for a node gets deleted accidently, the heartbeat report for the node will stop, effectively taking it out of rotation from placement by extender.

**What you expected to happen**:
CSI-Node-Agent should re-create the azdrivernodes CRI in the heart beat report path.

**How to reproduce it**:

1. Deploy the v2 driver.
2. Delete one of the azdrivernodes CRI

[2022-05-27 00:47] landreasyan opened #1357 "[V2] Downgrading from V2 driver to V1 could break some workflows due to missing LUN in volume attachment"
**What happened**:
After downgrading from V2 version of the driver to V1, some stateful workflows failed to restart as volume attachment resources in V2 driver don't have LUN in the status field due to doing attachments asynchronously.

**What you expected to happen**:
Stateful workloads should be able to restart on the same node and failover to new nodes without any issues.

**How to reproduce it

[2022-06-02 17:13] nearora-msft commented on #1348
/assign

[2022-06-02 20:28] edreed opened #1364 "[V2] feat: Replace command-line parameters with configuration file"
**Is your feature request related to a problem?/Why is this needed**

The driver currently supports customization through a myriad of command-line parameters which is getting quite cumbersome to manage.

**Describe the solution you'd like in detail**

Deprecate the command-line parameters in favor of using a configuration file. The file could be defined in a ConfigMap and specified through a singl

[2022-06-03 00:40] andyzhangx commented on #273
This feature is already enabled on all Azure public regions, follow guide here to register feature first: https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi#resize-a-persistent-volume-without-downtime

[2022-06-07 12:44] landreasyan opened #1371 "[V2] Deletion for CRDs with graceful shutdown period in the future will be ignored."
**What happened**:
[objectDeletionRequested](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b000a11c697a32dc80a82e204329cdeac166693d/pkg/controller/common.go#L1833) only honors deletion events that are past the deletion timestamp. However, when the deletion even is triggered and the graceful shutdown is requested with a timestamp in the future, the event will be missed. Since an upda

[2022-06-08 23:13] edreed commented on #1353
@landreasyan

[2022-06-09 07:17] landreasyan commented on #1353
Delta fifo cache implements an automatic re-list to populate caches on restart. The cache will always be populated.
Here are some old logs confirming the behavior:
[code]

Theoretically, if the cache is not populated and the map is empty, we would assume that the node doesn't have the requested disk attachments and will score all the nodes the same. It will impact the failover latency for v2 drive

[2022-06-09 18:55] edreed commented on #1357
/assign @sunpa93

[2022-06-09 18:57] edreed commented on #1364
/assign @hccheng72

[2022-06-12 06:15] yarinm opened #1376 "Nil access panic"
**What happened**:

Controller crashes during attach / detach:

[code]

I'm also seeing these info logs which might be relevant:
[code]

This happens when the VMSS is under fault in Azure due to "Internal disk error"

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: 1.15
- Kubernetes version (use `kubectl version`): 1.21.7

[2022-06-12 07:56] andyzhangx commented on #1376
thanks for reporting, this issue is fixed in v1.17.0: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/v1.17.0/vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go#L172-L175

[2022-06-13 14:06] #1376 closed

[2022-06-13 23:48] edreed opened #1378 "[V2] "Should test an increase in replicas when scaling up" test case fails with ConflictingUserInput"
**What happened**:

The test case creates a disk with two replicas and failed with the following error:

[code]

The error message seems to imply that this disk couldn’t be attached to multiple VMs. This seems odd because other replica test cases passed and I could confirm that the disk was created with maxShares of 3. What I did notice , however, was that the replica attachment occurred within a

[2022-06-14 16:43] mukhoakash commented on #1371
/assign

[2022-06-16 16:11] edreed commented on #1356
/assign @edreed

[2022-06-20 02:32] andyzhangx opened #1387 "[V2]get time cost metrics of filter and prioritize call for every pod scheduling"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

get time cost metrics of filter and prioritize call for every pod scheduling

**Describe alternatives you've considered**

**Additional context**

[2022-06-20 02:32] andyzhangx commented on #1347
pls also get time cost of filter and prioritize call for every pod scheduling, I filed an issue here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/1387

[2022-06-22 01:08] edreed commented on #1349
Test case is still failing periodically.

[2022-06-23 03:42] edreed opened #1392 "[V2] flake: E2E tests sometimes fail because of missing cleanup job logs"
**What happened**:

Occasionally, the E2E tests fail because it cannot find the cleanup job log:

[code]

**What you expected to happen**:

Tests should succeed regardless of whether this log exists.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `u

[2022-06-23 17:56] qch2012 opened #1394 "pod created from snapshot lose data"
**What happened**:

I installed AzureDisk CSI with Canonical MicroK8s cluster and try to test snapshot function.  I followed instruction from https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/snapshot ,   was able to run all the steps without issue,  but the POD created from snapshot doesn't contain the data from original PVC

[code]

[code]

[code]

Source POD has

[2022-06-24 03:28] andyzhangx commented on #1394
I think it also depends on whether the data in original PV is flushed when you take snapshot. may add `&& sync` in the testing pod command, e.g.
`while true; do echo $(date) >> /mnt/azuredisk/outfile && sync; sleep 1; done`

BTW, if you take a snapshot, and restore to a new PVC now, does it work now?

[2022-06-24 13:32] qch2012 commented on #1394
Thanks Andy for reply ,   I add the sync in pod command ,  also did manual sync inside pod ,  then take another snapshot and restored it to new pvc , then attach the restored pvc  to new pod ,   still not seeing the content in /mnt/azuredisk of new pod

maybe I am missing something , blow are some captures,  hope you can point me to the right direction

[code]
Ignore the pending state for csi-azur

[2022-06-24 17:19] qch2012 commented on #1394
I think I found where the issue is

in csi-azuredisk-node.yaml,  mount-dir of container azuredisk has  different path than host kubelet path,  I've correct it to use the same path ,   after that I can see the snapshot working properly

[code]

I will mark this issue as closed .      Thanks for your help