[2019-01-11 02:50] andyzhangx opened #4 "add unit test in azuredisk_test.go"
for `isManagedDisk`, `getDiskName` func, thanks.
@Masquerade0097

[2019-01-14 19:07] #4 closed

[2019-01-31 13:04] andyzhangx opened #6 "[test] set e2e test CI"
cc @pothulapati You could update more details here if you have any progress, thanks.

[2019-02-03 03:58] andyzhangx opened #7 "write some unit tests"
Complete following unit tests:
 - `getFStype` func: https://github.com/andyzhangx/azuredisk-csi-driver/blob/d220d45916e2460c689020c06fbde275f63005b5/pkg/azuredisk/nodeserver.go#L280
 - `GetCloudProvider`: https://github.com/andyzhangx/azuredisk-csi-driver/blob/d220d45916e2460c689020c06fbde275f63005b5/pkg/azuredisk/azure.go#L29
- `getCachingMode`: https://github.com/andyzhangx/azuredisk-csi-driver/

[2019-02-03 08:56] andyzhangx opened #9 "[test] set up sanity test"

[2019-02-03 08:57] andyzhangx commented on #9
cc @Masquerade0097

[2019-02-03 09:47] andyzhangx commented on #7
/assign @lizebang

[2019-02-04 04:30] andyzhangx commented on #6
[code]

[2019-02-15 05:47] andyzhangx opened #23 "[bug] attachment timeout for volume after moving to CSI 1.0.0"
With https://github.com/andyzhangx/azuredisk-csi-driver/pull/22, there is always `attachment timeout for volume` error, actually the disk attachment only costs 15s, need to investigate how to increase current timeout value though the error does not matter, eventuall it succeed.

 - error events of disk attachment process
[code]

 - error logs of controller publish:
[code]

[2019-02-15 05:54] andyzhangx opened #24 "[bug] disk should be attached to /dev/sdc instead of /devhost/sdc"
Currently disk is attached as `/devhost/sdc` instead of `/dev/sdc`, need to investigate how to make it as `/dev/sdc`, at that time, I did not succeed doing that, looks like there is conflict

 - deployment config
https://github.com/andyzhangx/azuredisk-csi-driver/blob/e51aea26d3417ed3c376a49796e54a34bbd71ee5/deploy/azuredisk-csi-driver.yaml#L66-L67

 - related code need to change
https://github.co

[2019-02-15 13:44] #7 closed

[2019-02-15 13:54] andyzhangx opened #25 "[feature] add create/delete/list snapshot feature"
https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html#snapshot--restore-feature
related AKS feature request: https://github.com/Azure/AKS/issues/658

[2019-02-17 03:04] andyzhangx opened #26 "[management] set up issue template"
Could set up following 4 templates for new issues:
 - Bug report
Create a report to help us improve CSI Driver

 - Enhancement request
Suggest an idea for this project

 - Feature request
Suggest an idea for this project

 - Support request
Ask questions about the driver

[2019-02-17 03:19] andyzhangx opened #27 "[feature] Implement raw block volume support"
https://kubernetes-csi.github.io/docs/raw-block.html

[2019-02-17 03:21] andyzhangx opened #28 "[feature] Create Helm chart for driver"
here is the reference: https://github.com/ritazh/secrets-store-csi-driver/tree/master/charts/keyvault-csi-driver

[2019-02-17 03:23] andyzhangx opened #29 "[feature] xfs, ext3 file system type"
need to check whether it supports xfs, ext3, I think it should support xfs, also need to doc

[2019-02-17 03:24] andyzhangx commented on #25
I am adding disk snapshots client on azure cloud provider now which is going to be releases in k8s v1.14.0, then we could add snapshot & restore feature.

[2019-02-17 03:26] andyzhangx opened #30 "[feature] support MaxVolumesPerNode"
Reference:
https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetinfo

Currently `NodeGetInfoResponse` returns the default of `0` for `MaxVolumesPerNode` so the CO will decide how many volumes can be published on a node.

[2019-02-17 03:35] andyzhangx commented on #9
update:
WIP PR: https://github.com/csi-driver/azuredisk-csi-driver/pull/21

[2019-02-17 08:39] Masquerade0097 commented on #26
Can I send a PR for this?

[2019-02-17 11:01] andyzhangx commented on #26
@Masquerade0097 you could focus on sanity test first, I have assigned this task to @lizebang

[2019-02-17 11:13] andyzhangx commented on #26
@Masquerade0097 If you have already figured out how to do this, you could send out a PR for this?

[2019-02-17 11:14] andyzhangx commented on #28
@lizebang do you have interest for this? It's a relatively standalone feature

[2019-02-17 11:40] lizebang commented on #28
@andyzhangx Yes, I am very interested in it.

[2019-02-17 11:48] lizebang commented on #26
@Masquerade0097 If you finish a part, we can finish it together.

[2019-02-17 11:50] andyzhangx opened #31 "[feature] k8s liveness probe"
Integration with k8s liveness probe:
https://github.com/kubernetes-csi/livenessprobe

[2019-02-17 12:02] andyzhangx commented on #23
according to https://github.com/kubernetes/kubernetes/blob/07a5488b2a8f67add543da72e8819407d8314204/pkg/volume/csi/csi_plugin.go#L57 (may be incorrect)

There is timeout setting value, need to figure out how to workaround this to set a larger number
[code]

[2019-02-17 12:05] andyzhangx commented on #26
FYI. The https://github.com/csi-driver/azurefile-csi-driver project also needs such template

[2019-02-17 12:06] Masquerade0097 commented on #26
Yes, I have figured out how to do this.

The process to write different Issue templates is just the same. I have the PR ready.

[2019-02-17 12:07] andyzhangx commented on #26
@Masquerade0097 Great, then you could send the PR now.

[2019-02-17 12:07] Masquerade0097 commented on #26
Okay

[2019-02-17 12:10] andyzhangx opened #32 "[enhancement] Make sure all CSI operations are idempotent"
e.g. I have fixed a bug which is due to `ControllerPublishVolume` operation is not idempotent:
https://github.com/csi-driver/azuredisk-csi-driver/commit/ab6ac18babe2bee57c166e56a9b2323dc5062612

We should make sure all all CSI operations are idempotent, here is the doc describing about `idempotent`:
All functions have to be idempotent. This means that whatever requests comes in, the process handli

[2019-02-17 12:17] andyzhangx opened #33 "[feature] add mountOptions support"
Original built-in storage class has `mountOptions`, we also need to support that

[code]

[2019-02-17 12:22] andyzhangx opened #34 "[management] Add CHANGELOG for v0.1.0-alpha release"

[2019-02-17 12:25] andyzhangx opened #35 "[management] set up PR template"

[2019-02-17 12:26] andyzhangx opened #36 "[management ] set up CLA check bot"

[2019-02-17 13:13] andyzhangx opened #38 "[enhancement] Support for Volume Source (snapshot restore)"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**
This is a new feature in CSI 1.0, need to figure out whether azure disk support cloning first. It should be related to snapshot restore functionality:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/6cd39e09efff106c56c69b3ed2

[2019-02-17 13:16] andyzhangx commented on #32
Don't fail when NodePublish or NodeStage on same target path multipletimes

[2019-02-17 13:38] lizebang commented on #26
@andyzhangx @Masquerade0097
Do we need to add labels into the templates?
Just like `Bug report`, if we change the header of [bug-report.md](https://github.com/csi-driver/azuredisk-csi-driver/blob/master/.github/ISSUE_TEMPLATE/bug-report.md) to:
[code]
it will add `bug` label when create a `Bug report` issue.

[2019-02-17 13:44] Masquerade0097 commented on #26
@lizebang AFAIK The labels are for CLI bot, since we don't have the bot yet the `label` won't be needed.

[2019-02-17 13:46] #35 closed

[2019-02-17 13:48] andyzhangx commented on #26
then can we set up the CLI bot?

[2019-02-17 13:48] andyzhangx opened #40 "[management] set up the CLI bot"

[2019-02-17 13:49] lizebang commented on #26
@Masquerade0097 Thanks a lot.

[2019-02-17 13:51] andyzhangx commented on #26
I have made a new issue: set up the CLI bot https://github.com/csi-driver/azuredisk-csi-driver/issues/40

[2019-02-17 13:51] Masquerade0097 commented on #26
@andyzhangx I meant `k8s-ci-bot`, I made the correction in the above comment. Also, I guess that bot is added by maintainers. I'm not sure have to look up.

[2019-02-17 13:53] andyzhangx commented on #26
@Masquerade0097 that's ok, let's see after this project is moved to k8s-sig, it's low priority.

[2019-02-17 13:53] #26 closed

[2019-02-17 13:53] Masquerade0097 commented on #26
Okay.

[2019-02-17 13:57] lizebang commented on #26
@Masquerade0097 You are right.
@andyzhangx We can refer to [prow](https://github.com/kubernetes/test-infra/blob/ad64c1207e/prow/README.md) after this project is moved to k8s-sig.

[2019-02-18 03:10] andyzhangx opened #41 "[code refactor] switch glog to klog"
**Is your feature request related to a problem?/Why is this needed**
From kubernetes v1.13.x, `glog` is switched to `klog`, while our repo(depends on k8s v1.13.0 now) is still using `glog`, need to switch to use `klog`
https://github.com/csi-driver/azuredisk-csi-driver/blob/4215b94259b146ee1b8c3e9d7b4a2346b219f4a8/pkg/azurediskplugin/main.go#L46

**Describe the solution you'd like in detail**

**D

[2019-02-18 04:34] andyzhangx opened #42 "[test] skip running test for doc change"
**Is your feature request related to a problem?/Why is this needed**

Currently all changes including doc change would trigger full test running, while it's not necessary, need to skip test when there is only doc change, e.g. `*.md`

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-02-18 05:13] lizebang commented on #42
@andyzhangx Can I do it?

[2019-02-18 05:17] andyzhangx commented on #42
sure

[2019-02-18 06:12] lizebang commented on #42
@andyzhangx I might not be able to finish it now. I have read the documentation for Travis CI and I found that this feature is not supported. Please see [travis-ci/issues/6301](https://github.com/travis-ci/travis-ci/issues/6301) for details. I have already subscribed to it. I will solve this problem after it is solved.

[2019-02-18 06:14] andyzhangx commented on #42
that's ok, thanks for the investigation.

[2019-02-18 06:22] lizebang commented on #42
@andyzhangx Thanks. And I find [oni/.travis.yml](https://github.com/onivim/oni/blob/master/.travis.yml). This seems like a good temporary solution.

[2019-02-18 11:44] andyzhangx opened #43 "[management] Review license scanning result"
**Is your feature request related to a problem?/Why is this needed**

2 Unlicensed Dependencies (+2 New)     
11 Flagged Projects (+11 New)

https://app.fossa.io/projects/git%2Bgithub.com%2Fcsi-driver%2Fazuredisk-csi-driver/refs/branch/master/d69f3db44bc2f0151d2062adaf4e7bf975a10a20

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-02-19 03:29] #34 closed

[2019-02-20 06:38] andyzhangx opened #45 "CSI driver support on Windows"
**Is your feature request related to a problem? Please describe.**

Currently CSI driver is linux based, cannot run on Windows. The main difficulty is design difference between Linux and Windows, all devices are files while it's not true for Windows.
Here is a issue link in moby talking about this issue: https://github.com/moby/moby/issues/38479

**Describe the solution you'd like in detail**

We

[2019-02-22 03:29] andyzhangx opened #46 "fix sanity test failures"
**What happened**:
Follow this guide: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/test/sanity

Thanks for @Masquerade0097 's contribution, we have a lot more work to do to fix those sanity test failures:

 - below are the sanity test failure:
[code]

@Masquerade0097 you could start fix those failures, thanks for the work.

**What you expected to happen**:

**How to reproduc

[2019-02-22 04:39] Masquerade0097 commented on #46
Okay, working on it.

[2019-02-23 05:25] Masquerade0097 commented on #9
@andyzhangx Maybe this can be closed now.

[2019-02-23 12:06] #9 closed

[2019-02-24 01:55] ashishranjan738 commented on #41
@andyzhangxI would like to work on it.

[2019-02-24 01:59] andyzhangx commented on #41
sure, thanks

[2019-02-24 07:49] ashishranjan738 commented on #30
@andyzhangx I would like to work on this.

[2019-02-24 13:12] andyzhangx commented on #30
@ashishranjan738 You could refer to https://github.com/kubernetes/kubernetes/blob/139a13d312b1b11de7f3af63d9503365ff3a1e6a/pkg/volume/azure_dd/azure_dd.go#L141-L183, need to port those code into this driver

[2019-02-26 14:12] #28 closed

[2019-02-27 06:37] andyzhangx opened #54 "add "dep ensure" check in CI test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently there is no "dep" check in the CI test, dev need to run `dep ensure -update`, need to add this CI check.

**Describe alternatives you've considered**

**Additional context**

[2019-02-27 11:23] ashishranjan738 commented on #30
cool i will have a look.

[2019-03-02 02:46] andyzhangx opened #55 "support volume resize in k8s v1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

CSI support is in alpha in 1.14 release and requires enabling `ExpandCSIVolumes` feature gate.
https://github.com/kubernetes/website/pull/12928
https://github.com/kubernetes/enhancements/issues/556#issuecomment-468760297

https://kubernetes-csi.github.io/docs/external-resizer.html

[2019-03-03 12:32] andyzhangx commented on #46
ValidateVolumeCapabilities failure is fixed now, there are still 8 failures left
[code]

[2019-03-04 03:02] andyzhangx commented on #41
it's already fixed

[2019-03-04 03:02] #41 closed

[2019-03-07 06:50] andyzhangx opened #58 "reduce vendor size"
**Is your feature request related to a problem?/Why is this needed**

Currently this driver code only uses https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure and some k8s util lib, while the `vendor` directory has whole k8s library, need to update go dep config to reduce vendor size

**Describe the solution you'd like in d

[2019-03-07 07:42] Masquerade0097 commented on #58
I would like to work on it.

[2019-03-07 07:43] andyzhangx commented on #58
/assign @Masquerade0097

[2019-03-07 08:30] andyzhangx opened #59 "Add boilerplate checking"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/106

**Describe alternatives you've considered**

**Additional context**

[2019-03-07 14:11] andyzhangx commented on #36
not necessary in k8s-sig project

[2019-03-07 14:11] #36 closed

[2019-03-07 14:11] andyzhangx commented on #40
not necessary in k8s-sig project

[2019-03-07 14:11] #40 closed

[2019-03-09 08:19] andyzhangx commented on #58
/assign @Masquerade0097

[2019-03-10 12:19] andyzhangx opened #63 "check whether this driver could run on a RBAC enabled k8s cluster"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-03-10 12:29] ashishranjan738 commented on #63
i would to work on this issue @andyzhangx

[2019-03-10 12:39] andyzhangx commented on #63
/assign @ashishranjan738

[2019-03-10 12:43] andyzhangx commented on #63
/assign @ashishranjan738

[2019-03-10 12:46] andyzhangx commented on #30
/assign @ashishranjan738

[2019-03-12 12:32] #30 closed

[2019-03-17 12:18] #58 closed

[2019-03-17 14:54] #54 closed

[2019-03-24 14:21] ekgandhi commented on #25
Thanks @andyzhangx for the suggested workaround:

Use azure disk snapshot feature for backup & restore manually:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/snapshot-copy-managed-disk

[2019-03-26 05:47] #31 closed

[2019-03-26 05:49] andyzhangx opened #66 "check whether this driver could run on a RBAC enabled k8s cluster"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-03-26 05:51] andyzhangx opened #67 "switch azure cloud provider to 1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-03-26 05:52] andyzhangx commented on #66
duplicated.

[2019-03-26 05:52] #66 closed

[2019-03-26 07:40] andyzhangx opened #68 "Only warning and error logs on azuredisk driver"
**What happened**:
I set as `--v=5`, while there are only warning and error logs on azuredisk driver, no info logs
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/6107cfce70c788ff13091f610dec16a90224251a/deploy/azuredisk-csi-driver.yaml#L58

**What you expected to happen**:

Only following logs are displayed even I set `--v=15` for azure disk driver:
[code]

**How to reproduce it**:

[2019-03-26 14:26] andyzhangx commented on #68
cc @ashishranjan738
It looks like this PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/48 caused this issue, logs like following won't be displayed in csi driver container any more.

[2019-03-26 14:45] andyzhangx commented on #68
could be due to missing `klog.InitFlags(nil)` in main func, not sure, will try tomorrow.

[2019-03-26 15:06] ashishranjan738 commented on #68
will have a look as well

[2019-03-26 15:17] jeremych1000 commented on #25
Now that v1.14.0 is out, is the timeline for this still June as per [Azure/AKS#658](https://github.com/Azure/AKS/issues/658)?

[2019-03-26 17:25] ashishranjan738 commented on #68
verified with the upstream image facing the same issue, but not able to reproduce it in the local system. Raised a quick fix https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/69

[2019-03-26 17:26] ashishranjan738 commented on #68
`klog.init` is present in main.go

[2019-03-27 01:20] #68 closed

[2019-04-08 03:03] andyzhangx opened #72 "Switch glide to go modules for dependency management"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/142

**Describe alternatives you've considered**

[code]
**Additional context**

[2019-04-11 12:20] sharkymcdongles opened #73 "Cannot mount disk due to findDiskByLun(0) failed within timeout"
**What happened**:
I tested with the nginx test per documentation, and it worked fine. I then try to use the plugin to deploy a postgres when I get this error.

and

**What you expected to happen**:
Disks attach and mount and actually work.

**How to reproduce it**:
Install CSI driver v0.2.0-alpha on k8s 1.14.

Try deploying a postgres from kubedb. This works fine with our ceph storageclass.

**An

[2019-04-11 14:42] andyzhangx commented on #73
@sharkymcdongles thanks for the feedback, I think the problem here is why in your Ubuntu 18.04 agent node, `/dev/disk/azure` dir is not populated, below are mine, `lun0` is the data disk:
[code]

could you paste the UDEV rule on your agent VM:
`# sudo cat /etc/udev/rules.d/66-azure-storage.rules`

[2019-04-11 15:23] sharkymcdongles commented on #73
It does not exist. Should the deployment have handled this?

[2019-04-11 15:27] andyzhangx commented on #73
@sharkymcdongles how do you set up that Ubuntu 18.04 VM? if it's by Azure platform, waagent will be installed and that UDEV rule will be installed too.

[2019-04-11 17:00] sharkymcdongles commented on #73
This was provisioned via an arm template via kubespray. I rolled out the udev per this to all cluster nodes, and it works now for the most part. Thank you so much! Unfortunately one of the disks it tried to create now gets this:

Any guidance here is greatly appreciated.

[2019-04-12 03:43] andyzhangx commented on #73
@sharkymcdongles the error said "could not format '\x00' and mount it at "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-de4f7c7d-5c76-11e9-9ea8-000d3a269e74/globalmount", have you formated that disk by other file system format before?

[2019-04-13 15:40] sharkymcdongles commented on #73
No. This is a newly created dynamically provisioned disk. I will see if I can remove it and allow it to provision a new one.

[2019-04-13 20:07] sharkymcdongles commented on #73
I deleted and allowed the pvc to be recreated fresh and the result is the same.

[2019-04-14 10:16] #59 closed

[2019-04-14 14:18] andyzhangx commented on #46
there are still 7 failures now:
[code]

[2019-04-15 02:10] #73 closed

[2019-04-15 08:01] andyzhangx commented on #73
@sharkymcdongles thanks for reporting. I have fixed this issue by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/75
pls follow below way to retry, thanks:
 - delete the original pod
 - redeploy azure disk csi driver:
[code]

[2019-04-16 10:28] #67 closed

[2019-04-17 04:41] andyzhangx commented on #23
This issue disappears after moving to k8s v1.14.0 for azure disk CSI driver `v0.3.0`:

[code]

[2019-04-18 01:15] andyzhangx commented on #72
/assign @ashishranjan738 thanks.

[2019-04-18 05:33] andyzhangx commented on #72
pls hold on this first swith, since we found go module update issue on k8s after we switch to using go module.

[2019-04-21 04:35] andyzhangx opened #77 "remove disk attach/detach lock in this driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

With PR: https://github.com/kubernetes/kubernetes/pull/76573, disk attach/detach lock will be under azure cloud provider lib, I will cherry pick above PR to v1.14.x, need to upgrade to that version and then remove disk attach/detach lock in this driver, otherwise there would be red

[2019-04-22 06:31] andyzhangx commented on #77
now it depends on https://github.com/kubernetes/kubernetes/pull/76886, when it's merged and released in a newer k8s version(could be `1.14.2` or `1.14.3`), will upgrade to that k8s version and remove lock. Stay tuned.

[2019-04-26 07:18] andyzhangx opened #78 "Make this driver work in MSI enabled cluster"
**What happened**:
Currently it won't work since only master node has msi contributer role, agent node has only reader role:
https://github.com/Azure/aks-engine/pull/1076

Need to send PR to aks-engine to make msi role works first on agent node.

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes vers

[2019-05-10 16:13] tall49er commented on #25
Can I working on it?

[2019-05-11 13:51] andyzhangx commented on #23
issue happens again on k8s 1.14.1:
[code]

[2019-05-11 14:03] andyzhangx commented on #78
To make this driver work in a MSI enabled cluster, pls make sure the agent nodes should have `Contributor` role of current resource group, for MSI enabled cluster set up by aks-engine, user needs to create a `Managed Identity` first and after k8s cluster set up, assign `Contributor` role for current resource group, aks-engine cluster definition file is like following:

[code]

[2019-05-12 02:26] andyzhangx commented on #77
let's move to k8s v1.14.2 to fix this issue

[2019-05-12 12:47] andyzhangx commented on #25
/assign @tall49er
pls work on snapshot on azure disk driver first, thanks.

[2019-06-09 05:50] andyzhangx commented on #63
I have validated it works well on a RBAC enabled cluster

[2019-06-09 05:50] #63 closed

[2019-06-09 10:27] andyzhangx commented on #25
BTW, snapshot feature is still alpha in k8s v1.15.0, which means AKS 1.15.x could not use snapshot feature:
https://github.com/kubernetes/kubernetes/blob/5fe910191a6a1a64872e249c4c431b0169d763ed/pkg/features/kube_features.go#L553

[2019-06-10 08:53] andyzhangx commented on #25
/assign
I am working on this now: https://github.com/andyzhangx/azuredisk-csi-driver/tree/snapshot

[2019-06-11 08:25] andyzhangx opened #81 "add Pod Identity support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add support for [Pod Identity](https://github.com/Azure/aad-pod-identity) to enable finer grain scope of identity as an alternative to using the cluster’s identity.  We do see cases where Azure resources are closely associated with the cluster.  But we also see customers partitioni

[2019-06-11 08:36] andyzhangx opened #82 "remove azure.json dependency in node server"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently driver depends on azure.json(InstanceMetaData) to get availability zone:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/d4c3a6681bc3a9c38565d3d6adb3a39931395ca2/pkg/azuredisk/nodeserver.go#L299

Related PR: https://github.com/kubernetes-sigs/azuredisk-csi-dr

[2019-06-12 10:09] andyzhangx opened #84 "collect Prometheus metrics from this driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

This driver use the same azure cloud provider lib as built-in azure disk plugin, in the before, we collect Prometheus metrics from kube-controller-manager, need to figure out how to open a port and then collect Prometheus metrics

[code]

**Describe alternatives you've considered**

[2019-06-13 03:40] #25 closed

[2019-06-13 06:37] andyzhangx opened #86 "check zone support"
**What happened**:
I don't think zone is supported on current driver now:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/81900f30e195ae60b3ddd805d4304a4429105868/pkg/azuredisk/controllerserver.go#L114-L125

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`

[2019-06-13 06:44] andyzhangx commented on #46
[code]

[2019-06-13 06:46] andyzhangx commented on #55
need to upgrade to CSI v1.1.0 to support volume resize:
https://github.com/container-storage-interface/spec/releases/tag/v1.1.0

[2019-06-13 06:47] #38 closed

[2019-06-13 08:53] andyzhangx commented on #77
`release-1.14: Could not introduce k8s.io/kubernetes@release-1.14, as it is not allowed by constraint ^1.14.2 from project github.com/kubernetes-sigs/azuredisk-csi-driver.`

Let's switch to use v1.15.0 later.

[2019-06-16 13:00] #33 closed

[2019-06-17 14:21] andyzhangx commented on #23
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/97dbc298890be03cdf41e18db9512f0600a2af16
change 15s timeout value to 120s in the attacher component deployment script

[2019-06-18 06:41] andyzhangx commented on #29
fixed and verified in https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/88

[2019-06-18 06:41] #29 closed

[2019-06-18 06:57] andyzhangx opened #89 "csi topology support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently it's in beta stage, need to enable feature-gate topology as true first in provisioner from v1.14:
https://kubernetes-csi.github.io/docs/topology.html#csi-topology-feature

**Describe alternatives you've considered**

**Additional context**

[2019-06-18 06:59] andyzhangx commented on #27
raw block feature is beta in k8s v1.14:
https://kubernetes-csi.github.io/docs/raw-block.html
/remove-lifecycle stale

[2019-06-18 07:05] andyzhangx opened #90 "Enable snapshot backup/restore feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://kubernetes-csi.github.io/docs/external-snapshotter.html

With PRs(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/85 & https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/83), the snapshot functionality has been merge into master branch, next step is e

[2019-06-18 07:07] andyzhangx opened #91 "enable CSI livenessprobe"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://kubernetes-csi.github.io/docs/livenessprobe.html#csi-livenessprobe

**Describe alternatives you've considered**

**Additional context**

[2019-06-18 07:08] andyzhangx commented on #55
/remove-lifecycle stale

[2019-06-19 08:56] andyzhangx commented on #23
while this issue still exists in k8s v1.13.5:
[code]

[2019-06-27 06:59] #90 closed

[2019-06-28 13:08] andyzhangx opened #97 "backport CreateManagedDisk func into azure cloud provider"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/pkg/azuredisk/azuredisk.go#L233

**Describe alternatives you've considered**

**Additional context**

[2019-07-01 07:13] andyzhangx opened #99 "Make sure this driver works on OpenShift"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

This driver requires k8s v1.13.x, so need to make sure OpenShift supports v1.13.x first.

**Describe alternatives you've considered**

**Additional context**

[2019-07-03 08:27] andyzhangx commented on #23
As best practice, this timeout issue are related to two separate issues:
 - csi plugin in k/k: https://github.com/kubernetes/kubernetes/pull/79529
 - timeout setting in attacher side car, defualt value is 15s: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/db2f8c8eb760159a09d34102cfce380fb8322c75/deploy/csi-azuredisk-controller.yaml#L39

[2019-07-05 03:03] andyzhangx commented on #46
/assign @ZeroMagic

[2019-07-05 09:11] ZeroMagic commented on #84
I have implemented the feature. Please take a code review.

[2019-07-08 01:20] #84 closed

[2019-07-08 09:06] ZeroMagic commented on #46
/reopen

[2019-07-10 02:51] ZeroMagic commented on #46
/reopen

[2019-07-11 01:19] ZeroMagic commented on #46
/reopen

[2019-07-11 02:28] #46 closed

[2019-07-11 05:24] andyzhangx commented on #77
already fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/93

[2019-07-11 05:24] #77 closed

[2019-07-11 05:25] andyzhangx commented on #91
already fixed:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/020ffab85796618db1cb577cf405ae2c39dd2b0c/deploy/csi-azuredisk-controller.yaml#L69-L74

[2019-07-11 05:25] #91 closed

[2019-07-14 02:18] andyzhangx opened #126 "check how to skip one test sanity test failure in CI test"
**What happened**:
The azure disk volume mount test could not pass on CI since CI not is an on premise VM, need to check how to skip this test sanity test failure in CI test

[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
-

[2019-07-17 08:20] #126 closed

[2019-07-17 13:52] andyzhangx opened #128 "inline volume support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md

Need Generic Ephemeral Inline Volumes support which is only alpha state

**Describe alternatives you've conside

[2019-07-18 07:56] #32 closed

[2019-07-18 08:57] #42 closed

[2019-07-18 11:55] andyzhangx opened #129 "define reasonable CPU/memory for CSI driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently CPU/memory limit is not defined for CSI driver, need to provide a reasonable value for all CSI drivers

[code]

By `kubectl-enter <node-name>`, and then run `curl http://127.0.0.1:10255/stats/summary`, will get all CPU, memory usage of current csi driver, reference data:

[2019-07-18 14:02] #43 closed

[2019-08-05 12:41] andyzhangx opened #139 "add NodeGetVolumeStats support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetvolumestats

**Describe alternatives you've considered**

**Additional context**

[code]

compatible with original kubelet stats summary, reference data: https://github.com/kubernetes-sigs/azuredisk-csi-

[2019-08-05 13:12] andyzhangx opened #140 "fix e2e test failure"
**What happened**:
It will create a volume under `andy-ci` resource group anyway, I checked, in the start up of this driver, it will load `AZURE_CREDENTIAL_FILE` file, so finally all provisioning volume job are depending on the driver itself. Is this the side effect of excluing some e2e tests? @ZeroMagic
The correct behavior should be always leveraging the deployed CSI driver other than current dr

[2019-08-06 03:06] andyzhangx commented on #140
Below two failures are due to `azure.json` not consistent with kubeconfig:
[code]

[2019-08-07 02:04] andyzhangx opened #143 "update outdated helm installation doc"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The deployment scripts under https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/charts/azuredisk-csi-driver/templates is outdated, now all deployment are using master/agent mode, need to update

[code]

**Describe alternatives you've considered**

**Additional cont

[2019-08-07 02:10] andyzhangx opened #144 "support azure disk with partitions in disk mount"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

When use an existing azure disk(also called static provisioning) in pod, if that disk has partitions, it will fail in the mount process. Need to add a `partition` parameter in the driver parameter, and user could specify that parameter in PV creation.

**Describe alternatives you'v

[2019-08-07 02:13] andyzhangx opened #145 "Add node selector for linux node only"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Since this driver is not working no windows node now, need to add node selector for the following deployment file:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-azuredisk-controller.yaml
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/m

[2019-08-07 02:54] andyzhangx opened #146 "Add e2e test for snapshot feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/13424bda9b3137c06e10a9fb0eb75b152b638103/tests/e2e/dynamic_provisioning.go#L428

**Describe alternatives you've considered**

**Additional context**

[2019-08-07 03:13] andyzhangx opened #147 "Performance Test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Run a bunch of attach/detach volume test to one single node and check whether csi driver could handle this smoothly.

**Describe alternatives you've considered**

**Additional context**

[2019-08-07 03:52] andyzhangx opened #148 "Set priority class to system critical"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add priorityClassName: system-cluster-critical and priorityClassName: system-node-critical to controller and node YAMLs respectively

Make the driver high priority and less likely to be evicted

**Describe alternatives you've considered**

**Additional context**

[2019-08-08 03:36] ZeroMagic commented on #145
It has been added in AzureDisk, AzureFile and Blobfuse.

[2019-08-08 03:36] ZeroMagic commented on #145
/close

[2019-08-08 03:36] #145 closed

[2019-08-08 05:42] ZeroMagic commented on #148
Here we can get the detail about pod priority and preemption.
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

[2019-08-08 05:50] ZeroMagic commented on #148
/assign

[2019-08-08 08:55] #143 closed

[2019-08-08 09:13] #148 closed

[2019-08-09 06:17] ZeroMagic commented on #144
/assign

[2019-08-12 05:47] andyzhangx opened #152 "add snapshot feature doc"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

Currently snapshot feature is already merged in v0.3.0, while need a doc about this
https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/snapshot

could create a doc under `snapshot.doc` under:
https://githu

[2019-08-12 05:56] andyzhangx opened #153 "Add docs for Volume Cloning feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

Volume Cloning feature is alpha in v1.15: https://kubernetes-csi.github.io/docs/volume-cloning.html
In driver v0.3.0, we already added volume cloning feature: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/0deb537f201a37617

[2019-08-13 03:29] andyzhangx commented on #24
/assign @ZeroMagic
Could you take an investigation? Thanks.

[2019-08-13 03:29] #27 closed

[2019-08-13 03:31] #144 closed

[2019-08-13 05:27] ZeroMagic commented on #24
Ok. I will.

[2019-08-17 08:52] #6 closed

[2019-08-20 07:59] andyzhangx opened #159 "Test CSI migration functionality from in-tree driver to CSI driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

design doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md

**Describe alternatives you've considered**

**Additional context**

[2019-08-20 08:07] andyzhangx commented on #159
related PR:
 - https://github.com/kubernetes/kubernetes/pull/81633
 - https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/158

[2019-08-29 12:41] #152 closed

[2019-09-01 03:26] andyzhangx commented on #45
you could refer to https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190714-windows-csi-support.md
/assign @kkmsft

[2019-09-03 07:47] andyzhangx opened #161 "add in-tree driver e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

original e2e test is based on driver name(`disk.csi.azure.com`), it is possible that we change driver name to `kubernetes.io/azure-disk`(may make a new parameter) to run in-tree driver e2e test:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/5005b8c8eae5809b1dfc5a1681d

[2019-09-05 03:16] andyzhangx commented on #86
support zone feature like following:
[code]

[2019-09-06 08:19] feiskyer commented on #45
/cc @ritazh for Windows CSI support

[2019-09-09 06:24] ZeroMagic commented on #140
Currently, we could not use just only one file to work on an AKS cluster. So We will still use` azure.json` in e2e test

/close

[2019-09-09 06:24] #140 closed

[2019-09-12 05:59] #24 closed

[2019-09-24 14:04] tarokkk opened #164 "Error creating new PVC (using MSI)"
**What happened**:

Timeout waiting when provisioning

**What you expected to happen**:

Provision PVC

**How to reproduce it**:

1. Install https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md
2. Try to provision PVC

**Anything else we need to know?**:

Error log from `azuredisk`

[code]

**Environment**:
- CSI Driver version: latest
- Kubernetes

[2019-09-24 14:18] andyzhangx commented on #164
Have you set up an `azure.json` file on your agent node?
could your provide the complete logs of `csi-azuredisk-controller-xxx`, I would like to check whether you have set `azure.json` correctly.

[2019-09-24 14:47] tarokkk commented on #164
Yes I put `azure.json` in place like with the legacy controller.
[code]

azuredisk init
[code]

csi-provisioner
[code]
cluster-driver-registrar
[code]

csi-snapshotter
[code]

csi-attacher
[code]

[2019-09-24 14:57] andyzhangx commented on #164
Could you check the `activity logs` under that resource group? I am not sure whether your MSI credential could create an azure disk under that resource group.
[code]

[2019-09-24 15:12] tarokkk commented on #164
The auth settings are good. I installed azure cli and created a disk via identity provider:
[code]

[2019-09-25 13:53] tarokkk commented on #164
I tried to debug a bit more and after compiling and running developer mode:
[code]
Creating a Disk with this command succeeded
[code]

Is there any difference between how this tool interact (e.g: parameters) with the server?

[2019-09-25 14:01] andyzhangx commented on #164
in your current debugging env, azure disk driver is running as a process in VM, while CSI driver runs inside a container, that's the difference.
cc @ZeroMagic do you have time to take a look, thanks.

[2019-09-25 14:05] andyzhangx commented on #164
To make this driver work in a MSI enabled cluster, pls make sure the agent nodes should have `Contributor` role of current resource group

[2019-09-25 14:29] tarokkk commented on #164
It seems like we have some infrastructure issue where some of our Pods are unable to reach the internet. I'll check this and get back to you.

[2019-10-01 19:24] chewong opened #167 "Integrate e2e test with kubernetes/test-infra"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

/kind test

[2019-10-02 13:23] tarokkk commented on #164
It was Infrastructure error in the end! Sorry for the hold up it is working like charm now!

[2019-10-02 13:23] #164 closed

[2019-10-02 13:32] andyzhangx commented on #164
thanks for let me know, it shows that this driver is working well using MSI, thanks.

[2019-10-02 13:33] andyzhangx commented on #78
case https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/164 shows that this driver works well using MSI

[2019-10-02 13:33] #78 closed

[2019-10-03 01:30] chewong opened #168 "Timeout from IMDS when attaching / detaching disk"
**What happened**:
Timeout from IMDS when invoking AttachDisk/DetachDisk from [`azure_controller_common.go`](https://github.com/kubernetes/legacy-cloud-providers/blob/master/azure/azure_controller_common.go)
[code]
**What you expected to happen**:
No timeout from IMDS

**How to reproduce it**:
- Create a Linux cluster using aks-engine with the following configuration:
[code]
- Follow [this](https:

[2019-10-07 01:27] #168 closed

[2019-10-15 03:21] #167 closed

[2019-10-15 20:14] kkmsft commented on #45
/cc

[2019-11-02 15:05] andyzhangx commented on #82
update:
if there is get vm size list failure, it will invoke `VirtualMachineSizesClient.List` API every second:
[code]

[2019-11-04 06:59] andyzhangx commented on #128
/assign @Masquerade0097

[2019-11-04 07:15] andyzhangx opened #177 "Enable leader election for controller service"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

To improve availability of controller service when it is being restarted or rescheduled. We should support leader election for controller service.

After this we could switch to use deployment for controller service instead of stateful set.

**Describe alternatives you've considere

[2019-11-04 07:41] andyzhangx opened #178 "Support for tags parameter"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Add `tags` parameter

[code]
 - original tags are not passed to azure disk creation
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/fa390ebf23e26f37f835f41ea2aceb50d5aabd2c/pkg/azuredisk/controllerserver.go#L172-L176

orginal in-tree driver code:
https://github.com/kub

[2019-11-04 07:56] andyzhangx commented on #139
/assign @Masquerade0097

[2019-11-04 14:27] andyzhangx opened #179 "add e2e zone test case"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/176) added zone support, need to add e2e test for this feature.

**Describe alternatives you've considered**

**Additional context**

[2019-11-04 16:58] chewong commented on #179
/assign

[2019-11-06 08:31] celiawa opened #183 "The volume created without zone"
Hi Experts,

I'm using azuredisk csi v0.4.0, csi-provisioner:v1.0.1 and csi-attacher:v1.0.1  . After deployed the azuredisk csi in my k8s cluster.

[root@celia-control-01 ~]# kubectl get po -n kube-system|grep csi
csi-azuredisk-controller-69df6d5d8-mg6h4   6/6     Running   0          23m
csi-azuredisk-node-hrr94                   3/3     Running   0          87m
csi-azuredisk-node-pwl6w

[2019-11-06 09:50] andyzhangx commented on #72
while go module requires only one lib version, sometimes there would be issue since different libs may depends on two same libs with different versions, we hit such issue before

[2019-11-06 10:53] andyzhangx commented on #183
hi @celiawa we are still working on zone support: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/176, target supported version: `v0.5.0`

[2019-11-07 01:30] celiawa commented on #183
@andyzhangx , thanks a lot your quick response. Could you share the schedule of v0.5.0, when it will be delivered.

[2019-11-07 02:06] andyzhangx commented on #183
@celiawa  we will publish v0.5.0 when zone support is done. Is zone support a must for you? You may try non-zone  cluster now.

[2019-11-07 03:22] celiawa commented on #183
@andyzhangx I'm trying to deploy a non-zone cluster. We used in-tree driver and supported node in multi-zone in our last release. So we want to support multi zone also after we change to out tree driver. If currently out-tree not support zone, we have to use non-zone instead.

[2019-11-10 07:15] ZeroMagic commented on #55
/assign

[2019-11-12 00:41] andyzhangx commented on #161
/assign @kkmsft

[2019-11-12 00:45] andyzhangx commented on #161
cc @ritazh we leverage our CSI e2e tests , and add into our in-tree driver e2e tests, make it automatically run in k/k.

[2019-11-13 18:58] andyzhangx opened #189 "Azure disk driver test cases summary"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

## unit tests
tests to add:
   - [x] [add windows build test](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/217)
   - [ ] [regression unit tests addressing azure disk dirty cache issue](https://github.com/kubernetes/kubernetes/issues/85160)

note:
since azure disk

[2019-11-14 02:36] kkmsft commented on #161
/assign

[2019-11-15 18:14] #161 closed

[2019-11-19 13:00] ZeroMagic commented on #55
/remove-lifecycle rotten

[2019-11-19 18:25] #55 closed

[2019-11-20 05:47] celiawa opened #192 "Failed to create PV when CSI Migration feature for azureDisk enabled."
**What happened**:
I'm using azuredisk csi 0.4.0 and kubernetes version 1.16.1.
After enable CSIMigration and CSIMigrationAzureDisk according document in https://kubernetes.io/docs/concepts/storage/volumes/#azuredisk

When create a pvc reference the in-tree storageclass, from kube-controller-manager log, the volume is to create with the out-tree provisioner.
I1120 05:41:26.682985       1 event.go:

[2019-11-20 08:43] andyzhangx commented on #153
could you take a look? @ZeroMagic

[2019-11-20 08:47] ZeroMagic commented on #153
ok, I will check it.

[2019-11-20 08:48] ZeroMagic commented on #153
/remove-lifecycle stale

[2019-11-20 08:51] ZeroMagic commented on #153
/assign

[2019-11-20 18:06] andyzhangx opened #193 "add azure disk encryption(SSE+CMK) support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes/kubernetes/pull/84605) brings BYOK support for in-tree azure disk driver, also need to add support for azure disk CSI driver.

**Describe alternatives you've considered**

**Additional context**

[2019-11-20 18:19] andyzhangx opened #194 "implement migration test from in-tree driver to CSI driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

depends on https://github.com/kubernetes/kubernetes/pull/88014, which is going to be merged in 1.17.x, and 1.18.0

**Describe alternatives you've considered**

**Additional context**

[2019-11-21 06:36] ZeroMagic commented on #153
Currently, the driver just uses snapshotID as SourceResourceID. So actually it does not support `volume cloning` feature.
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/8d06e40/pkg/azuredisk/controllerserver.go#L185-L202
I will fix it and add docs as soon as possible.

[2019-11-25 06:45] andyzhangx commented on #128
1.16 is already supported by aks-engine, I think you could set up an aks-engine cluster to verify that

[2019-11-25 06:50] andyzhangx commented on #192
hi @celiawa, the migration work for azure disk csi driver is still on going, we are targeting to make it as work in 1.18

[2019-11-26 01:45] celiawa commented on #192
okay, thanks for your response, then we'll not enable the migration feature gate.

[2019-11-27 03:17] ZeroMagic opened #197 "Sync the values in helm charts to those in deploy"
**What happened**:
The args in the helm are not the same with those in deploy.

**What you expected to happen**:
We should keep these values consistent, such as timeout, images version.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- I

[2019-11-27 03:17] ZeroMagic commented on #197
/assgin

[2019-11-27 03:17] ZeroMagic commented on #197
/assign

[2019-11-27 07:47] andyzhangx commented on #86
/assign

[2019-11-27 07:48] #23 closed

[2019-11-27 08:29] andyzhangx opened #198 "Add mount options e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

add `mountOptions` to existing case:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/23e97d4fc3756eb51274c3024ad076d463f4338a/test/e2e/dynamic_provisioning.go#L50-L57

azure disk mountOptions reference:
https://github.com/andyzhangx/demo/blob/master/pv/storageclass-azure

[2019-11-27 11:28] andyzhangx opened #199 "incremental snapshot support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Current snapshot is full snapshot, incremental snapshot is in Preview, we should support that in near future.

https://azure.microsoft.com/en-us/blog/introducing-cost-effective-increment-snapshots-of-azure-managed-disks-in-preview/
https://github.com/Azure-Samples/managed-disks-dotne

[2019-11-27 12:22] andyzhangx commented on #128
if it's supported, then need to add one e2e test

[2019-11-27 12:38] andyzhangx opened #201 "resize feature"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

With https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/186, resize feature is not completed, there are a few work items:
 - implement `NodeExpandVolume()` function
 - add `external-resizer` in deployment
 - add doc for resize feature
 - add e2e test

**Describe alternative

[2019-11-27 12:42] andyzhangx opened #202 "Patch sidecars for CVE-2019-11255"
**What happened**:
check https://github.com/kubernetes/kubernetes/issues/85233 for details

Longer term, upgrade your CSI driver with patched versions of the affected sidecars. Fixes are available in the following sidecar versions:

external-provisioner:
v0.4.3
v1.0.2
v1.2.2
v1.3.1
v1.4.0

external-snapshotter:
v0.4.2
v1.0.2
v1.2.2

external-resizer
v0.3.0

**What you expected to happen**:

**How

[2019-11-27 12:43] ZeroMagic commented on #201
When a disk is attached to a VM, it can not be expanded. So NodeExpandVolume() does not need to be implemented.

[2019-11-27 12:54] andyzhangx commented on #201
expand size could only succeed when disk is in unattached state, at that time, ControllerExpand will happen first and finally `resizefs.NewResizeFs` should happen in `NodeExpandVolume`, otherwise the resized disk could not be recognized on the node.

[2019-11-27 12:59] andyzhangx opened #203 "keep helm chart in sync with deploy manifest"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Now we have deployment manifests: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy and also chart config: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/charts/latest/azuredisk-csi-driver/templates
need to figure out how to maintain on

[2019-11-27 15:01] ZeroMagic commented on #128
The feature is not supported. We need to implement it in `func NodePublishVolume()`.

[2019-11-27 15:03] ZeroMagic commented on #128
/kind feature

[2019-11-28 06:57] #153 closed

[2019-11-28 09:06] #99 closed

[2019-11-29 03:21] celiawa opened #205 "Set the maximum number of volumes that can be attached to a node"
Hi Experts:

For in-tree azure plugin,  can change the limit of the number of volumes attached to a node by setting the value of the KUBE_MAX_PD_VOLS environment variable, and then starting the scheduler. Refer to https://kubernetes.io/docs/concepts/storage/storage-limits/#custom-limits

For out-tree azure csi plugin, do we have such config for this limitation and how. If not which release it will

[2019-11-29 03:33] andyzhangx commented on #205
that's a good question, we don't support this config in CSI driver now.
Currently we get max data disk count by:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/ad935c61c522a90d967ca8d3ba17db94c403ca5b/pkg/azuredisk/nodeserver.go#L315-L317
By default, max data disk count is 16:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/ad935c61c522a90d967ca8d3ba17db94c403ca5b/pkg/az

[2019-11-29 03:36] andyzhangx commented on #205
so if csi driver could get max data disk count correctly, do you still need to set this `KUBE_MAX_PD_VOLS` env? @celiawa

[2019-11-29 05:42] celiawa commented on #205
From this link (https://kubernetes.io/docs/concepts/storage/storage-limits/#custom-limits) KUBE_MAX_PD_VOLS  is just for AWS EBS or GCP Persistent disks in-tree plugins. If we use out-tree csi the config will useless.

[2019-11-29 07:03] andyzhangx commented on #205
csi driver could get correct max data disk count now, is it ok to close this issue? @celiawa

[2019-12-01 01:10] #205 closed

[2019-12-01 01:25] andyzhangx opened #206 "Add more e2e test cases"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add following e2e cases:
 - should create multiple PV objects, bind to PVCs and attach all to a single pod
refer to  https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/13424bda9b3137c06e10a9fb0eb75b152b638103/tests/e2e/dynamic_provisioning.go#L138
 - should create a raw blo

[2019-12-03 03:26] #89 closed

[2019-12-04 13:37] andyzhangx opened #208 "migrate quay images to mcr"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Below are the image list:
[code]

**Describe alternatives you've considered**

**Additional context**

[2019-12-04 16:52] chewong commented on #203
I can work on this.
/assign

[2019-12-04 16:53] chewong commented on #206
I can work on this.
/assign

[2019-12-04 16:54] chewong commented on #198
I can work on this.
/assign

[2019-12-05 00:07] chewong commented on #179
/close via https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/180

[2019-12-05 00:07] #179 closed

[2019-12-05 00:27] chewong commented on #146
/assign

[2019-12-05 02:00] #203 closed

[2019-12-05 02:00] #197 closed

[2019-12-06 19:50] joekottke opened #212 "Cannot mount managed disk on Standard_DC4s/DC2s instances"
**What happened**:
I'm trying to mount a managed disk into a Pod running on a `Standard_DC4s` instance, via PVC and automatic provisioning. The PVC and PV are created, the disk is provisioned, and the disk is attached to the machine (I can see it as `/dev/sdc` and can even get output from `sudo fdisk -l /dev/sdc`, but the the Pod never initializes, and results in this error:

[code]
I am using nod

[2019-12-06 19:56] joekottke commented on #212
Also discovered this with the in-tree `azureDisk` driver.  I was able to diagnose better with the CSI driver, but I bet this issue exists in both codebases.

[2019-12-06 23:16] joekottke commented on #212
One more thing.  It looks like the disk gets attached at `1:0:0:0` in `/sys/bus/scsi/devices`:

[code]
[code]
And the code in `azure_common_linux.go` assumes that when `target <= 3` is it most likely a system/os disk.  So that seems to be my issue (I think)

[2019-12-07 00:02] joekottke commented on #212
I have a _very_ rudimentary workaround (that probably only just works for me, and probably is destructive elsewhere) [in this branch](https://github.com/joekottke/azuredisk-csi-driver/tree/standard_dc4s_workaround)

[2019-12-07 01:57] andyzhangx commented on #212
@joekottke thanks for reporting this issue, it's quite detailed and obvious that current in-tree and csi azure disk driver does not work on Standard_DC series VM, I will make a PR per your instructions, thanks!

[2019-12-08 13:15] ZeroMagic opened #214 "topology value collision"
**What happened**:
When I used [the yaml files of master branch](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md#installation-with-kubectl), there was something wrong with csi-azuredisk-node.

[code]

**What you expected to happen**:
It should be deployed successfully. What's more, it seems to be nothing abnormal in our CI environment.

**How t

[2019-12-08 13:24] andyzhangx commented on #214
since you are using non-zone cluster, the correct node label should be `"topology.disk.csi.azure.com/zone":""`, how did you get label no the node: "topology.disk.csi.azure.com/zone":"0"?

is it caused by old driver which set the `"topology.disk.csi.azure.com/zone":"0"` label on the node, and that's incorrect.

Did you try on a fresh cluster?

[2019-12-08 13:56] ZeroMagic commented on #214
Oh, it works on a fresh cluster.

It does exist the label `topology.disk.csi.azure.com/zone":"0"` on the node. It is so strange that I did nothing with the label when developing.

[2019-12-08 13:56] #214 closed

[2019-12-08 14:06] andyzhangx commented on #214
I think it was caused by one master version, anyway it's fixed now.

[2019-12-09 22:31] chewong commented on #147
/assign

[2019-12-10 10:33] #201 closed

[2019-12-10 14:34] andyzhangx opened #217 "add windows build test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Add windows build test

[code]

could refer to https://github.com/kubernetes/test-infra/blob/5742c4353ae50eaecf4c1b4418d3b323c76b18b1/config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml#L3-L21

**Describe alternatives you've considered**

**Additional co

[2019-12-10 14:40] andyzhangx opened #218 "add e2e test for volume expansion feature"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/215 added volume expansion feature, need to add e2e test for this feature.

**Describe alternatives you've considered**

**Additional context**

[2019-12-10 18:19] #198 closed

[2019-12-10 18:19] #206 closed

[2019-12-10 18:19] #146 closed

[2019-12-11 10:40] andyzhangx opened #219 "add static provision e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-azuredisk-static-provisioninguse-an-existing-azure-disk

**Describe alternatives you've considered**

**Additional context**

[2019-12-13 11:04] bcho commented on #177
@andyzhangx Hi, I can help with this issue, can you assign it to me? I will give the plan of changes in the next few days. Thanks!

[2019-12-13 14:44] andyzhangx opened #221 "add disk detach e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

We only have disk attach e2e test, also need to make sure after pod deleted, disk is in unattached state

**Describe alternatives you've considered**

**Additional context**

[2019-12-13 15:44] kkmsft commented on #45
/assign @kkmsft

[2019-12-17 06:27] kdanW commented on #189
@andyzhangx I see these issues listed in the project under the community bridge program (https://github.com/cncf/soc/tree/master/communitybridge#participating-projects). Do you have any information on what exactly to be done and what can I start with as good first issues?
I am familiar with Kubernetes but not with core Kubernetes code base. If this project is not assigned to anybody I would like t

[2019-12-17 06:34] andyzhangx commented on #189
hi @kdanW this is a summary issue, I think you could fix other issues, here is the list: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2019-12-17 06:42] kdanW commented on #189
hi @andyzhangx. I am a little confused about the project. Is it to fix the issues given in the above link? If not, what is the project?
If it is required to create a project proposal, can i have some more information? Is there anyway to contact a mentor on the Slack channel or any other media?

[2019-12-17 06:47] andyzhangx commented on #189
@kdanW I see, you found this project by CNCF program. There is already a student working on this project now. My contact: slack: andyzhang @kubernetes

[2019-12-17 11:40] kdanW commented on #189
oh alright @andyzhangx . Do you have any other projects in community bridge under Kubernetes?

[2019-12-17 12:45] andyzhangx commented on #189
@kdanW sorry, I only have this one.

[2019-12-17 16:34] kdanW commented on #189
No problem. Thanks

[2019-12-17 16:51] aramase commented on #221
/assign

[2019-12-18 18:27] prksu commented on #219
@andyzhangx can i take this one?

[2019-12-18 19:41] tilnl commented on #202
/assign

[2019-12-18 19:41] tilnl commented on #208
/assign

[2019-12-19 08:31] bcho commented on #177
@andyzhangx The `csi-provisioner` / `csi-attacher` / `csi-snapshotter` have [builtin leader election support](https://github.com/kubernetes-csi/external-provisioner#command-line-options), can we just enable leader election in these containers?

[2019-12-19 08:32] bcho commented on #177
I made a draft pr in #224, please have a look @andyzhangx

[2019-12-23 22:26] joekottke commented on #212
@andyzhangx Have you made any progress on this issue?  My fix works for me, so I'm not in any great hurry, but I would rather have a fix that is part of the main source.

[2019-12-24 09:05] levimm commented on #217
/assign

[2019-12-24 09:05] levimm commented on #217
pr here: https://github.com/kubernetes/test-infra/pull/15686

[2019-12-24 12:48] andyzhangx commented on #217
@levimm could you add same build test on azure file driver? thanks.

[2019-12-24 12:48] #217 closed

[2019-12-25 03:18] levimm commented on #219
/assign

[2019-12-25 11:39] #212 closed

[2019-12-25 13:45] andyzhangx commented on #212
@joekottke already fixed this issue on master branch now, you could try the image: `mcr.microsoft.com/k8s/csi/azuredisk-csi:v0.5.0`

[2019-12-27 02:04] gossion commented on #178
/assign

[2019-12-27 03:28] gossion commented on #178
comparing the disks created by in-tree driver, the disks created by csi lost some tags:
[code]
Also need to add these tags back

[2019-12-27 03:59] bcho commented on #218
@andyzhangx  I want to help with this issue, can you assign to me, thanks!

[2019-12-27 04:06] stcheng commented on #218
@bcho hi, i've already started working on this. /assign stcheng

[2019-12-27 04:07] stcheng commented on #218
/assign stcheng

[2019-12-27 04:08] andyzhangx commented on #218
thanks, btw, the volume expansion can only be done when disk is in "unattached" state, that's a limitaion from azure disk, azure disk team are planning to support disk on the fly in the future.

[2019-12-27 05:42] andyzhangx commented on #97
depend on this PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/228

[2019-12-28 02:52] andyzhangx opened #232 "reenable snapshot e2e test"
**What happened**:
Have to disable snapshot e2e test in PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/231 since snapshot e2e test depends on k8s 1.14 while this driver needs to use k8s 1.17.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):

[2019-12-29 02:00] ZeroMagic commented on #199
/assign

[2019-12-30 06:51] andyzhangx commented on #232
not necessary now since snapshot e2e test is not disabled

[2019-12-30 06:51] #232 closed

[2019-12-30 06:56] andyzhangx opened #238 "add statefulset e2e test cases"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Add following e2e cases which is more similar to real e2e scenarios:
 - run a statefulset which has one pod with disk mount
 - delete the only pod and new pod will be scheduled on the same node
 - wait for pod status as `Running`
 - if it's not in `Running` state for about 10min, the

[2019-12-30 07:37] andyzhangx opened #239 "fix golint error"
**What happened**:
Current `erify-golint.sh` does not work while it always worked before 12/30/2019, not sure what happened.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Oth

[2019-12-30 08:30] bcho commented on #239
Looks like the tool cannot read the `azurediskDriver` symbol from [suite_test.go](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c4c585cc12eff40c3a70ba4070638e45319f0f27/test/e2e/suite_test.go#L48)

[2019-12-30 08:31] bcho commented on #239
I will have a look on this @andyzhangx

/assign @bcho

[2019-12-30 08:33] andyzhangx commented on #239
thanks, point is it always worked in the before, while just today it does not work.

[2019-12-30 08:35] bcho commented on #239
Yep, looks like it's because the changes in golang-ci-lint, one quick fix is to rename `dynamic_provisioning.go` to `dynamic_provisioning_test.go` and this will make the lint tool works again. I will figure out what changes in the tool cause it.

[2019-12-30 08:43] bcho commented on #239
I think this lint issue is always here ([previous build log](https://source.cloud.google.com/results/invocations/17403309-8534-438b-aa87-8716207cc4a5/targets/test/log)):

[code]

But there is [an issue](https://github.com/golangci/golangci-lint/issues/451) in `golangci-lint`, which cause this lint error did not raise properly. And today's release of `golangci-lint` fixed this issue (per https://gi

[2019-12-30 12:51] #239 closed

[2019-12-30 15:25] chewong commented on #238
/assign

[2019-12-31 12:25] andyzhangx commented on #202
the remaining issue is that cannot upgrade to `csi-snapshotter:v1.2.2`, it would make snapshot e2e test failure, current version `csi-snapshotter:v1.1.0`
cc @ZeroMagic

[2019-12-31 12:42] andyzhangx commented on #208
`mcr.microsoft.com/oss/kubernetes-csi/cluster-driver-registrar` is mistakenly pulled as `csi-attacher` image, image repo is wrong,  @jchauncey could you fix this? thanks.

[code]

[code]

[2019-12-31 16:24] jchauncey commented on #208
@andyzhangx  try it now

[2019-12-31 19:35] xizhamsft commented on #129
/assign

[2020-01-01 04:58] #208 closed

[2020-01-04 08:25] andyzhangx opened #246 "add driver pod restart check in e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

could add a pod restart check in e2e test, to make sure there is no pod restart during e2e test, if there is pod restart, e2e test should fail

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/utils/azuredisk_log.sh#L9

[code]

**Describe alternatives you've c

[2020-01-06 12:53] andyzhangx commented on #183
zone feature is supported by https://github.com/kubernetes-sigs/azuredisk-csi-driver/releases/tag/v0.5.0

[2020-01-06 12:53] #183 closed

[2020-01-06 12:54] andyzhangx commented on #86
zone feature is supported by https://github.com/kubernetes-sigs/azuredisk-csi-driver/releases/tag/v0.5.0
more details: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/topology

[2020-01-06 12:54] #86 closed

[2020-01-07 01:17] ibalajiarun opened #249 "Attach volume failed. instance not found (doc issue)"
**What happened**:
I spun up my own kubernetes cluster (with k3s.io) on Azure VMs and installed the azuredisk-csi-driver.

**What you expected to happen**:
I hoped this will be straightforward, but apparently not. After running through the steps in [e2e_usage.md](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/e2e_usage.md), I get the following error on the nginx

[2020-01-07 01:56] ibalajiarun commented on #249
Okay, I tried a little bit more with success. Turns out providing the resource group does the trick. Below is the updated azure.json file I used:
[code]

Now, the volume mounts successfully and I am able to tail the date appended to the file. But, the pod reports another warning:

[code]

I have no disk named azuredisk01, so I am wondering what the problem is. I am not sure about the implications.

[2020-01-07 02:13] ibalajiarun commented on #249
I was wrong that there is no disk named azuredisk01. azuredisk01 is the volume name of the pvc-azuredisk. But if the kubelet complains it failed to mount, how is it mounted on the pod? Is it just a transient error?

[2020-01-08 01:18] andyzhangx commented on #238
could refer to https://github.com/kubernetes-sigs/cloud-provider-azure/blob/fb507c32b206a110f4c8bbf4316c7417101ce3ef/tests/e2e/autoscaling/autoscaler.go#L156

[2020-01-08 03:56] andyzhangx commented on #249
@ibalajiarun kubelet also requires `/etc/kubernetes/azure.json` file, see config here:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/19054ed12171b843bb9a13a9f7e9a4c9615d616c/deploy/csi-azuredisk-node.yaml#L84

[2020-01-08 04:01] andyzhangx commented on #177
this feature is already in v0.5.0 release

[2020-01-08 04:01] #177 closed

[2020-01-09 08:33] ZeroMagic opened #251 "Change CSIDriver from alpha to beta during deploying"
**Is your feature request related to a problem?/Why is this needed**

Currently, azuredisk uses alpha CSIDriver to deploy. But inline feature needs beta CSIDriver to specify volumeLifecycleModes and podInfoOnMount.

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-01-09 12:59] #251 closed

[2020-01-12 04:24] andyzhangx commented on #249
let me know if you have any question.

[2020-01-12 04:24] #249 closed

[2020-01-12 04:33] andyzhangx commented on #193
already added in release v0.5.0

[2020-01-12 04:33] #193 closed

[2020-01-12 05:21] andyzhangx opened #253 "add a negative mountOptions e2e case"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Following e2e test case is positive mountOptions e2e case, need to add a negative mountOptions e2e case, when mountOptions is invalid, pod mount with volume should fail:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/5aece8cc2fab75d0727974a9eef47200eca12c09/test/e2e/dyn

[2020-01-16 00:50] ibalajiarun commented on #249
@andyzhangx It's not clear yet. Every node has the `/etc/kubernetes/azure.json` file and I am applying the `csi-azuredisk-node.yaml` manifest file to the cluster. What else do I need to do?

[2020-01-16 03:06] andyzhangx commented on #249
@ibalajiarun that's all, is there any issue now?
follow steps here:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-v0.5.0.md

[2020-01-17 04:12] andyzhangx opened #256 "add MSI e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

`pull-azuredisk-csi-driver-e2e-single-az` actually it's on vmas using service principal, we could switch to vmas + MSI config

reference:
 - https://github.com/Azure/aks-engine/blob/master/examples/kubernetes-msi-userassigned/kube-vma.json
- https://github.com/Azure/aks-engine/blob/m

[2020-01-17 04:40] andyzhangx opened #257 "add windows integration & e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Currently we only have windows build test, and we need to add windows integration test and e2e test. Windows e2e test requires csi driver on Windows ready, and we could now add windows integration test first, below is linux integration test, need to add a window cmd based integration

[2020-01-17 04:50] andyzhangx commented on #97
already fixed in v0.5.0

[2020-01-17 04:50] #97 closed

[2020-01-17 05:41] ZeroMagic commented on #246
/assgin

[2020-01-17 06:56] ZeroMagic commented on #246
@andyzhangx  do we only check the driver-related pods or all pods in kube-system namespace?

[2020-01-17 06:58] andyzhangx commented on #246
only check driver-related pods

[2020-01-19 13:48] andyzhangx opened #259 "fix broken Coverage and FOSSA Status"
**What happened**:
[![Coverage Status](https://coveralls.io/repos/github/kubernetes-sigs/azuredisk-csi-driver/badge.svg?branch=master)](https://coveralls.io/github/kubernetes-sigs/azuredisk-csi-driver?branch=master)
[![FOSSA Status](https://app.fossa.io/api/projects/git%2Bgithub.com%2Fkubernetes-sigs%2Fazuredisk-csi-driver.svg?type=shield)](https://app.fossa.io/projects/git%2Bgithub.com%2Fkubernet

[2020-01-21 18:03] chewong commented on #238
We already have a similar test case - https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/e2e/dynamic_provisioning_test.go#L214-L237. It creates a deployment, deletes the pod, waits for the pod to be scheduled again, and validate the disk attached to the pod. Should we add a similar test case to statefulset?

[2020-01-21 19:48] chewong commented on #257
I think currently test-infra only supports Linux containers, so it wouldn't be possible to run windows binary execution test. We could use other CI system like Travis to test windows-related stuff.

[2020-01-22 04:11] andyzhangx commented on #257
@chewong I have added you as admin of this project, could you explore on that, it's ok to use other CI. Thanks.

[2020-01-22 04:16] andyzhangx commented on #238
yes, we should, title modified. Thanks.

[2020-01-22 07:11] andyzhangx opened #262 "azure disk driver migration go BETA"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

azure disk & file won't go BETA on 1.18 since there is dependency on csi windows, if we go beta, that means all requests for built-in driver would be redirected to csi driver, while csi driver does not work on Windows, that will break azure disk & file driver on Windows
https://githu

[2020-01-23 07:56] #246 closed

[2020-01-23 09:42] #259 closed

[2020-01-24 02:40] andyzhangx opened #267 "Add an AAD enabled e2e test config"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/266
add to existing `test/e2e/manifest/multi-az.json`

**Describe alternatives you've considered**

**Additional context**

cc @weinong

[2020-01-24 06:20] #256 closed

[2020-01-27 03:20] andyzhangx opened #268 "Unit Test for ensureMountPoint func"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

write Unit Test for `ensureMountPoint` func

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/711476a88fdfc0c6c857d9aef1067f01b4da3b26/pkg/azuredisk/nodeserver.go#L394

**Describe alternatives you've considered**

**Additional context**

[2020-01-27 06:37] kosta709 opened #269 "Waiting for ControllerAttachDetach takes too much time and can fail on 2m kubelet timeout"
**What happened**:
Pod with PVC stays on ContainerCreating too long time and can fail
**What you expected to happen**:
Attach/detach should take less than 30s and should be stable
**How to reproduce it**:
submit pods with volumes azuredisk-csi pvc like this https://github.com/kosta709/azure-csi-azure/tree/master/csi-examples.

**Anything else we need to know?**:
 Provisioner creates disk and PVC i

[2020-01-27 12:47] andyzhangx commented on #268
/assign @ZeroMagic

[2020-01-27 14:55] andyzhangx commented on #269
@kosta709 thanks, we are investigating this issue, will update this thread when there is new finding.

[2020-02-03 07:40] kosta709 commented on #269
Hello
Any progress?

[2020-02-05 02:45] andyzhangx commented on #269
hi @kosta709 azure disk team is working on this work item to reduce the disk attach time, the target is 5s, and target date is around middle of this year, will keep you posted when there is progress on this issue, thanks.

[2020-02-05 02:49] andyzhangx opened #273 "Support resizing attached azure disk"
**Is your feature request related to a problem? Please describe.**

Azure disk could not be resized when it's in "attached" state, we could only resize azure disk when it's in "unattached" state.

**Describe the solution you'd like in detail**

available from `v1.11.0`, details: [Add azuredisk PV size grow feature](https://github.com/kubernetes/kubernetes/pull/64386)

example:
 - [azuredisk storag

[2020-02-06 03:44] duanwei33 opened #274 "PV did not be created using CSI driver using MSI"
**What happened**:
Hi, I'm new for CSI driver, not sure it is an issue or I missed something. Thanks in advance for any help.
I have k8s cluster on azure and try azure-disk CSI driver on it. After deploying drive successfully (csi-azuredisk-controller and csi-azuredisk-node are running), I created sc and pvc, but volume provided failed with following message: "_failed to provision volume with Stor

[2020-02-06 03:53] andyzhangx commented on #274
this issue is fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/271, could you workaround by:
[code]

When that fix is merged, it should work well on MSI enabled cluster, thanks.

[2020-02-06 03:56] andyzhangx commented on #274
More simpler workaround:
[code]

[2020-02-06 05:52] duanwei33 commented on #274
Thanks a lot, will try and back to you later. @andyzhangx

[2020-02-06 06:12] duanwei33 commented on #274
It works, we can see the procedure from the log, thanks again.
This issue can be closed.

[2020-02-06 06:14] andyzhangx commented on #274
thanks for confirming, when PR #271 is merged, this issue will be closed automatically.

[2020-02-06 11:37] duanwei33 opened #275 "Cannot create PVC with volumesnapshot"
**What happened**:
Step:
1. Install azuredisk-csi-driver successfully (#274)
2. create pvc successfully
3. create volumesnapshot/volumesnapshotcontents successfully.
4. create another pvc with volumesnapshot failed.

From log,  not sure why csi driver cannot get the resource, could you kindly help check if issue from csi driver side?  Thanks in advance.

Resource we have(snapshotcontents/snapshots

[2020-02-06 14:00] andyzhangx commented on #275
there is on going PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/260) to move snapshot alpha api to beta, that would fix this issue.

[2020-02-06 14:09] duanwei33 commented on #275
Yes, I noticed v1.17 using beta, so I used the updated yaml file.
Or you mean need update csi-driver as well for new api version?

[2020-02-06 14:12] andyzhangx commented on #275
yes, that's all in PR#260, actually it's working now, I am fixing the snapshot e2e tests in that PR.

[2020-02-06 14:23] duanwei33 commented on #275
Got it.
I appreciate your kind and quick support.

[2020-02-07 12:00] #274 closed

[2020-02-09 09:18] andyzhangx opened #276 "add azure disk WriteAccelerator support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Add azure disk WriteAccelerator support when PR(https://github.com/kubernetes/kubernetes/pull/87945) is merged

**Describe alternatives you've considered**

**Additional context**

[2020-02-09 14:33] #159 closed

[2020-02-09 14:33] #275 closed

[2020-02-09 16:07] #253 closed

[2020-02-10 03:30] andyzhangx opened #278 "check yaml config files in test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-02-10 03:37] andyzhangx commented on #275
@duanwei33 snapshot of latest version should work, I have migrated to v1beta1 version now. Pls try again by redploying latest master version: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md

[2020-02-10 04:48] andyzhangx commented on #278
`line too long` error should be skipped in the test.

[code]

[2020-02-10 05:41] duanwei33 commented on #275
Hi @andyzhangx

First, I use rbac-csi-snapshot-controller.yaml instead of rbac-csi-azuredisk-controller.yaml in following guide:
skip below yaml configurations if snapshot feature(only available from v1.17.0) will not be used
kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/master/deploy/crd-csi-snapshot.yaml
kubectl apply -f https://raw.githubusercontent.com

[2020-02-10 05:47] duanwei33 commented on #275
I found there is one error message when deploying:

$ oc apply -f rbac-csi-azuredisk-controller.yaml
serviceaccount/csi-azuredisk-controller-sa unchanged
clusterrole.rbac.authorization.k8s.io/azuredisk-external-provisioner-role unchanged
clusterrolebinding.rbac.authorization.k8s.io/azuredisk-csi-provisioner-binding unchanged
clusterrole.rbac.authorization.k8s.io/azuredisk-external-attacher-role un

[2020-02-10 10:07] andyzhangx opened #280 "azure cloud provider metrics not found in metrics port"
**What happened**:
By creating a ClusterIP service, we could get metrics from csi driver, while those metrics does not have any `cloudprovider` metrics, e.g. `cloudprovider_azure_api_request_duration_seconds_sum`

[code]

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl

[2020-02-10 12:27] andyzhangx commented on #275
pls try again installing the csi driver: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md
it's related to broken format of `rbac-csi-azuredisk-controller.yaml`:
[code]

[2020-02-10 13:11] duanwei33 commented on #275
HI @andyzhangx
It works now, thanks a lot for your support.

[2020-02-10 14:32] andyzhangx commented on #278
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/279

[2020-02-10 14:51] #278 closed

[2020-02-10 15:06] kosta709 commented on #269
Thanks @andyzhangx
lets wait
but now the attach time in azure is 10-15s but because of waiting for long-running + exp. backoff + locks on node level actual kubernetes attach+mount can take few minutes

I suggest these changes - https://github.com/codefresh-io/azuredisk-csi-driver/blob/attach-delay-fix/CHANGELOG-v0.5.0-attach-delay-fix.md

see also draft pr on my fork https://github.com/codefresh-i

[2020-02-10 15:18] andyzhangx commented on #269
@kosta709 thanks for the check. We do the node level lock is because when attach a disk, we update the data disk list, so if we lock lun+node, when there are two disk attachment in the same time, there would be race condition:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/ed7d4842332c6518cac287c036a09237c956f005/vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go#L62

[2020-02-10 15:37] andyzhangx commented on #269
@kosta709 BTW, we already use `wait.Poll` to poll the `findDiskByLun` result every second, current problem is mainly on slow disk attachment. And also there is some cost on k8s volume controller, when sometimes disk attach costs more than 1min, it may exceed 2min timeout value. Anyway, main problem is on slow disk attachment sometimes.

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/

[2020-02-10 16:23] kosta709 commented on #269
regarding nodeserver.go - yes it polls every second, but if /dev/... is not there (findDiskByLun returns "") it returns  fmt.Errorf("azureDisk - findDiskByLun(%v) failed within timeout", lun).  and exits from `wait.Poll`
It causes to kubelet retry NodePublishVolume with exponensial backoff, and because /dev/disk/azure/... can appear 15-60s after first first call it can reach 2m timeout.
So I sugge

[2020-02-11 03:16] andyzhangx commented on #269
@kosta709 thanks, I agree, are you willing to contribute this fix to azure disk csi driver? Let's fix the nodeserver first. About the second Controller fix, I need some time to check it carefully.

[2020-02-12 06:14] ZeroMagic commented on #280
The problem is probably at the update of k8s.io/legacy-cloud-provider. Since the k8s.io/legacy-cloud-provider was updated a few days ago, some codes about metrics are refactored.

I will fix it later.
/assign

[2020-02-12 14:20] Robert-Stam commented on #273
@andyzhangx : Any news on this? Please provide a ballpark estimate if a solid ETA cannot be provided atm. Thanks in advance! Robert

[2020-02-13 07:58] #139 closed

[2020-02-13 09:27] andyzhangx commented on #273
@Robert-Stam  azure disk team are still investigating on this since there is a blocking issue, current VM is using VHD, and it does not support dynamic resize.

[2020-02-13 18:06] chewong opened #283 "Containerize sanity test and deploy it to an Azure cluster"
**Is your feature request related to a problem?/Why is this needed**

we hit a test failure when running StageVolume test since that StageVolume is invoked by a container on google cloud.

**Describe the solution you'd like in detail**

Containerize the sanity test and run it on an Azure cluster.

**Describe alternatives you've considered**

**Additional context**

/assign

[2020-02-13 18:24] xamox commented on #273
Here is the forum issue for Azure.  I would recommend going there and voting it up:
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/39681535-online-resize-of-the-pv-pvc-for-the-kubernetes

[2020-02-13 21:46] chewong commented on #283
@andyzhangx I tried to containerize the sanity test and ran it as a pod on an Azure cluster but `should fail when volume does not exist on the specified path` is still failing.
[code]
Test cases after running the above test case also failed due to:
[code]
I was wondering if you see anything wrong with the pod manifest or Dockerfile in https://github.com/kubernetes-sigs/azuredisk-csi-driver/compare

[2020-02-14 01:50] andyzhangx commented on #283
great, I think we are close to make it work:
@ZeroMagic looks like it's a bug in `NodeGetVolumeStats` feature:
[code]

[2020-02-14 02:05] ZeroMagic commented on #283
yes, it is a bug. In this case, we need to return code 5.

Thanks, @chewong

[2020-02-14 09:14] andyzhangx opened #286 "upgrade to latest azure cloud provider which contains azure clients refactor"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

upgrade to latest azure cloud provider:
https://github.com/kubernetes/kubernetes/pull/88017

depends on https://github.com/kubernetes/legacy-cloud-providers/commits/master to update

**Describe alternatives you've considered**

**Additional context**

[2020-02-14 13:03] andyzhangx opened #288 "detach azure disk using dangling error"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We should have same [detach azure disk using dangling error](https://github.com/kubernetes/kubernetes/pull/81633) as in-tree driver, it's quite useful feature when there is detach error happened.

Dangling volume mechanism for CSI does not exist
https://github.com/kubernetes/kubern

[2020-02-14 14:28] ZeroMagic commented on #202
With the PR https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/260, all the sidecar versions are satisfied now.

[2020-02-14 14:28] #202 closed

[2020-02-14 15:18] chewong commented on #283
@andyzhangx @ZeroMagic Looks like `should return empty when the specified snapshot id does not exist` does not work when the test is run inside a container. [This](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/pkg/azuredisk/controllerserver.go#L602-L608) should get triggered but it didn't. Any idea?
[code]

[2020-02-14 16:02] andyzhangx commented on #283
@chewong that's because the return error changed due to latest azure cloud provider client PR, I will fix that, you could track issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/286

Thanks, we are very close to make it work. Just hold on for a while.

[2020-02-14 16:32] andyzhangx commented on #283
@chewong could you use the latest master branch, I think that's due to `Backoff retrying`, and master branch should not have such issue.

[2020-02-15 02:20] #286 closed

[2020-02-15 02:47] andyzhangx opened #290 "add doc about how to use metrics in driver"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

related issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/280
related PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/287

**Describe alternatives you've considered**

**Additional context**

[2020-02-15 04:11] andyzhangx opened #292 "add a test case for WriteAccelerator feature"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/291)
added a new parameter(`writeAcceleratorEnabled` case insensitive) in azure disk storage class, for static provisioning, user needs to add a new tag(`writeacceleratorenabled` case **sensitive**) on azure disk before

[2020-02-15 04:13] #280 closed

[2020-02-15 12:45] #276 closed

[2020-02-15 13:14] andyzhangx opened #294 "uninstall snapshot CRDs would hang"
**What happened**:
It looks like there is dependency between the CRDs
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-02-18 04:06] andyzhangx commented on #82
Currently driver depends on azure.json(InstanceMetaData) to get availability zone:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/d4c3a6681bc3a9c38565d3d6adb3a39931395ca2/pkg/azuredisk/nodeserver.go#L299
I don't think we could remove this dependency now

[2020-02-18 04:06] #82 closed

[2020-02-18 06:53] ZeroMagic commented on #268
I will add it after pr https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/270 merged.

[2020-02-19 00:10] chewong commented on #194
/assign

[2020-02-19 07:58] andyzhangx opened #297 "fix race condition when delete azure disk right after that attach azure disk"
**What happened**:

port PR: https://github.com/kubernetes/kubernetes/pull/84917

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-02-20 00:27] chewong commented on #283
@andyzhangx @ZeroMagic `should fail when volume does not exist on the specified path` has passed. However, it looks like it caused all the test cases after it to fail with the following error message:
[code]

[2020-02-20 01:25] andyzhangx commented on #283
@chewong
if failed here: https://github.com/kubernetes-csi/csi-test/blob/33de331fc3d2ab181f6d207863f0a85ae0b5d629/pkg/sanity/sanity.go#L280
looks like in the before, sanity test runs in container inside Google cloud, `/tmp/csi-mount` always not exists, while in your config, it always exists, did you specify volume mounting for `/tmp` path in your tests?

[2020-02-20 10:55] ZeroMagic commented on #283
@chewong
In csi-sanity tests, if it fails to invoke `NodeUnpublishVolume`, it will not delete the target directory `/tmp/csi-mount/target`. So the `/tmp/csi-mount` directory still retains in the filesystem.
Ref: https://github.com/kubernetes-csi/csi-test/pull/225

I am not sure what test ran before this failure test.

[2020-02-20 17:09] chewong commented on #283
@ZeroMagic Thanks for the info. `NodeUnpublishVolume` did failed in `should fail when volume does not exist on the specified path` test case with the following error:

[code]

It looks like the test case did not throw an error when calling `Expect(err).NotTo(HaveOccurred())`. I think your PR would fix the issue.
Here is the detailed log of the sanity run: [sanity.log](https://github.com/kubernetes

[2020-02-24 12:44] #268 closed

[2020-02-26 20:24] ibalajiarun opened #302 "v0.6.0 file not found"
**What happened**:
I ran:
[code]

I got:
```error: unable to read URL "https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/master/deploy/v0.6.0/crd-csi-driver-registry.yaml", server reported 404 Not Found, status code=404```

**What you expected to happen**:

Successful application

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver vers

[2020-02-27 03:05] andyzhangx commented on #212
Update: this issue is also fixed in 1.15.8, 1.16.5, 1.17.1, 1.18.0 for in-tree azure disk driver.

[2020-02-27 05:59] ZeroMagic commented on #302
Since we have changed CSIDriver CRD from alpha to beta, it does not need to create crd-csi-driver-registry.yaml. I will update the document.

[2020-02-27 07:47] #302 closed

[2020-02-27 08:30] ZeroMagic commented on #294
In k8s v1.17, there is no problem.

[2020-02-27 13:43] ZeroMagic commented on #128
/remove-lifecycle stale

[2020-02-28 11:14] andyzhangx commented on #45
reopen since PR #247 is only part of this work

[2020-02-28 15:24] ZeroMagic commented on #283
@chewong I think the merged PR #304 should fix the issue. You can try it again.

[2020-02-28 19:51] chewong commented on #283
@ZeroMagic thanks for the fix. Sanity test works now and I will create a PR soon.

[2020-03-02 09:02] celiawa opened #309 "Failed to mount volume when CSI Migration on k8s v1.17.1"
I'm using azuredisk csi 0.6.0. When do the CSI Migration test.
Found that the volume can be created and attached using the in-tree storageclass. But the pod failed to start because the volume can't be mount with below error.
[code]

**Environment**:
- CSI Driver version: 0.6.0
- Kubernetes version (use `kubectl version`):   v1.17.1
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- In

[2020-03-02 09:26] andyzhangx commented on #309
not sure about the exact problem, looks like your deployment lacks of following rbac config?
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c0495bf9e17e10806b9f2f47b3bd968295a4b3d5/deploy/rbac-csi-azuredisk-controller.yaml#L72-L74
How did you set up such a cluster? by aks-engine? and also have you enabled `--feature-gates=CSIMigration=true,CSIMigrationAzureDisk=true` in kube-controll

[2020-03-02 09:27] andyzhangx commented on #309
just let me know how can I repro this issue on my env. thanks.

[2020-03-02 10:00] celiawa commented on #309
Checked that I have following rbac config.

  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch", "update"]

And I enabled the - --feature-gates=RotateKubeletServerCertificate=true,CSIMigration=true,CSIMigrationAzureDisk=true
in kube-controller-manager.yml and also in kubelet-config.yml.

The intree sc is as below.
[root@azure-onekey-azure-oneke

[2020-03-02 10:23] celiawa commented on #309
The volumeattachment relevant role is added.

[root@azure-onekey-azure-onekey-cs-01 templates]# kubectl describe clusterroles azuredisk-external-attacher-role
Name:         azuredisk-external-attacher-role
Labels:       chart=csi-azuredisk
              chartVersion=1.0.3
              heritage=Tiller
              release=csi-azuredisk
              revision=1
Annotations:  <none>
PolicyRule:
  R

[2020-03-02 13:49] andyzhangx commented on #309
hi @celiawa there is a migration issue on kubelet fixed in k8s `v1.18.0-beta.0`, `v1.17.4`.
The migration only works on disk volume provision stage, so in `v1.17.1`, pls remove `CSIMigrationAzureDisk=true` in kubelet config on agent.

Here are more details, we are planning to add migration e2e tests from v1.18.0:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/298#issuecomment-5934091

[2020-03-03 01:53] celiawa commented on #309
Thanks Andy. We'll disable Migration this release.

[2020-03-03 08:55] ZeroMagic commented on #218
There is an example for reference. https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/175

[2020-03-05 05:56] andyzhangx opened #312 "shared disk raw block device support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

go sdk for shared disk will soon be ready.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-shared-enable

**Describe alternatives you've considered**

**Additional context**

[2020-03-09 08:40] rgarcia89 opened #314 "Could not format /dev/sdx issue when mounting PV"
**What happened**:
When deploying pods that use a pvc I do get from time to time the following error notification:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: 0.6.0
- Kubernetes version (use `kubectl version`):
[code]
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Inst

[2020-03-09 08:47] rgarcia89 commented on #314
StorageClass manifest used:
[code]

[2020-03-09 08:56] rgarcia89 commented on #314
Further information from the csi-azuredisk-node pod - azuredisk container.
[code]

Looking on the requesting kubernetes there is no directory under the path that the /dev/sdd should be mount at
[code]

[2020-03-09 08:56] #147 closed

[2020-03-09 09:00] andyzhangx commented on #314
It's better install WALinuxAgent on your agent VM, and are you trying to use `ext2` file system?

[2020-03-09 09:01] rgarcia89 commented on #314
[code]
is already installed

[2020-03-09 09:01] rgarcia89 commented on #314
Do I have to use ext2?

[2020-03-09 09:04] andyzhangx commented on #314
o, you are using `ext4`, could you make sure `/dev/sdd` is the disk on lun1, looks like udev rules are not populated on your agent VM.

[2020-03-09 09:07] rgarcia89 commented on #314
[code]
looks okay to me

[2020-03-09 09:12] andyzhangx commented on #314
what's the remaining logs after
[code]

[2020-03-09 09:15] rgarcia89 commented on #314
[code]
looks like this

[2020-03-09 09:15] andyzhangx commented on #314
and try using `v0.6.0` driver, I think you are using `v0.7.0` master image according to logs:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-v0.6.0.md

[2020-03-09 09:18] andyzhangx commented on #314
there is a volume mapping config change recently, are you messing up with that:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/313/files
what's your `csi-azuredisk-node.yaml`, is it using `/devhost` or `/dev`?

[2020-03-09 09:18] andyzhangx commented on #314
I may need your full `csi-azuredisk-node.yaml` config, thanks.

[2020-03-09 09:21] rgarcia89 commented on #314
Oh yeah you are right. I used the `install-driver.sh` thought this would point to the v0.6.0 in the deploy folder of this git repo. However, it seems like it doesn't I have changed this now and deployed the files from the following directory: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/v0.6.0

[2020-03-09 09:23] rgarcia89 commented on #314
Before I was deploying the configs from this directory as they are used by the `install-driver.sh` https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy script

[2020-03-09 09:26] andyzhangx commented on #314
if you "git pull" master branch, and then run `install-driver.sh`, it should also work since it would install master branch image. While I think you are using old `csi-azuredisk-node.yaml` config with latest master branch image, there is a version mismatch there.

BTW, I will create a new `install-driver-v0.6.0.sh` script to address your concern about the installation script issue.

[2020-03-09 09:36] rgarcia89 commented on #314
Looks better now that I used version 0.6.0.
Thanks for your quick help.

[2020-03-09 09:40] #314 closed

[2020-03-18 23:59] chewong commented on #257
Had some progress with e2e tests on Windows clusters - https://github.com/chewong/azuredisk-csi-driver/tree/windows-e2e

/assign

[2020-03-21 02:23] andyzhangx commented on #178
consider port this code change to in-tree driver since there are customer asking for this feature

[2020-03-23 06:23] #312 closed

[2020-03-26 02:43] andyzhangx opened #331 "add shared disk e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

[Shared disk feature](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-shared-enable) is still in private preview, should add e2e test  when it's in public preview.

**Describe alternatives you've considered**

**Additional context**

[2020-03-26 07:11] rgarcia89 opened #332 "SKU - Zone-redundant storage (ZRS)"
**Is your feature request related to a problem? Please describe.**

RIght now it is not possible to set a SKU of type Zone-redundant storage (ZRS). This however, is possible when deploying your Azure Cluster via AKS. In order to survive the outage of a zone it would be nice if this option could be made possible.

**Describe the solution you'd like in detail**

Make it possible to create ZRS pvc wi

[2020-03-26 07:18] andyzhangx commented on #332
hi @rgarcia89 azure disk only supports `Standard_LRS, Premium_LRS, StandardSSD_LRS, UltraSSD_LRS`, while  you could create a zone supported AKS cluster, and azure disk csi driver is zone aware, follow guide here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/topology

[2020-03-26 07:33] rgarcia89 commented on #332
hi @andyzhangx thanks for your fast response.
I must have been confused by the following [book](https://books.google.de/books?id=DeTWDwAAQBAJ&pg=PA262&lpg=PA262&dq=azure+disk+ZRS+kubernetes.io&source=bl&ots=ACSH3Vfr9u&sig=ACfU3U3K6BngXP747IksMRWWBMqhatGhQQ&hl=de&sa=X&ved=2ahUKEwikkavOzrfoAhVCxaYKHX8eCCYQ6AEwA3oECAgQAQ#v=onepage&q=azure%20disk%20ZRS%20kubernetes.io&f=false)

Our nodes are already z

[2020-03-26 07:40] andyzhangx commented on #332
Correct, now you could only create zone aware PVC, and that PVC could only be in that zone, e.g. azure disk in zone#1 could not be moved to zone#2.

[2020-03-26 07:44] rgarcia89 commented on #332
Thats a pity... So there is no way to use ZRS for such a cluster?

[2020-03-26 07:57] andyzhangx commented on #332
I rechecked the azure disk doc, currently only disk snapshot supports ZRS, while azure disk only supports these 4 types: `Standard_LRS, Premium_LRS, StandardSSD_LRS, UltraSSD_LRS`

https://azure.microsoft.com/en-us/pricing/details/managed-disks/

[2020-03-26 15:44] eliyahu77 opened #333 "support read cloud config from secret"
Hi * ,

I installing   plain k8s cluster and want to connect the k8s ckuster to azure account ,
there is any way to do it when the cloud config is not plain text.

BR Eliyahu

[2020-03-27 00:35] andyzhangx commented on #333
use this template: https://github.com/andyzhangx/demo/blob/master/aks-engine/deployment/etc/kubernetes/azure.json ?

[2020-03-27 00:41] eliyahu77 commented on #333
I install the

[2020-03-27 00:45] eliyahu77 commented on #333
Yes part of it , i install also with kubespary that genrate thrnclod config    this file will be on all the nodes after install  there is any way to create this file as part of csi yaml like create it as secret in k8s?

[2020-03-27 02:14] andyzhangx commented on #333
that's a good point, where do you want to store all contents in azure.json, by k8s configmap? We will see how to make install easier

[2020-03-27 07:40] Colstuwjx opened #335 "Replace cluster driver registrar with CSIDriver CRD"
**Is your feature request related to a problem?/Why is this needed**
See the cluster driver registrar [repo](https://github.com/kubernetes-csi/cluster-driver-registrar#note), it notes that the sidecar container has been officially deprecated since 1.16, and suggested that turn to use [CSI Driver object](https://kubernetes-csi.github.io/docs/csi-driver-object.html).

**Describe the solution you'd l

[2020-03-27 08:10] andyzhangx commented on #335
thanks for raising this.
I think we are already using CSI driver object: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-azuredisk-driver.yaml

[2020-03-27 08:14] Colstuwjx commented on #335
Okay, I think we don't need to run the sidecar container inside controller anymore, the [controller yaml](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-azuredisk-controller.yaml#L75) may needs update.

[2020-03-27 08:17] andyzhangx commented on #335
@ZeroMagic could you take a look? I think at least azure file, blobfuse csi driver need replace with CSI Driver object too.
/assign @ZeroMagic

[2020-03-27 08:33] ZeroMagic commented on #335
ok. The storage.k8s.io/CSIDriver has moved to GA in k8s v1.18 recently. We can directly use the GA version.

[2020-03-27 09:41] andyzhangx commented on #335
@ZeroMagic we still need to make sure whether it's supported by 1.14.

[2020-03-28 02:15] andyzhangx commented on #199
/lifecycle stale

[2020-03-29 13:02] andyzhangx opened #338 "add snapshot/windows driver selection in helm chart installation"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related to PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/337
Snapshot driver is only available on 1.17.0, at least need to add snapshot, windows drivers into helm installation, this is required for windows e2e test too.

**Describe alternatives you've considered*

[2020-03-29 16:15] eliyahu77 commented on #333
HI
https://stackoverflow.com/questions/56060284/create-kubernetes-secret-from-json-file
maybe the follwoing link can hel create the file as secret , and because the csi is inside k8s cluster it will bale to access this secret

[2020-03-30 08:01] Colstuwjx opened #339 "leader-election-type has been removed in csi attacher v2.x"
**Is your feature request related to a problem?/Why is this needed**
I found that our attacher deploy yaml still includes [-leader-election-type](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-azuredisk-controller.yaml#L59), it may works right now, since we're using v1.2.0, but It has been removed since v2.0, see [ref](https://github.com/kubernetes-csi/external-atta

[2020-03-30 08:05] andyzhangx commented on #339
thanks for reminder, you are working on kubernetes-csi-tencentcloud, right?

[2020-03-30 08:09] Colstuwjx commented on #339
Yes, I'm not from tencentcloud, my corp is using tencentcloud infra, so I forked the repo.

[2020-03-30 11:58] andyzhangx commented on #333
thanks for the info, we are already working on this, below PR is the first step:
https://github.com/kubernetes/kubernetes/pull/89645#issuecomment-605954148

[2020-03-30 13:07] #294 closed

[2020-03-30 14:55] andyzhangx opened #342 "add e2e test to make sure install-driver scripts work"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/install-driver-standalone.sh
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/uninstall-driver-standalone.sh

**Describe alternatives you've considered**

**Additional context**

[2020-03-31 02:55] #332 closed

[2020-04-01 03:52] ZeroMagic commented on #335
The GA version only can be used in k8s v1.18+. Still use the beta version currently. Here we just remove the cluster driver registrar. Is it ok? @andyzhangx

[2020-04-01 09:39] andyzhangx commented on #335
yep, we could have a try to remove cluster driver registrar, our e2e test could make sure it works or not

[2020-04-03 02:02] #335 closed

[2020-04-03 03:23] andyzhangx commented on #333
/assign @ZeroMagic

[2020-04-03 06:05] andyzhangx commented on #342
it's done

[2020-04-03 06:05] #342 closed

[2020-04-05 02:28] andyzhangx commented on #333
it's non blocking now, https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/347 has already exposed the KubeClient

[2020-04-06 07:26] CriaHu opened #350 "list 404 urls"
.github/PULL_REQUEST_TEMPLATE.md
1.[404] https://git.k8s.io/community/contributors/devel/release.md
2.[404] https://git.k8s.io/community/contributors/devel/testing.md
 CONTRIBUTING.md
3.[404] https://git.k8s.io/community/contributors/guide/contributor-cheatsheet.md
 deploy/example/windows/README.md
4.[404] https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/win-script/deploy/ins

[2020-04-06 12:53] andyzhangx commented on #350
thanks for reporting this! How did you find it? is there a script, I would like to make it into our CI test, thanks.

[2020-04-07 02:29] #350 closed

[2020-04-07 05:41] andyzhangx commented on #333
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-provider-config.md#setting-azure-cloud-provider-from-kubernetes-secrets

[2020-04-09 01:37] #333 closed

[2020-04-09 02:31] #338 closed

[2020-04-09 06:43] andyzhangx commented on #333
@eliyahu77 pls follow this guide to read cloud config from secret: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/read-from-secret.md
Currently only master branch supports this feature.

[2020-04-11 14:06] #257 closed

[2020-04-11 14:06] #194 closed

[2020-04-11 14:06] #45 closed

[2020-04-11 14:07] andyzhangx commented on #192
already supported on k8s v1.17.4 with `v0.7.0` version

[2020-04-11 14:07] #192 closed

[2020-04-13 02:07] andyzhangx commented on #269
@kosta709 FYI. to address the long disk attach/detach latency, we have worked out a new feature on azure file csi driver: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/disk, it's vhd disk based on azure file, disk attach/detach only costs < 1s

[2020-04-13 02:11] andyzhangx commented on #269
the original issue was fixed by https://github.com/kubernetes/kubernetes/pull/88158, fixed in release 1.15.9, 1.16.8, 1.17.4, 1.18.0 and azure disk CSI driver `v0.7.0`

[2020-04-13 02:11] #269 closed

[2020-04-14 06:07] celiawa opened #358 "Support for tags parameter in VolumeSnapshotClass"
We have policy set to only allow the resources to be created with some specific tags.
We can create the pv with below tags added in storageclass.
parameters:
  ...
  tags: 'TicketURL=*****'

But when create snapshot, it failed to pass the policy after we added the tags in the volumesnapshotclass.

Can we support to add tags in snapshot.

Azure csi version: v0.6.0
Kubernetes version: v1.17.4

[2020-04-14 06:09] andyzhangx commented on #358
/assign @ZeroMagic

[2020-04-15 03:27] ZeroMagic commented on #358
@celiawa  Thanks for your report. I will add it as soon as possible.

[2020-04-15 09:09] rfranzke opened #360 "Cannot mount volume after CSI migration"
**What happened**:
Volumes that were created with the legacy `kubernetes.io/azure-disk` provisioner cannot be mounted during/after CSI migration. The CSI driver fails with

[code]

After restarting the CSI driver it suddenly succeeds to mount the disk:

[code]

**What you expected to happen**:
The CSI driver should be able to mount the disk without manual actions

**How to reproduce it**:
1. Creat

[2020-04-15 09:25] andyzhangx commented on #360
Looks like it's not related to migration config. Can you try use `mountPath: /dev ` in your node deployment?

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/8944610524bad4739fbcc034b4081f99ba58b49c/deploy/v0.7.0/csi-azuredisk-node.yaml#L113-L114

[2020-04-15 10:05] rfranzke commented on #360
Thanks, indeed, good hint. That fixed it :)
I opened a PR to adapt the examples.

/close

[2020-04-15 10:05] #360 closed

[2020-04-15 12:32] #358 closed

[2020-04-15 12:48] andyzhangx commented on #358
@celiawa It's already supported in master branch:
[code]

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/driver-parameters.md#volumesnapshotclass

[2020-04-19 14:18] andyzhangx commented on #309
fixed in v1.17.4+

[2020-04-19 14:18] #309 closed

[2020-04-21 19:08] chewong opened #365 "Adjust container resource requests and limits based on load test result"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

https://github.com/Azure/aks-engine/pull/3080#discussion_r409905612

[2020-04-21 20:49] ialidzhikov opened #366 "Provisioning fails with default values for --timeout and --connection-timeout"
**What happened**:
`csi-provisioner` requires explicitly specifying high values for `--timeout` and `--connection-timeout` in order to be able to provision a volume successfully.

**What you expected to happen**:
I would expect the default timeouts to be enough as they are for AWS and GCP for example.

**How to reproduce it**:
1. The default StorageClass is the following one:
[code]

2. Create PVC

[2020-04-21 21:16] ialidzhikov commented on #297
@andyzhangx , this one should be fixed with #234, right?

[2020-04-22 01:40] andyzhangx commented on #366
`connection-timeout` is actually deprecated, and useless now. The default value of `--timeout` is 15s, per our below CI test result, it already takes 11s to provision a 10GB `Standard_LRS`, set as 15s it not safe.

@VybavaRamadoss FYI.

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/364/pull-azuredisk-csi-driver-e2e-single-az/1252598520725114882

[2020-04-22 01:52] andyzhangx commented on #365
/assign @ZeroMagic

[2020-04-22 02:29] andyzhangx commented on #297
correct, already fixed in version `v0.7.0`

[2020-04-22 02:29] #297 closed

[2020-04-22 05:59] ZeroMagic commented on #219
Actually, all of our pre-provisioned scenario e2e tests cover the static provision. Because the mount process of azuredisk is different from blobfuse and azurefile, here we don't need to write a new test to cover.

[2020-04-22 05:59] #219 closed

[2020-04-23 02:17] andyzhangx opened #372 "fix golint issues"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Also could enable `golangci-lint run --no-config --enable=golint --disable=typecheck --deadline=10m` for `hack/verify-golint.sh` script
[code]

**Describe alternatives you've considered**

**Additional context**

[2020-04-23 03:06] andyzhangx opened #373 "switch back to use `e2eteam/busybox:1.29`"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/faae1b6d9a78e956201dae26e5e116b28ab152a5 fixed the windows e2e test failure by using `mcr.microsoft.com/dotnet/framework/samples:aspnetapp`, while that image is too large(1.9GB), would cause first windows e2e test failu

[2020-04-23 13:49] andyzhangx commented on #373
cc @claudiubelu

[2020-04-24 07:58] #373 closed

[2020-04-25 15:00] andyzhangx opened #378 "Implement ListVolumes"
**Is your feature request related to a problem?/Why is this needed**

When a Node gets deleted, and Pod is rescheduled, Kubernetes thinks that the the volume is still attached to the original node and fails to attach to the new node with Multi-Attach error.

**Describe the solution you'd like in detail**

The latest csi-attacher v2.1 adds support for the ListVolumes capability: https://github.com/

[2020-04-27 01:31] #372 closed

[2020-04-27 03:08] andyzhangx opened #381 "fix windows Add-Content command transient error"
**What happened**:

may add encoding parameter in the `Add-Content` test:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/380/pull-azuredisk-csi-driver-e2e-windows/1254589218768818176/build-log.txt

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver versio

[2020-04-27 03:21] andyzhangx opened #382 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

improve UT coverage including
 - controllerserver
 - nodeserver
 - identityserver
 - version

https://coveralls.io/github/kubernetes-sigs/azuredisk-csi-driver?branch=master

![image](https://user-images.githubusercontent.com/4178417/80330904-1bf9d680-8879-11ea-9cf5-15cccee06ad7.png

[2020-04-27 03:30] #339 closed

[2020-04-30 06:54] andyzhangx opened #385 "Disk performance tuning"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://stian.tech/disk-performance-on-aks-part-1/#Test1
including os disk and data disk perf tuning

**Describe alternatives you've considered**

**Additional context**

[2020-04-30 14:59] andyzhangx commented on #385
Update:
I think this MS doc already explains the Azure host cache setting, which has same conclusion as that blog post.
https://stian.tech/disk-performance-on-aks-part-1/#Test1
TLDR:
•	Disable Azure cache for workloads with high number of random writes
•	Use a P15 (256GB) or larger Premium SSD even though you might only need a fraction of it.

https://docs.microsoft.com/en-us/azure/virtual-machine

[2020-05-01 12:31] andyzhangx opened #387 "add snapshot controller image version check in verify-helm-chart.sh"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add snapshot controller image version check in verify-helm-chart.sh
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-snapshot-controller.yaml

there is only csi-snapshotter image check:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/c0f3d

[2020-05-06 21:45] palma21 commented on #331
FYI:
https://discourse.ubuntu.com/t/ubuntu-high-availability-corosync-pacemaker-shared-disk-environments/14874

[2020-05-08 09:31] andyzhangx opened #393 "volume created by built-in driver should work after migration"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Make sure following migration scenario works:
 1. user create volume by built-in driver(`provisioner: kubernetes.io/azure-disk`), volume could be:
  - dynamic PV
  - static PV
 2. cluster upgrade scenario(with migration switch=`true`, all in-tree driver request would be redirected

[2020-05-11 07:30] #387 closed

[2020-05-15 10:54] letmaik commented on #128
Will inline volumes also support raw block volumes?

[2020-05-15 11:03] andyzhangx commented on #128
we don't have plan to support inline volume in this driver. I think it's possible to support raw block device with inline volume feature.

[2020-05-15 12:36] letmaik commented on #128
I don't understand your response. Could you rephrase that?

[2020-05-15 12:42] andyzhangx commented on #128
first we have no plan to support inline volume in this driver in current stage since there is no strong requirement, and if we are going to support inline volume feature in the future, raw block device should be possible with inline volume.

[2020-05-15 13:33] letmaik commented on #128
Thanks for confirming. I was confused because there was a PR for this already https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/255.

[2020-05-19 06:25] ezYakaEagle442 opened #398 "Enable Cloud Provider Config file as a parameter during driver installation, needed for ARO support"
**What happened**:

The [CSI driver doc](https://github.com/kubernetes-sigs/azuredisk-csi-driver#prerequisite) states :
The driver initialization depends on a Cloud provider config file, usually it's /etc/kubernetes/azure.json on all kubernetes nodes deployed by AKS or aks-engine, here is azure.json example. This driver also supports read cloud config from kuberenetes secret.

Indeed this is what

[2020-05-19 08:48] andyzhangx commented on #398
thanks for raising this issue, I think use helm should be the right way to set a different cloud provider config file.

[2020-05-19 14:37] andyzhangx commented on #398
already fixed by #400
And you could use following workaround to install CSI drivers on prior releases, e.g. v0.7.0
[code]

[2020-05-20 01:50] #398 closed

[2020-05-23 14:16] ezYakaEagle442 opened #402 "Document Volume Limit support"
**Is your feature request related to a problem?/Why is this needed**

Volume Limit is supported but not documented, a documentation with a sample would be welcome

**Describe the solution you'd like in detail**
Document Volume Limit support

**Describe alternatives you've considered**

**Additional context**

[2020-05-23 14:29] ezYakaEagle442 opened #403 "Azuredisk Static Provisioning fails"
**What happened**:

I have successfully installed the CSI driver on AKS. Then I started to perform the role assigment below but it was not enough:
[code]

So I then I did add the role assignment below
[code]
I did create a disk in my own RG but then hit a role assingment issue at runtime :
az disk create --name $disk_name --sku Premium_LRS --size-gb 5 --zone 1 --location $location -g $rg_name

So

[2020-05-23 14:32] andyzhangx commented on #403
pls use `volumeBindingMode: WaitForFirstConsumer` in zone support, details:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/topology#use-following-storage-class-with-topology-support

[2020-05-23 15:07] ezYakaEagle442 commented on #403
The issue does not happen when I create the dis kwithout the zone parameter :
az disk create --name $disk_name --location $location -g $managed_rg --sku Premium_LRS --size-gb 5

[2020-05-24 00:00] andyzhangx commented on #403
I see, your vmss cluster is not zoned, so you should not create a disk with zone

[2020-05-24 00:00] #403 closed

[2020-05-26 09:40] anshulahuja98 commented on #238
@andyzhangx  is this still open/required?

[2020-05-26 09:48] andyzhangx commented on #238
yes, there is only a deployment test here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/1cf5d698b4ff19f8d7783979dd5b6ba5743dd8fe/test/e2e/testsuites/dynamically_provisioned_delete_pod_tester.go#L42

[2020-05-26 11:01] andyzhangx commented on #238
let me know if you want to participate in this project,  thanks.

[2020-05-26 12:30] andyzhangx opened #406 "fix test error in github action"
**What happened**:
original azure action yaml does not work
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/1cf5d698b4ff19f8d7783979dd5b6ba5743dd8fe/.github/workflows/go.yml#L1-L33

https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/405/checks?check_run_id=709211370

not sure whether it's related to go 1.13 not available on github action.
[code]

**What you expected to happe

[2020-05-26 12:32] andyzhangx opened #407 "Charts: refine helm installation"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/294

**Describe alternatives you've considered**

**Additional context**

[2020-05-26 13:13] andyzhangx opened #408 "Cannot create snapshot on a disk in external resource group"
**What happened**:
Now the resource group of snapshot is hardcoded as node resource group which is wrong:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/873e575520dfe9efa4686a3ab90845f6bd2ebb85/pkg/azuredisk/controllerserver.go#L602

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubern

[2020-05-26 14:38] andyzhangx opened #409 "refactor the snapshot code"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

I found `extractSnapshotInfo` func is not in good coding style:
 - I think we should remove `if !strings.Contains(snapshotID, "/subscriptions/") {` condition since it's not `extractSnapshotInfo`
 - add a unit test for `extractSnapshotInfo` func and comments for the format of  `extr

[2020-05-26 15:17] chewong commented on #238
We actually have a test case in cloud-provider-azure that uses statefulset + autoscaler + azuredisk-csi-driver -
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/tests/e2e/autoscaling/autoscaler.go#L137

[2020-05-27 01:24] andyzhangx commented on #381
still failing now:
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/410/pull-azuredisk-csi-driver-e2e-windows/1265435775105765376/build-log.txt

[2020-05-27 04:44] #408 closed

[2020-05-27 09:58] anshulahuja98 commented on #406
I did some investigation around this
So firstly the method of providing the go version has some issues, the carat (^) is not working as intended

So we should specify it explicitly as '1.13' or '1.12.1'

Also I added a step for doing
`go get`

During installing dependencies, there is possibly a need to upgrade/update some libraries
[code]

Refer this build logs: https://github.com/anshulahuja98/az

[2020-05-27 11:03] andyzhangx commented on #406
thanks for the investigation, in travis CI, go 1.12.1 works:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/fcbd49356397e4515b36d4c15c01e46932e165ab/.travis.yml#L5-L6

Also enable go action is not a must now, we are using travis CI to get code coverage data, that's also ok now.

[2020-05-27 13:57] anshulahuja98 commented on #406
Can you help me understand where in the travis build are we setting up the dependencies?
It's not there in the YAML explicitly.

[2020-05-27 14:02] andyzhangx commented on #406
It should be supported by travis natively, not sure why github action did not work. Here is all we have for the setting: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/.travis.yml

[2020-05-27 14:02] anshulahuja98 commented on #199
Incremental Snapshots is in GA now.
https://azure.microsoft.com/en-us/updates/azure-managed-disks-incremental-snapshots-are-now-available/
We can perhaps support it now.

I can work towards it.

[2020-05-27 14:03] anshulahuja98 commented on #406
Ohkay!

[2020-05-27 14:07] andyzhangx commented on #199
hi @anshulahuja98 there is already a PR here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/405

[2020-05-27 14:08] anshulahuja98 commented on #199
Oh, I might have missed it.

[2020-05-27 14:13] andyzhangx commented on #238
@anshulahuja98 would you help add this statefulset test as a warm up? thanks.

[2020-05-27 14:15] anshulahuja98 commented on #238
@andyzhangx I started some work towards it, would keep you posted about it.

[2020-05-27 14:32] andyzhangx commented on #382
@anshulahuja98 you can also start with this, we have made progress on improve unit test code coverage on another project, you could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver

[2020-05-28 02:02] #199 closed

[2020-05-29 02:37] andyzhangx opened #413 "enable external e2e storage test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We also have external e2e storage tests, need to figure out how to enable external e2e storage test on this driver:
https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external

**Describe alternatives you've considered**

**Additional context**

[2020-05-29 09:01] andyzhangx commented on #128
there is more general inline volume support, don't need CSI driver change: https://github.com/kubernetes/enhancements/pull/1701

[2020-05-29 14:08] xamox commented on #273
Any movement on this?

[2020-05-31 15:16] anshulahuja98 opened #417 "Subscription/RG parameters when taking snapshot"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently from what I could check, azure disk CSI driver doesn't give an option to take the snapshot in another resource group and/or subscription. Is there a possibility to extend this and provide that capability by adding a parameter in the  VolumeSnapshot spec. And then correspo

[2020-06-01 01:25] andyzhangx commented on #417
Currently we take snapshot in resource group where the original disk is:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/d383bceef29891faf51c38e84c49567bed81732e/pkg/azuredisk/controllerserver.go#L568-L571

I think we can add a new parameter(`resourceGroup`) in snapshot class, if specified, then snapshot would be made on that rg:
https://github.com/kubernetes-sigs/azuredisk-csi-driver

[2020-06-01 04:49] anshulahuja98 commented on #417
@andyzhangx  I'll work on this.

[2020-06-01 10:56] andyzhangx commented on #218
/remove-lifecycle stale

[2020-06-01 13:00] #417 closed

[2020-06-01 13:22] andyzhangx commented on #417
also I remember that attach disk in subs#1 to VM in subs#2 is not supported, so there is not strong requirement to support cross-subs for snapshot too as I could see.
[code]

[2020-06-02 03:49] andyzhangx commented on #382
cc @Sakuralbj

[2020-06-02 04:40] anshulahuja98 commented on #417
Makes sense.
We can take care of this in future when Azure Disk supports it.

[2020-06-04 02:28] andyzhangx opened #421 "use toBeDetached flag in detach disk"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We should always use following way to detach a disk other than remove that disk from data disk list:
1. get latest vm model
2. set toBeDetached=true
3. update vm model

We are struggling with following disk attach/detach failure on AKS from time to time, by switching to use `toBeDe

[2020-06-07 10:21] ialidzhikov commented on #273
/remove-lifecycle stale

[2020-06-07 11:12] andyzhangx commented on #273
@xamox Azure disk team are working on this, **rough** estimation is end of this year

[2020-06-08 14:54] xamox commented on #273
Okay, thanks @andyzhangx

[2020-06-12 11:22] Sakuralbj commented on #407
/assign

[2020-06-13 00:09] #407 closed

[2020-06-15 06:12] #189 closed

[2020-06-15 10:50] andyzhangx commented on #262
azure disk driver migration is already Beta in 1.19

[2020-06-15 10:50] #262 closed

[2020-06-15 10:56] andyzhangx commented on #382
update, UT coverage is now 44.68%:
![image](https://user-images.githubusercontent.com/4178417/84649901-e5b40b80-af39-11ea-8183-599ea7c31ae7.png)

[2020-06-16 12:19] andyzhangx opened #427 "don't run e2e test with doc change"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

don't run e2e test with doc change (`*.md` file), could refer to https://github.com/kubernetes/test-infra/pull/17800

make change into https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml

**Describe

[2020-06-17 03:20] ZhiFeng1993 commented on #427
/assign

[2020-06-17 08:09] andyzhangx commented on #72
/assign @ZeroMagic

[2020-06-19 14:55] #72 closed

[2020-06-21 12:02] andyzhangx commented on #421
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/432

[2020-06-21 12:02] #421 closed

[2020-06-22 01:22] andyzhangx opened #433 "add e2e test for tags feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

`tags` is already supported in CSI driver now, need to add e2e test, after `tags` specified in storage class parameters, should use azureClient to verify whether azure disk has set the correct tags:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/6cbc2015328bf6921fc4c5

[2020-06-22 01:45] andyzhangx opened #434 "add snapshot restore e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently we only have create snapshot e2e test, need to add snapshot restore e2e test
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go

**Describe alternatives you've considered**

**Additiona

[2020-06-22 11:54] andyzhangx commented on #178
in-tree driver support is done in `v1.19.0`

[2020-06-22 11:54] #178 closed

[2020-06-23 08:23] anshulahuja98 opened #436 "Disk Detach not working properly"
**What happened**:
Unable to mount more PVs to the cluster
[code]

Even though it was the only PV that was in the cluster. I had deleted all other PVs and PVCs. Somehow there were perhaps not properly detached. This issue happened to me in another cluster as well. Unable to fix it. Multiple disks are also shown attached when checking from the azure portal when ideally they should have been detache

[2020-06-23 08:26] andyzhangx commented on #436
could you check how many disks are already attached on that node?

[2020-06-23 08:30] anshulahuja98 commented on #436
Where can I check that info?
I could overall see that I was not able to delete 5 disks from azure portal as they seemed to be attached to VMs in the cluster. It is a 2 node cluster

From k8s view I only have 1 PV 1 PVC so others should have ideally been detached.

[2020-06-23 08:32] anshulahuja98 commented on #436
I just checked the VM in the VM scale set and it does show 4 disks attached to it

[2020-06-23 11:43] andyzhangx commented on #436
How are the 4 disks attached to your VM? by CSI driver? The Azure disk CSI driver would assume that all data disks should be handled by driver itself.

[2020-06-23 11:47] anshulahuja98 commented on #436
All disks were CSI provisioned.

[2020-06-23 11:53] andyzhangx commented on #436
how could repro this issue? If you delete PVCs which are already mounted, it won't succeed. Could be related this feature not implemented: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/378

[2020-06-23 11:56] anshulahuja98 commented on #436
It's a bit tricky to reproduce this issue. I just personally faced this 2-3 times.
I deleted the PVC's by removing the finalizers which further delete the PV and ideally the disk.
Being related to #378 I am not sure.

[2020-06-23 12:03] andyzhangx commented on #436
so finally the 4 disks are still attached to that node, and no one pod is using those 4 disks, right?

[2020-06-23 12:04] anshulahuja98 commented on #436
Yes

[2020-06-30 08:24] ljeromets commented on #273
+1, we are also waiting for it.

[2020-07-02 07:54] andyzhangx commented on #433
cc @Sakuralbj

[2020-07-02 07:55] andyzhangx commented on #434
cc @Sakuralbj

[2020-07-02 07:56] andyzhangx commented on #238
cc @Sakuralbj

[2020-07-02 09:56] andyzhangx opened #440 "Remove blob disk code in CSI driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related to PR: https://github.com/kubernetes/kubernetes/pull/92749
after that PR merged, should remove blob disk code in CSI driver

**Describe alternatives you've considered**

**Additional context**

[2020-07-08 11:08] andyzhangx opened #441 "Create Disk/snapshot/Resize Disk costs 10s while it should only costs 2s"
**What happened**:
Actually we already respects Retry-After in [WaitForCompletionRef](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b3b48d380066d8adc094ae6aa79c84aa6e19e437/vendor/github.com/Azure/go-autorest/autorest/azure/async.go#L171-L201), but not sure why it’s still taking so much time(10s vs 2s):
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b3b48d380066d8adc09

[2020-07-10 08:13] andyzhangx commented on #427
@Sakuralbj can you investigate this? It could save money for running CI tests, thanks.

[2020-07-16 08:35] andyzhangx opened #453 "add volume expand e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently we don't support resize azure disk when it's attached to one node, so current volume expand e2e test could be a little easier:
 - create a disk volume
 - resize to a bigger size
 - use diskclient to check the size whether it's correct

@Sakuralbj

**Describe alternatives

[2020-07-17 01:50] Sakuralbj commented on #453
/aasign

[2020-07-17 12:16] andyzhangx commented on #453
could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/175

[2020-07-17 13:41] andyzhangx commented on #382
update, it's now 57%

![image](https://user-images.githubusercontent.com/4178417/87792253-36d75800-c876-11ea-9e9f-0d3a2eb9b230.png)

[2020-07-20 02:18] andyzhangx opened #455 "decouple k/k/test/e2e/framework in the future"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://docs.google.com/document/d/1QgYEmdrdIirRCGBi2j55yb88WCZOGBqOJw7xj3s05PI/edit#

cc @nilo19

**Describe alternatives you've considered**

**Additional context**

[2020-07-20 16:17] ZhiFeng1993 commented on #427
/unassign

[2020-07-21 02:15] #453 closed

[2020-07-21 03:24] andyzhangx commented on #406
should be fixed

[2020-07-21 03:24] #406 closed

[2020-07-21 13:59] andyzhangx commented on #441
I also found CreateVolume, ResizeVolume also costs 10s, that's weird:
 - CreateVolume
[code]

 - ExpandVolume
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/459/pull-azuredisk-csi-driver-e2e-single-az/1285551606846197761/build-log.txt

there is definitely sth wrong with the disk client.
cc @feiskyer @ZeroMagic

[2020-07-21 14:09] andyzhangx commented on #441
/assign @ZeroMagic

[2020-07-22 06:05] Sakuralbj opened #460 "enable e2e-test-tag and verify resize-test on in-tree migration test in 1.19"
**Is your feature request related to a problem?/Why is this needed**
Now e2e-test-tag and resize-test skip in-tree migration test, it will be supported when Kubernetes upgrade to 1.19.

refet to [https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/456](https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/456) [https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/461](https

[2020-07-22 06:06] Sakuralbj commented on #460
@Sakuralbj

[2020-07-22 13:48] #433 closed

[2020-07-27 05:30] ZeroMagic commented on #441
I follow the [csi-dev.md](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-dev.md) to test it in the local environment. It always just costs 2s.
[code]

From the [e2e log](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/461/pull-azuredisk-csi-driver-e2e-single-az/1286329719641346048)  in the latest PR(#461), some cases st

[2020-07-27 05:32] ZeroMagic commented on #441
The related bug in Azure/go-autorest was solved. Could we update the Azure/go-autorest  in legacy-cloud-provider/azure firstly?

[2020-07-27 14:04] andyzhangx commented on #441
@ZeroMagic which `Azure/go-autorest` version fixed this issue? We can update go.mod for legacy-cloud-provider/azure directly. Refer to https://github.com/kubernetes/kubernetes/pull/89105

[2020-07-28 01:49] ZeroMagic commented on #441
From here https://github.com/Azure/go-autorest/issues/538#issuecomment-655849895, the bug was fixed in `autorest/v0.11.1`. And it has been released in `Azure/go-autorest v14.2.0` .

[2020-07-28 03:42] ZeroMagic commented on #218
Closed due to duplicated issue #453.

[2020-07-28 03:42] #218 closed

[2020-07-28 07:34] andyzhangx commented on #441
then update to v0.11.1 in k/k first: https://github.com/kubernetes/kubernetes/blob/master/go.mod#L14, also need to check whether `autorest/v0.11.1` really fixed the issue

[2020-07-31 04:02] andyzhangx commented on #381
PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/466) disabled this e2e test(` should create a deployment object, write and read to it, delete the pod and write and read to it again [kubernetes.io/azure-disk] [disk.csi.azure.com] [Windows] [It]`)

[2020-08-01 02:22] andyzhangx commented on #441
Let me change the driver config first

[2020-08-01 06:30] andyzhangx commented on #441
even in integration test which runs binary directly, create disk still costs 10s:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/468/pull-azuredisk-csi-driver-integration/1289387531569205248/build-log.txt

[code]

[2020-08-01 14:25] andyzhangx opened #469 "add expand volume integration test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[code]

 - got following error related to vol cap setting:
[code]
**Describe alternatives you've considered**

**Additional context**

[2020-08-04 02:04] andyzhangx commented on #129
/assign @ZeroMagic

[2020-08-04 12:50] #441 closed

[2020-08-05 01:49] andyzhangx commented on #221
/assign @Sakuralbj

[2020-08-07 08:52] andyzhangx opened #480 "expand volume may not work in migration scenario"
**What happened**:

From the testing logs, we could see there is no `ControllerExpandVolume` invoked in migration scenario
related PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/478
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/478/pull-azuredisk-csi-driver-e2e-migration/1291633285503389700/build-log.txt
[code]

cc @Sakuralbj

[2020-08-11 07:03] Sakuralbj commented on #221
/assign @Sakuralbj

[2020-08-11 07:14] Sakuralbj commented on #238
/assign @Sakuralbj

[2020-08-13 03:36] andyzhangx opened #483 "add github page for this driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://kubernetes-sigs.github.io/cloud-provider-azure/

**Describe alternatives you've considered**

**Additional context**

[2020-08-15 01:44] andyzhangx commented on #288
the dangling error original PR: https://github.com/kubernetes/kubernetes/pull/78595, working on it

[2020-08-17 08:40] #221 closed

[2020-08-19 10:49] #409 closed

[2020-08-19 10:49] #238 closed

[2020-08-20 07:55] #382 closed

[2020-08-20 14:17] andyzhangx commented on #480
it looks like in csi migration scenario, pv is created with in-tree, resize won't work if migration is on, it's not supported, could you confirm on this @msau42 thanks.

Here are some debugging logs, in `csi-resizer`, it said: `PV pvc-7d2ee270-495e-4f82-8f3b-dbc714c5ddc0 is not a CSI volume, skip it`
[code]

[2020-08-20 14:20] andyzhangx commented on #480
looks like this is a bug since in-tree driver supports volume expansion, while if migration is turned on, volume expansion is not supported in `csi-resizer` due to `PV pvc-7d2ee270-495e-4f82-8f3b-dbc714c5ddc0 is not a CSI volume, skip it`
cc @davidz627

[2020-08-20 15:13] Sakuralbj commented on #483
/assign

[2020-08-20 21:37] gnufied commented on #480
Yes I think as long as migrated PVC has right annotations, it should be processed by external-resizer. Is the external-resizer running?

[2020-08-21 00:00] andyzhangx commented on #480
`csi-resizer:v0.3.0`, thanks for confirm, I will try to debug this issue later.  @msau42

[2020-08-21 02:29] gnufied commented on #480
Looking at the error it looks like there is some error while translating PV spec from intree to CSI version, because call is reaching external resizer but it is rejecting it.

[2020-08-21 10:31] Morriz opened #496 "successful pvc resize does not increase disk size"
**What happened**:
pvc resize completed successfully after `kubectl edit pvc ...` and then removing pod, but it still shows the same old size it was before in the new pod.

**What you expected to happen**:
resize to reflect the disk size in the pod as described in the pvc resource.

**How to reproduce it**:
start statefulset with pvc claim
update pvc claim size (does nothing, which imo is another

[2020-08-22 01:34] andyzhangx opened #497 "replace logGRPC with standard LogGRPC"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

`logGRPC` func should be replaced by `LogGRPC`:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/04fde85b1e6d11e03f4ed9bbbf70f6f23c38ead8/pkg/csi-common/utils.go#L109-L121

https://github.com/kubernetes-csi/csi-lib-utils/blob/master/connection/connection.go#L181

**Des

[2020-08-23 02:56] #497 closed, assigned to nobody

[2020-08-24 00:23] #288 closed

[2020-08-24 00:23] #436 closed

[2020-08-24 00:31] andyzhangx opened #500 "add dangling error e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/499 added the dangling error support for this CSI driver, need to also add a dangling error e2e test, below are the steps to validate dangling error:

Below are the steps how to validate dangling error support:
 - create

[2020-08-24 00:32] andyzhangx opened #501 "implement dangling error feature for CSI driver gracefully"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/499 uses Azure API to detach disk directly(not through k8s volume controller), it's actually  not a graceful way to solve the dangling error issue on CSI driver(mentioned [here](https://github.com/kubernetes-sigs/azuredis

[2020-08-24 07:31] andyzhangx opened #505 "metrics does not work"
**What happened**:
follow page under: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/metrics
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2020-08-24 08:09] Morriz commented on #496
Ah, we didn't notice the disk detaching as it obviously took several minutes(?). We tried finding the correct lun but noticed that it was gone, making us investigate and see it was detached of course.

Thanks for the workaround. Time to start using something like https://github.com/opstree/dynamic-pv-scaler/issues/28

[2020-08-24 08:36] andyzhangx commented on #496
detach disk should take with 1min

[2020-08-25 07:37] ZeroMagic commented on #505
The feature works. The current doc is not totally correct. Only when meeting the following conditions, the method in the doc can works.
1. The node which executes the `curl` command is in the same subnet with the cluster so that the ClusterIP only can be accessed.
2. The replicas of controller is 1. When it is >1, the service will randomly select one controller to get the metrics. Then if the cont

[2020-08-25 07:43] ZeroMagic commented on #505
There was a issue #290  to track.

The suitable method is to use a prometheus server to get the metrics from all controllers and nodes. But it is a little complicate to config the prometheus server.

[2020-08-27 06:39] andyzhangx commented on #381
so it could be related to this issue: https://stackoverflow.com/questions/56944301/why-does-powershell-redirection-change-the-formatting-of-the-text-content

[2020-08-28 01:01] #331 closed

[2020-08-28 04:46] #505 closed

[2020-08-29 04:58] palma21 opened #513 "Missing parameter in volumesnapshotclass documentation"
**Is your feature request related to a problem?/Why is this needed**
Aren't we missing the `incremental` parameter from:

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/driver-parameters.md#volumesnapshotclass

**Describe the solution you'd like in detail**
Document the missing parameter

[2020-08-29 06:55] andyzhangx commented on #513
fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/3e02390234a2f520437d864b524a836f8f298d3b

[2020-08-29 06:55] #513 closed

[2020-08-29 06:56] andyzhangx commented on #496
there are detailed steps about disk resize here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/resize/volume-expansion.md

[2020-08-29 06:56] #496 closed

[2020-08-31 00:01] #402 closed

[2020-09-03 17:40] jchauncey opened #519 "buildx windows support doenst include os.version"
[code]

windows uses a key called os.version in the manifest to know which image to run for a particular manifest. When an image is created with buildx that information is missing and subsequently not added to the manifest when you run the `docker manifest create` command. You have to add this information manually.

Update:
    I see there is the reason why need os.version:

For Windows containers

[2020-09-04 10:51] andyzhangx commented on #393
migration details: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md

[2020-09-04 10:54] andyzhangx commented on #519
@jchauncey how can I add `os.version` into `docker buildx build` command, do you have an example? thanks.

[2020-09-04 10:54] andyzhangx commented on #519
cc @chewong

[2020-09-04 13:13] jchauncey commented on #519
You can see the fix here - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docker/build.sh#L103

[2020-09-06 07:52] andyzhangx opened #520 "fix unit test failure on Windows"
**What happened**:
If some tests could not run on Windows, just skip it, refer to https://github.com/kubernetes-csi/csi-driver-smb/pull/101
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Instal

[2020-09-06 08:14] andyzhangx commented on #366
would be fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/523

 - Before v0.8.0, disk creation time is 10s;
 - Since v0.8.0, disk creation time is around 2s after fix(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/473) in v0.8.0

So 15s is quite a safe timeout value now.

[2020-09-06 20:29] ialidzhikov commented on #366
Thank you @andyzhangx !

[2020-09-07 01:13] #366 closed

[2020-09-07 01:35] andyzhangx opened #524 "fix TestIsCorruptedDir unit test on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

unit test `TestIsCorruptedDir` could pass in admin mode on Windows:
[code]
related to bug: https://github.com/golang/dep/issues/773

more details refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/522#discussion_r484043300

**Describe alternatives you've consider

[2020-09-07 01:43] #520 closed

[2020-09-07 01:45] andyzhangx opened #525 "reenable unit tests on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to enable following unit tests on Windows since NodeXXX funcs would still run on Windows, should fix the test cases:

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-09-07 01:45] andyzhangx commented on #525
cc @mayankshah1607

[2020-09-09 02:26] duanwei33 opened #528 "Mounted volume size issue when cloning a larger size pvc"
**What happened**:
When cloned a target PVC with a larger size(16G) than the original PVC(8G), the mounted volume size for the container is accurately 8G.

**What you expected to happen**:
When cloned a target PVC with a larger size(16G) than the original PVC(8G), the mounted volume size for the container should equal to 16G

**How to reproduce it**:
Create original pvc(8G)
clone target pvc(16G)
C

[2020-09-09 02:42] andyzhangx commented on #528
@VybavaRamadoss do you know whether `DiskSizeGB` will be ommitted when `SourceResourceID` is not empty in disk creation?
[code]

We use this API to clone a disk: https://docs.microsoft.com/en-us/rest/api/compute/disks/createorupdate#creationdata,

related code:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/dd1d74696c8f9d754399fa0e81b0cfa8249a1d2a/vendor/k8s.io/legacy-cloud-providers

[2020-09-09 12:30] sandesha-rao-by opened #530 "Volumesnapshot readytouse is false when taking snapshot in different resource group"
**What happened**:
When taking incremental volume snapshot for azure managed disk in a different resource group than the disk , snapshot is created but volume snapshot readytouse status is false.

**What you expected to happen**:
When taking incremental volume snapshot for azure managed disk in a different resource group than the disk , snapshot is created with volume snapshot readytouse status se

[2020-09-09 13:17] andyzhangx opened #531 "csi-proxy v0.2.2 beta support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Should be careful about the csi-proxy v0.2.0 beta support since this driver is using v1beta1 API, this driver would depends on csi-proxy v0.2.0, and v0.1.0 won't work.

https://kubernetesartifacts.azureedge.net/csi-proxy/v0.2.0/binaries/csi-proxy.tar.gz

**Describe alternatives you

[2020-09-09 13:34] andyzhangx opened #533 "add e2e test for create snapshot on external resource group"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

to prevent bug: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/530

also need to add delete snapshot in e2e test

**Describe alternatives you've considered**

**Additional context**

[2020-09-09 14:19] andyzhangx commented on #530
thanks for reporting, there is a PR to fix this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/532

[2020-09-10 02:21] #530 closed

[2020-09-10 03:32] andyzhangx commented on #530
I have verified that https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/532 fixed this issue

[2020-09-10 07:47] andyzhangx commented on #533
cc @Sakuralbj

[2020-09-10 09:24] sandesha-rao-by commented on #530
@andyzhangx : The fix from the master works for me . Appreciate the quick fix 👍 Is this fix expected to be rolled out with next release ?

[2020-09-10 09:26] andyzhangx commented on #530
@sandesha-rao-by yes, let me know if that's urgent or not.

[2020-09-10 09:30] sandesha-rao-by commented on #530
As this is critical for us , it will be really great , if this fix can be rolled out with next release . Thanks .

[2020-09-10 09:34] andyzhangx commented on #530
@sandesha-rao-by is it possible to share how you use this snapshot feature? by a tool? how do you restore? Thanks.

[2020-09-11 01:22] andyzhangx opened #534 "support attacher v3.0.0"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

I found minimum k8s version for csi-attacher v3.0.0 is 1.17: https://github.com/kubernetes-csi/external-attacher/releases/tag/v3.0.0

Why do we want to upgrade this version? Our CSI drivers still supports 1.14+ versions

And minimum supported k8s version for resizer v1.0.0 is 1.16:

[2020-09-11 06:21] andyzhangx opened #535 "support Volume Health Monitor support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Should first implement following functionalities first:
 - ListVolumes
 - ControllerGetVolume
etc.

refer to
https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1432-volume-health-monitor

**Describe alternatives you've considered**

**Additional context**

[2020-09-11 07:43] ZeroMagic opened #536 "Use a standalone user agent"
**Is your feature request related to a problem?/Why is this needed**

Currently, we use the user agent in cloud provider to send an ARM request. Should decouple it and write a new armclient to use in this repository directly.

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-09-11 08:36] andyzhangx commented on #536
you mean copy the armclient code to this repo? is there any way to reuse the code, only replace the agent info?

[2020-09-11 09:09] ZeroMagic commented on #536
It will be more convenient to debug the failure in the kusto. Then it will be clearer to distinguish the requests between CSI Drivers and Cloud Provider, especially in CRP table.

Almost.

Need to investigate.

[2020-09-11 09:37] andyzhangx commented on #536
could be related to go mod setting:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/17906d16a160c476bfddbe569489964fc7cd2915/go.mod#L32

current value:
[code]

[2020-09-14 03:49] andyzhangx commented on #530
https://github.com/kubernetes-sigs/azuredisk-csi-driver/releases/tag/v0.9.0

[2020-09-14 07:13] sandesha-rao-by commented on #530
Awesome :tada: Thanks.

[2020-09-14 15:23] carlosrbcunha opened #539 "Azure CSI Node does not format and mount new volume"
**What happened**:

Azure managed disk is attached to the VM but when detecting if it is formatted it exits with error 2.

**What you expected to happen**:

Disk should be tested for the existence of a partition and a file system and if its not present, a partition should be created and formatted with the selected file system.

**How to reproduce it**:

- New azure disk is created via terraform
-

[2020-09-14 15:32] carlosrbcunha commented on #539
The nomad job definition has a typo.
Here is the correct one.

[code]

[2020-09-15 00:13] Sathishkunisai opened #540 "Volume Snapshot: azure csi driver conflicting with csi external snapshotter"
Azure CSI snapshotter controller is overlapping with external snapshotter of Ceph (rook), and not successful in creating snapshots of volumes.

Azure CSI Driver instructions:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md

CSI external snapshotter instructions:

https://github.com/kubernetes-csi/external-snapshotter/tree/v2.1.1#usage

Consider

[2020-09-15 02:08] andyzhangx commented on #540
if there is really conflict, remove one snapshot controller should be ok, run:
[code]

@Sathishkunisai do you have the install link of external snapshotter of Ceph? Thanks. In long term, need to figure out a way how  do we prevent such conflict, at least doc somewhere, thanks.

[2020-09-15 02:44] andyzhangx commented on #539
the error is due to incorrect mount options, `fsType` could be specified in storage class:

[code]

`ext4` is actually setting by default, so remove the above two `mount_options` should work.

[2020-09-15 09:36] andyzhangx commented on #290
already fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/metrics

[2020-09-15 09:36] #290 closed

[2020-09-15 15:29] andyzhangx opened #542 "add migration test on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-09-15 23:41] Sathishkunisai commented on #540
https://github.com/kubernetes-csi/external-snapshotter/tree/v2.1.1#usage
@andyzhangx  link is above.thanks

[2020-09-16 01:22] andyzhangx commented on #540
We use same snapshot controller, so only use one snapshot controller is ok, for this Azure disk CSI driver, snapshot controller is optional.

[2020-09-16 02:55] Sakuralbj commented on #519
I noticed that secrets-store-csi-driver build manifest using these instructions.
[code]
Is it necessary to integrate [build.sh](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docker/build.sh#L103)  in CI(https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/Makefile#L114)

[2020-09-16 02:58] Sakuralbj commented on #519
@jchauncey

[2020-09-16 08:10] carlosrbcunha commented on #539
Removing the two mount options was the solution. Nevertheless is not very intuitive, since it's a "logical" option having the fstype on the mount part. The code could accept as a viable option.
Thanks very much for your help and keep on the great work.

[2020-09-16 08:10] #539 closed

[2020-09-16 11:03] claudiubelu commented on #519
I've actually written that ``build.sh`` script. You can see that I've mentioned the ``os.version`` problem in that function's comments, and that I used a workaround in which I was manually setting the ``os.version`` in the manifest image itself.

And no, it isn't necessary to include in your CI since you're only building a manifest list with only 2 images: one for Linux and one for Windows. This i

[2020-09-17 15:01] andyzhangx opened #544 "fix windows test failure"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/543/pull-azuredisk-csi-driver-e2e-migration-windows/1306577171103354880/build-log.txt

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- O

[2020-09-22 14:21] andyzhangx opened #547 "driver daemonset pod run failure on Windows containerd"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/546/pull-azuredisk-csi-driver-e2e-migration-windows/1308389672262569984/build-log.txt
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS

[2020-09-24 13:23] andyzhangx opened #553 "driver daemonset restart multiple times on windows node"
**What happened**:

logs: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azuredisk-csi-driver/551/pull-azuredisk-csi-driver-e2e-migration-windows/1309059837136474112/build-log.txt
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`)

[2020-09-26 18:06] mayankshah1607 commented on #544
/assign

[2020-09-26 18:07] mayankshah1607 commented on #544
Related - https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/426

[2020-09-27 01:45] andyzhangx commented on #544
this is e2e test failure, it's not related to unit test falure

[2020-09-27 04:47] mayankshah1607 commented on #544
My bad, just saw

[2020-09-27 06:53] mayankshah1607 commented on #525
/assign

[2020-09-27 06:54] mayankshah1607 commented on #525
Some tests may fail due to csi-proxy. In that case, we will have to fake mount csi-proxy and run it as a process in Github Actions CI. Similar - https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/426

[2020-09-27 16:50] #385 closed

[2020-09-29 07:02] palmerabollo commented on #273
/remove-lifecycle stale

[2020-09-30 01:12] andyzhangx opened #559 "support LogicalSectorSize for UltraSSD"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

LogicalSectorSize should be with 2020-06-30/compute, when it's ready, should be supported by this driver.

We do have a feature in GA behind an AFEC flag where we expose a new disk property to customers where we let them specify whether the disk is 512 sector size enabled.

This is

[2020-09-30 10:15] carlosrbcunha opened #560 "Error starting node and controller for CSI"
**What happened**:
CSI Node and Controller Plugin failed to start
**What you expected to happen**:

**How to reproduce it**:

Start node or controller job

**Anything else we need to know?**:

`I0930 09:29:17.208388       1 main.go:86] set up prometheus server on [::]:29604
I0930 09:29:17.209793       1 azuredisk.go:114]
DRIVER INFORMATION:
-------------------
Build Date: "2020-09-30T06:42:33Z"
Co

[2020-09-30 12:01] andyzhangx commented on #560
it works on Ubuntu, how can I repro your issue? have you added following config in your blob container in the deployment?
[code]

[2020-09-30 12:07] andyzhangx commented on #560
it failed here:
`server.go:82] Failed to remove /csi/csi.sock, error: remove /csi/csi.sock: permission denied`

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/18ae1342cf55149e27e596d00a6a9d16c5480538/pkg/csi-common/server.go#L81-L82

[2020-10-01 14:57] andyzhangx opened #561 "migration issue on Windows"
**What happened**:

Use `default` storage class would lead to format-disk error on Windows
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-10-01 15:25] andyzhangx commented on #561
this could be due to the partial migration flag setting, `CSIMigrationAzureDisk=true` is only set in kube-controller-manager, not in kubelet setting.

[2020-10-01 15:25] #561 closed

[2020-10-02 17:04] carlosrbcunha commented on #560
I am running this on Nomad . Here are my nomad jobs for node and controller.

**Controller**
[code]

**Node**
[code]

As you can see, I have no options on users used or directories, I am only starting the nodes and controllers that will plugin the CSI Driver into Nomad.
With previous versions we did not have this problem.
Is there any parameter we need to add for this to work correctly (O.S. , doc

[2020-10-02 23:56] andyzhangx commented on #560
do you know how to set `securityContext` on the nomad? Should change the deployment similar to PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/439)
[code]

[2020-10-03 02:53] andyzhangx commented on #560
I will revert #558, revert PR: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/562 since #558 actually did not improve the security, that PR is just for bypass security scanning, while would introduce various permission setting issue.
cc @chewong

[2020-10-03 09:58] andyzhangx commented on #560
I have reverted the PR, pls use `imagePullPolicy: Always` to get the newly built latest image, thanks.

[2020-10-03 09:58] #560 closed

[2020-10-05 07:15] #525 closed

[2020-10-08 18:20] jingxu97 commented on #381
I discussed similar issue in in-tree gce pd driver https://github.com/kubernetes/kubernetes/issues/83590
I suspect volume data cache issue, so had a fix in in-tree driver https://github.com/kubernetes/kubernetes/pull/83591
it seems working..

[2020-10-09 02:19] gopalvibm commented on #559
is this being worked on? There is no way for us to try this out in the current storage class definition. What other options are there? can we modify a disk after it gets created by using the regular storage class method?

[2020-10-09 02:46] andyzhangx commented on #559
we are waiting on 2020-06-30/compute go sdk ready, and then work on this.
To workaround, only way is create a disk with this setting and then use static provisioning: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/e2e_usage.md#azuredisk-static-provisioninguse-an-existing-azure-disk

[2020-10-09 15:46] andyzhangx commented on #381
@jingxu97 thanks a lot, I will fix the in-tree also.

[2020-10-10 02:54] andyzhangx commented on #381
in-tree azure disk fix: https://github.com/kubernetes/kubernetes/pull/95456

[2020-10-12 07:00] andyzhangx commented on #542
it's done by adding a new pipeline: `pull-azuredisk-csi-driver-e2e-migration-windows`

[2020-10-12 07:00] #542 closed

[2020-10-14 12:22] andyzhangx opened #570 "switch to use batch disk attach/detach operation"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

 - support batch disk attach/detach operation
the batch window could be ~1s, while since the underlying VMSS only accepts data disk list, we still need to add lock when there is disk attach operation on one node, the diff is each disk disk attach/detach operation could be a batch o

[2020-10-16 13:24] koceg opened #571 "Volume Clone: failed to provision new volume if source volume and copied volume are in different zone"
**What happened**:

Generated from disk.csi.azure.com_xxxxxxxxxx 6 times in the last minute
failed to provision volume with StorageClass "azuredisk-csi": rpc error: code = Unknown desc = Retriable: false, RetryAfter: 0s, HTTPStatusCode: 400, RawError: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 400, RawError: { "error": { "code": "InvalidParameter", "message": "The resource 'pvc-80a6b8d2-c6a

[2020-10-16 13:36] andyzhangx commented on #571
looks like you are copying from disk pvc from zone#1 to zone#2, and it's not supported

[2020-10-16 13:45] koceg commented on #571
How can I specify that I want to clone the disk in the same zone as the first provision?

[2020-10-16 13:53] andyzhangx commented on #571
if you set `volumeBindingMode: WaitForFirstConsumer` in storage class and make the 2nd pod(with pvc-azuredisk-clone) schedule on same node as 1st pod(with pvc-azuredisk), it should work.

[2020-10-16 14:33] #533 closed

[2020-10-16 14:58] koceg commented on #571
After applying `volumeBindingMode: WaitForFirstConsumer` to storage class this ended up in a dead lock
- first pod starts successfully
- pvc-azuredisk-clone volume in pending state
- and after I create the second pod
  `Unable to attach or mount volumes: unmounted volumes=[azuredisk01], unattached volumes=[default-token-qs249 azuredisk01]: error processing PVC namespace/pvc-azuredisk-clone: PVC is

[2020-10-17 01:45] andyzhangx commented on #571
could you `kubectl describe pvc pvc-azuredisk-clone` to check why that pvc is in pending state? if you try a non availability zone cluster, it should work.

[2020-10-21 07:09] koceg commented on #571
Status from `pvc pvc-azuredisk-clone`
`Normal  WaitForFirstConsumer  14s (x9 over 2m)  persistentvolume-controller  waiting for first consumer to be created before binding`

and the pod itself reports
`Unable to attach or mount volumes: unmounted volumes=[azuredisk01], unattached volumes=[azuredisk01 default-token-qs249]: error processing PVC namespace/pvc-azuredisk-clone: PVC is not bound`

[2020-10-27 06:13] andyzhangx opened #573 "ZRS disk type support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

With ZRS disk type support, we could solve azure disk limitations on AKS:
https://docs.microsoft.com/en-us/azure/aks/availability-zones#azure-disks-limitations

ZRS disk is supported from azure-sdk-for-go v53.0.0:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/compu

[2020-10-27 17:29] marosset opened #574 "Add azuredisk-csi-driver support for Windows Server 2004 (and other OS versions)"
**Is your feature request related to a problem?/Why is this needed**

Currently the container images built for Windows are only built for Windows Server 2019.

**Describe the solution you'd like in detail**

Build container images for each supported Windows Server OS version listed here as part of a multi-arch image
https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-k

[2020-10-29 00:02] CecileRobertMichon opened #576 "getNodeVMSet assumes availability set or scale set"
**What happened**:

https://kubernetes.slack.com/archives/CEX9HENG7/p1603926809189800?thread_ts=1602177910.055200&cid=CEX9HENG7

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go#L94 assumes availability set or scale set. When using VMs with availability zones (not in availability sets) it fails with: `AttachVo

[2020-10-29 00:22] CecileRobertMichon commented on #576
I should add, this is while using the in-tree azuredisk provisioner (`kubernetes.io/azure-disk`) but I believe the same would happen with out of tree.

Storage class is:

[code]

[2020-10-29 00:31] CecileRobertMichon commented on #576
looks like this is the in tree codepath we are hitting: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go#L186

[2020-10-29 03:58] andyzhangx commented on #576
so we have a mixed node pools with both AVSet and VMSS, right? is it possible to set cloud provider config to standard, to check whether it works or not?

[2020-10-29 05:42] andyzhangx commented on #544
should already be fixed

[2020-10-29 05:42] #544 closed

[2020-10-29 05:43] andyzhangx commented on #483
not necessary now since it's has side effect

[2020-10-29 05:43] #483 closed

[2020-10-29 06:04] andyzhangx opened #577 "add external Kubernetes e2e tests in CI pipeline"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Kubernetes offers so called external tests, where it can run e2e tests against an installed CSI drivers.
See https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external

The step to run e2e test:
 - make WHAT=test/e2e/e2e.test in k8s repo
 - Install Azuredisk dri

[2020-10-29 06:27] andyzhangx opened #579 "add tags that in-tree driver uses"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently only one tag is added by default for CSI driver:
![image](https://user-images.githubusercontent.com/4178417/97533160-aff85680-19f2-11eb-8ab3-71c3b64cc327.png)

Should add same or similar tags as in-tree driver:
![image](https://user-images.githubusercontent.com/4178417/97

[2020-10-29 06:36] andyzhangx opened #580 "Add arm support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/527

**Describe alternatives you've considered**

**Additional context**

[2020-10-29 06:41] andyzhangx opened #581 "Improve csi-snapshotter ClusterRole"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

With v2.0.0 of kubernetes-csi/external-snapshotter, it is split into two component - the csi-snapshotter sidecar and the snapshot controller (ref kubernetes-csi/external-snapshotter#182). As the VolumeSnapshot watch is moved to the new snapshot controller, the csi-snapshotter sidec

[2020-10-29 14:41] CecileRobertMichon commented on #576
Correct

In https://github.com/kubernetes-sigs/cloud-provider-azure/issues/338, @feiskyer advised to set cloud provider config to vmss for mixed mode. I think that makes sense because VMSS nodes wouldn't not work if config is set to standard.

[2020-10-29 15:08] andyzhangx commented on #576
@CecileRobertMichon problem here is set cloud provider config to vmss for mixed mode does not work now, right?

[2020-10-29 15:54] CecileRobertMichon commented on #576
@andyzhangx main problem is that cloud provider has no knowledge of VMs with zones. It assumes VMSS or VMs in availability sets.

[2020-10-29 18:08] sshiba commented on #576
To reproduce the issue, from a clean cluster, deploy the csi-drivers with `curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/v0.9.0/deploy/install-driver.sh | bash -s v0.9.0 --`, then deploy the storage classes and the application. In this case the volume mount fails.

[code]
To make it work, from a clean cluster deploy the storage classes and the application. CSI d

[2020-10-30 19:16] sshiba opened #583 "Pod+PVC based on CSI storage class stays in Pending state"
Trying to mount a csi-based volume on a Pod.

**What happened**:
From a "clean" kubernetes cluster (v1.19.1) deployed through Cluster API, deployed the Azure csi driver, created a CSI StorageClass, then PVC+Pod.

After checking the creation PVC and Pod, they stay in Pending state "forever"

**What you expected to happen**:
Expect to have PVC created and bound and Pod running.

**How to reproduce i

[2020-10-31 00:30] andyzhangx commented on #583
what's the result of `kubectl describe pvc test-logs -n test`

[2020-10-31 00:31] andyzhangx commented on #583
also you could get more detailed logs here: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed

[2020-11-02 14:59] sshiba commented on #583
[code]

[2020-11-02 16:56] sshiba commented on #583
After some troubleshooting, I realized I was deploying the _azurefile-csi-driver_ instead of _azuredisk-csi-driver_. With the azuredisk drivers in place, did create the CSI-based storage class and application, which crashes the _csi-azuredisk-controller_ pods.

[code]

Here is what I get when inspecting the PVC:

[code]

And find below the yaml used for storage class and application deployment:

[

[2020-11-02 16:59] sshiba commented on #583
And logs for one of the pods crashing:

[code]

[2020-11-02 17:01] sshiba commented on #583
Btw, I executed the following command to deploy the _csi-azuredisk_ drivers:
`curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/azuredisk-csi-driver/v0.9.0/deploy/install-driver.sh | bash -s v0.9.0 --`

[2020-11-03 01:53] andyzhangx commented on #583
/assgin

[2020-11-03 01:54] andyzhangx commented on #583
/assign

[2020-11-03 14:10] andyzhangx commented on #583
it said:
[code]

have you set any azure credential in your `azure.json` config file? details: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master#prerequisite

Otherwise disk could not be created since in the end, azure disk csi driver needs some credentials talking to azure server.

[2020-11-03 18:32] sshiba commented on #583
The k8s cluster was created using Cluster API and credential was passed using environment variables.
So, are you saying that this is the reason the `csi-azuredisk-controller` pods are crashing?

[2020-11-03 19:04] CecileRobertMichon commented on #583
@andyzhangx we removed credentials from worker nodes https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/955 based on the assumption that only control plane nodes (which cloud provider runs on) need those credentials. Are you saying that assumption isn't valid?

The same is also true for AKS Engine https://github.com/Azure/aks-engine/pull/2849

[2020-11-04 12:03] andyzhangx commented on #583
the controller must have Azure credentials, otherwise how can controller create and attach azure disk?
In long term, I think we could set up an e2e test on Cluster API cluster? @CecileRobertMichon

[2020-11-04 14:32] sshiba commented on #583
@andyzhangx I setup a new cluster using the previous version of the Azure operator in Cluster API, which I was able to create a csi-based PVC.
[code]
But got an error on the Pod mounting the PVC volume:
[code]
Could you please let me know what needs to happen next to get this working?

[2020-11-04 14:37] andyzhangx commented on #583
could you share your `volume node affinity`? it said `volume node affinity conflict`

[2020-11-04 16:45] carlosrbcunha opened #584 "CSI volume does not attach normally after abnormal detach"
**What happened**:
After a docker/nomad clients reinstall (vm image update) which led terraform to shutdown the servers abruptly, CSI volume do not mount with error ```failed to setup alloc: pre-run hook "csi_hook" failed: node plugin returned an internal error, check the plugin allocation logs for more information: rpc error: code = Internal desc = could not format "/dev/disk/azure/scsi1/lun0"(lu

[2020-11-05 16:43] sshiba commented on #583
I found about the error `volume node affinity conflict` [here](https://stackoverflow.com/questions/51946393/kubernetes-pod-warning-1-nodes-had-volume-node-affinity-conflict). It says `The error "volume node affinity conflict" happens when the persistent volume claims that the pod is using are scheduled on different zones, rather than on one zone, and so the actual pod was not able to be scheduled

[2020-11-05 19:32] sshiba commented on #576
Even though it works if CSI-drivers are NOT installed, the cluster requires to have them installed. In this case, what are the options? Is this an issue with current implementation of CSI drivers from Azure?

[2020-11-06 13:04] #574 closed

[2020-11-11 21:01] sshiba commented on #583
Can someone know what is the conclusion for this issue?

[2020-11-11 21:01] sshiba commented on #576
What is the conclusion for this issue?

[2020-11-12 04:13] andyzhangx commented on #583
What's your zone of disk PVC now?
Since you are already using `volumeBindingMode: WaitForFirstConsumer`, it should schedule pod to node first and then create zoned disk PVC, could be interrupted by your original wrong credential config.
pls try delete all deployment and PVCs, and then try again.

[2020-11-12 04:54] andyzhangx commented on #576
this is not related to CSI driver, I see you are using in-tree azure disk driver: `kubernetes.io/azure-disk`

[2020-11-12 04:58] andyzhangx commented on #584
it looks like your disk partition is broken, right?  So actually the disk could be attached, while it cannot mount the file system in that disk, right?

[2020-11-12 11:51] andyzhangx commented on #519
already fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/585

[2020-11-12 11:51] #519 closed

[2020-11-12 14:30] andyzhangx commented on #580
refer to https://github.com/kubernetes-csi/csi-driver-smb/pull/144

[2020-11-13 14:41] sshiba commented on #583
That's what I did and same results

[2020-11-13 14:43] andyzhangx commented on #583
@sshiba could you provide `kubectl get no --show-labels` results? thanks.

[2020-11-13 14:44] sshiba commented on #576
As explained previously, the in-tree azure disk issue only occurs when CSI-driver is deployed in the cluster.
If I don't deploy the CSI-driver than in-tree azure disk works.

Are you saying that out-of-tree and in-tree features cannot co-exist?

[2020-11-13 14:45] andyzhangx commented on #576
@sshiba these two drivers are different, and they should not affect each other in theory.

[2020-11-13 14:49] andyzhangx commented on #583
the strange thing is if you use `volumeBindingMode: WaitForFirstConsumer` in storage class, and then create PVC, the PVC would not be in `Bound` state until pod is scheduled to the node successfully:

[code]

[2020-11-16 15:03] iMoses commented on #273
+1

[2020-11-16 18:44] sshiba commented on #576
@andyzhangx, this is exactly what I was expecting but didn't work as supposed. Did you try to reproduce it?

[2020-11-16 20:30] sshiba commented on #583
Find below the logs for

[2020-11-16 20:33] sshiba commented on #583
After creating the PVC and PoD, it starts crashing the `csi-azuredisk-controller-<id>` pod:
[code]

[2020-11-16 20:35] sshiba commented on #583
Just in case, find below the YAML that was used to deploy PVC and PoD:
[code]

[2020-11-17 13:58] andyzhangx commented on #583
could you check why `csi-azuredisk-controller-bdbbcc57f-5hchg` crash, and then get the error status container logs, could follow by: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed

And per your node labels, your master node is in zone#2, and other agent nodes are all in non-zone, that would make the ca

[2020-11-18 01:51] Jiawei0227 opened #591 "Raw block + volume expansion does not work"
**What happened**:

I am running kubernetes e2e tests specifically the volume expansion test https://github.com/kubernetes/kubernetes/blob/160c33a6a17b6c49fee365d7cbe2acc7f1fe2f8e/test/e2e/storage/testsuites/volume_expand.go#L169

And the combination of raw block and offline volume expansion does not work. The volume mount fail with following error in the pod events:
[code]

**What you expected to

[2020-11-18 08:25] andyzhangx commented on #591
thanks, do you know is there any special handling to support `Raw block + volume expansion`,  actually filesystem+volume expansion already works now.

[2020-11-18 18:25] Jiawei0227 commented on #591
I am not really sure... I think there might something need to be done in the NodePublishVolume where you check if File System Expansion is required? Again I dont have much knowledge on this.
/cc @msau42 to help understand this better.

[2020-11-18 19:10] msau42 commented on #591
For raw block PV, usually the block device is resized in the controller call, and there's nothing to do in the Node call because there's no filesystem. For example, in PD driver, this is a noop:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/f4608fbaa86182ffde2df3279bf61d10067ab454/pkg/gce-pd-csi-driver/node.go#L467

[2020-11-18 22:49] Jiawei0227 opened #592 "Snapshot restore cannot handle less than 1 Gi"
**What happened**:
I am running the k8s e2e snapshottable test againest Azuredisk csi driver. And the snapshot test failed because it failed to restore the snapshot to PVC. And I looked into what happened:

The PVC created by the e2e test is only 1 M, and when create snapshot, it seems azuredisk will automatically round up to 1G. So when trying to restore the PVC, the pvc will not be able to resto

[2020-11-18 23:43] msau42 commented on #592
For the e2e test, you can set min supported size in the TestDriver.

When the PVC from snapshot is created, does it use 1mb or 1gb?

[2020-11-19 00:14] Jiawei0227 commented on #592
It is 1mb, and that's the problem because snapshot created by the original "1mi PVC" is 1Gi

[2020-11-19 00:49] msau42 commented on #592
@andyzhangx what do you think of the driver erroring if someone tries to create a pvc < 1gb. I know other plugins silently round up to 1gb, but I prefer erroring so that users don't be surprised by a higher bill.

[2020-11-19 01:13] Jiawei0227 commented on #592
Or I think we could change the capacity to 1Gi in the PVC. That's the current behavior of GCE PD CSI

[2020-11-19 01:29] andyzhangx commented on #592
Azure disk does not support pvc < 1GB, default to 1GB as minimum is current behavior, BTW, in Azure billing, 1MB has same cost as  32GB ...

[2020-11-19 01:35] Jiawei0227 commented on #592
Yeah, I understand it does not support pvc<1GB, I think if we should make the PVC capacity to 1Gi instead of return 1Mi?

[2020-11-19 01:36] Jiawei0227 commented on #592
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/controller.go#L842

[2020-11-19 01:38] Jiawei0227 commented on #592
Because I also notice this even when PVC only shows up as 1Mi:

[code]

[2020-11-19 07:22] #267 closed

[2020-11-19 14:41] andyzhangx commented on #592
thanks, I created a PR to address this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/593, PTAL

[2020-11-19 16:37] sshiba commented on #583
I followed the instructions provided by [https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case1-disk-createdeleteattachdetachsnapshotrestore-failed) and find below the logs for the two csi controllers and four csi node

[2020-11-20 01:40] dhruvilshah3 commented on #273
Any update on this?

[2020-11-20 02:41] andyzhangx commented on #583
the disk controller crash is due to lack of Azure credentials since it need that credentials to create disk, you could put credential either in `azure.json` or k8s secret, follow:
https://github.com/kubernetes-sigs/azuredisk-csi-driver#prerequisite

[2020-11-20 02:42] #592 closed

[2020-11-20 18:52] Jiawei0227 opened #597 "Snapshot restore PVC cannot mount"
**What happened**:
External Storage [Driver: disk.csi.azure.com] [Testpattern: Pre-provisioned Snapshot (delete policy)] snapshottable[Feature:VolumeSnapshotDataSource] volume snapshot controller
  should check snapshot fields, check restore correctly works after modifying source data, check deletion

I am running e2e test snapshottable test against the azuredisk driver. When I was running into th

[2020-11-20 19:43] Jiawei0227 commented on #597
Hmm, it seems this is flaky. It happens also to:

External Storage [Driver: disk.csi.azure.com] [Testpattern: Dynamic Snapshot (delete policy)] snapshottable[Feature:VolumeSnapshotDataSource] volume snapshot controller
  should restore from snapshot with saved data after modifying source data

[2020-11-20 19:48] Jiawei0227 commented on #597
Okay, this is CSINode azuredisk log:
[code]

[2020-11-21 00:05] Jiawei0227 commented on #597
okay so this is super flaky. It is not about retain/delete policy or dynamic/pre-provisioned pvc. The restore test will just fail. I am wondering if there is a race condition here potentially.

[2020-11-21 01:42] andyzhangx commented on #597
@Jiawei0227 do you have the test case code? the error said `/dev/sde already mounted or mount point busy.`

[2020-11-21 01:44] andyzhangx commented on #597
are you using the same pv name `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-236cb755-0e6a-4883-8003-ff00e5fc6326/globalmount` for snapshot restore? I think for snapshot restore scenario, it should use a different PVC/PV name.

[2020-11-21 04:45] Jiawei0227 commented on #597
Nope, I am using the upstream OSS snapshottable test.

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/snapshottable.go#L213

[2020-11-23 16:08] CecileRobertMichon commented on #583
@andyzhangx does the controller not run on control plane nodes? Why do worker nodes need credentials? We have e2e tests running with cluster api (using in tree drivers) and they are passing even though the worker nodes don't have creds: https://testgrid.k8s.io/provider-azure-periodic#k8s-e2e-azure-disk-vmss-1-18-capz

[2020-11-24 02:27] andyzhangx commented on #583
for master-agent clusters, pls try following config first, it will run controller only on master node:
[code]

That config simply added `kubernetes.io/role: master` in controller config, not sure how to combine this with original config, at least could add some comments in `csi-azuredisk-controller.yaml`, anyway, pls try the above config first, thanks.

[code]

[2020-11-24 03:15] andyzhangx opened #598 "run controller only on master node"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

for master/agent clusters, controller should only run on master node since agent node does not have Azure credentials.
Could add this config into helm installation.

refer to
https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/583#issuecomment-732546196

**Describe alter

[2020-11-25 06:26] #598 closed

[2020-11-25 11:17] andyzhangx commented on #583
FYI, current master branch already supports run controller only on master node(with label `kubernetes.io/role: master`)  , and it's only supported in helm installation, with `--set controller.runOnMaster=true`

[2020-11-25 18:46] Morriz commented on #273
+1

[2020-11-26 04:03] #283 closed

[2020-11-26 04:03] #413 closed

[2020-11-26 08:48] andyzhangx commented on #273
since Azure storage team are still working on resizing attached disk feature, here is the workaround to resize attached disk, it requires remove pod, make disk in `unattached` state first, and then resize disk: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/known-issues/sizegrow.md

[2020-11-26 08:55] adamrushuk commented on #273
If anyone has to resize disks in a StatefulSet, my recent notes may also be useful: https://adamrushuk.github.io/increasing-the-volumeclaimtemplates-disk-size-in-a-statefulset-on-aks/

[2020-12-01 00:24] Jiawei0227 commented on #591
Keep exploring at this, I found the code in PDCSI is not being executed:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/f4608fbaa86182ffde2df3279bf61d10067ab454/pkg/gce-pd-csi-driver/node.go#L467

accesstype was never being passed to the CSI controller.
The reason pdcsi driver works is because https://github.com/kubernetes/kubernetes/blob/e0c587bf4fc1084cf915a6cbfe3

[2020-12-01 00:36] Jiawei0227 commented on #591
So basically it seems somehow the devicePath we get from `findmnt -o source --noheadings --mountpoint <volumepath>` is "devtmpfs[/sdc]
devtmpfs[/\sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]
devtmpfs[/sdc]:" This giant string

[2020-12-01 06:26] dhruvilshah3 commented on #273
@andyzhangx @adamrushuk thanks for the workaround - we're already using that in production but there are several related problems we run into given the lack of online resizing. Is there an ETA on when we can expect this issue to be completed?

[2020-12-03 02:45] #591 closed

[2020-12-07 08:01] andyzhangx opened #608 "add private link support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-private-links-for-import-export-portal

**Describe alternatives you've considered**

**Additional context**

[2020-12-07 08:45] andyzhangx commented on #608
the azure disk private link feature is only for VHD disk, close this issue.

[2020-12-07 08:45] #608 closed

[2020-12-07 14:14] andyzhangx opened #610 "add kubeletPath support in chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to smb csi driver: https://github.com/Azure/container-service-for-azure-china/blob/master/aks/README.md

kubelet.linuxPath | configure the kubelet path for Linux node | /var/lib/kubelet
-- | -- | --
kubelet.windowsPath | configure the kubelet path for Windows node | 'C:

[2020-12-09 19:31] sunpa93 commented on #469
The abovementioned error from expand-volume-test should be resolved upon approval of the PR below:
https://github.com/rexray/gocsi/pull/142

I will submit a PR that adds an expand volume test to the integration test once the gocsi PR is accepted.

[2020-12-11 22:29] Jiawei0227 commented on #597
Another data point on this: I add a 10s delay between delete the previous pod and start the next new pod using the snapshot. And this time the test succeed. Not sure if that is something related.

[2020-12-12 04:19] #581 closed

[2020-12-12 13:15] dr0pdb commented on #580
/assign

[2020-12-13 12:41] dr0pdb commented on #378
/assign

[2020-12-13 12:52] andyzhangx commented on #378
hi @dr0pdb someone else is already working on this.

[2020-12-13 14:09] andyzhangx commented on #570
related PR: https://github.com/kubernetes/kubernetes/pull/97265
batch operation for detach disk is done. Need verify in stress test.

[2020-12-13 15:10] dr0pdb commented on #378
oh okay. Thanks for the update.

[2020-12-14 15:19] zuzzas opened #614 "Deletion failed when a disk was already deleted"
**What happened**:

Deletion failed when a disk was already deleted.

[code]

**What you expected to happen**:

I expected CSI `DeleteVolume` request to succeed since there is no disk to delete.

**How to reproduce it**:

Detach and delete a Volume manually (through the console). azuredisk-csi controller won't be able to delete it then.

**Anything else we need to know?**:

I've tried to create a

[2020-12-14 18:51] edreed commented on #614
@zuzzas The error returned by [DeleteManagedDisk](https://pkg.go.dev/k8s.io/legacy-cloud-providers/azure#ManagedDiskController.DeleteManagedDisk) should be a [retry.Error](https://pkg.go.dev/k8s.io/legacy-cloud-providers/azure/retry#Error). Could you use a type assertion to convert to retry.Error and call [IsNotFound](https://pkg.go.dev/k8s.io/legacy-cloud-providers/azure/retry#Error.IsNotFound)?

[2020-12-14 19:06] edreed commented on #614
NM. I just realized that DeleteManagedDisk converts the retry.Error to a standard error through the use of the [retry.Error.Error()](https://pkg.go.dev/k8s.io/legacy-cloud-providers/azure/retry#Error.Error) function. *SIGH*

[2020-12-14 19:21] zuzzas commented on #614
Aye, I've been bashing at my keyboard for 10 minutes without realizing that. :c

[2020-12-14 22:28] kassarl commented on #579
I'm currently working on this issue

[2020-12-14 22:33] sunpa93 commented on #528
I will start working on this issue.

[2020-12-15 00:04] Jiawei0227 commented on #597
What I have found so far:

It seems that the issue is: when the system trying to do a fsck on the device, it reports that the device is **in use** which fails the NodeStageVolume step. I tried `lsof | grep /dev/sdxx(whatever the device is)`, it returns this:
[code]

I dont really understand why and what multipath does here.

Another thought: since adding a 10s delay between the previous pod tear d

[2020-12-15 01:07] landreasyan commented on #500
I am working on adding this test.

[2020-12-15 01:50] andyzhangx commented on #597
the disk detach could be more than > 10s, where did you add the sleep time in the snapshot test? Thanks.

[2020-12-15 01:57] andyzhangx opened #615 "enable deployment and statefulset e2e tests on Windows"
**What happened**:
I disable these 2 e2e tests on Windows due to this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/381

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b51e5b32408d53d0f7ceec17237019ae1f30d992/test/e2e/dynamic_provisioning_test.go#L588-L589
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/b51e5b32408d53d0f7ceec17237019ae1f30d992/tes

[2020-12-15 02:08] Jiawei0227 commented on #597
A little more context about the test. Here is what the test does:

1. Create a PVC and start a pod to write some initial data
2. Delete the Pod.
3. Create a Snapshot of the PVC. (Not waiting for the original disk to be fully detached)
4. Create another pod with the origin disk. Write some other data into the disk
5. Delete the Pod again.
6. Restore the snapshot to a new PVC and create a pod to use

[2020-12-15 02:51] andyzhangx commented on #597
could be related to this PR? https://github.com/kubernetes-csi/csi-proxy/pull/84